[2017-09-01 17:15] chrisdembia commented on #577
Great summary @antoinefalisse. Another question is whether the runtime error when using Lapack with adouble should (a) *always* be thrown, or (b) should only be thrown if ADOL-C is "taping" (that is, if the user intends to perform a derivative calculation). Approach (a) is likely easier but requires commenting out lots of tests when compiling with adoubles, while, with (b), we could get all the te

[2017-09-20 01:23] chrisdembia commented on #561
@sherm1 did you have anything to do with this?  I'm not sure how someone who is not part of the simbody organization could create a ZenHub account for it. Perhaps we should close this issue.

[2017-09-20 03:56] sherm1 commented on #561
Nope. Above it says "This issue was written by your friendly ZenHub bot, posted by request from @shahidul56." Looks like spam. Thanks for pointing it out. I don't think it actually authorized a ZenHub account -- the image above is boilerplate, not Simbody.

[2017-09-20 03:56] #561 closed

[2017-09-26 05:48] chrisdembia opened #581 "Clang warning about ignored explicit instantiation of Measure_<Vector>::Zero"
Apple Clang 9 gives the following warning:

[code]

I could remove the explicit instantiations, but are they still useful with MSVC, considering that MSVC does not have two-phase lookup (although, newer versions of MSVC will have two-phase lookup)?

[2017-09-26 08:19] broitsme opened #582 "error: 'class SimTK::ContactTrackerSubsystem' has no member named 'getContactSurfaceIndex';"
unable to run an example /simbody/examples/ExamplePendulum.cpp
and it is giving an error.

/home/rahul/Documents/learnc++/Git/simbody/examples/ExampleContactPlayground.cpp:160:33: warning: unused variable 'force' [-Wunused-variable]
             const ContactForce& force = m_compliant.getContactForce(state,i);
                                 ^~~~~
/home/rahul/Documents/learnc++/Git/simbody/exampl

[2017-09-26 15:30] sherm1 commented on #581
Maybe just suppress the warning? Sounds harmless.

[2017-09-26 15:39] sherm1 commented on #582
Odd. There certainly is a method `getContactSurfaceIndex()` [here](https://github.com/simbody/simbody/blob/master/Simbody/include/simbody/internal/ContactTrackerSubsystem.h#L205) and that is just 8 lines above the `getContactSurface()` method the compiler is suggesting. I wonder if you have a damaged or old header file?

[2017-09-30 06:12] #175 closed

[2017-09-30 06:13] chrisdembia commented on #246
I have no intent to change the CMAES optimizer in Simbody, so I'm closing this.

[2017-09-30 06:13] #246 closed

[2017-09-30 17:59] #581 closed

[2017-09-30 20:52] chrisdembia opened #584 "Replace pthread with c++11 threading support"
Pthreads for windows has an LGPL license. In order to avoid that license, we should replace this library with C++11's std::thread, etc.

I've already started to work on this, and I am a little more than halfway through.

@sherm1 do you think you would you accept a PR (or PRs) for this?

Related: #422.

- [x] AtomicInteger
- [x] ThreadLocal
- [x] ParallelWorkQueue
- [x] ParallelExecutor
- [x] Visua

[2017-09-30 23:34] sherm1 commented on #584
Definitely! I would love to get rid of pthreads altogether. It has other problems besides the license.

[2017-10-01 01:33] chrisdembia commented on #584
Great.

[2017-10-02 00:30] chrisdembia commented on #584
I've updated the top comment of this issue with a list of steps.

[2017-10-22 18:13] chrisdembia opened #589 "SimbodyConfig.cmake should handle BUILD_DYNAMIC_LIBRARIES=off"
PR #568 allows one to build only static libraries. However, [SimbodyConfig.cmake.in](https://github.com/simbody/simbody/blob/master/cmake/SimbodyConfig.cmake.in) does not handle this scenario. We should set `Simbody_LIBRARIES` to `Simbody_LIBRARIES-NOTFOUND` if shared libraries are not built.

[2017-10-24 07:38] chrisdembia commented on #577
@antoinefalisse submitted the first PR for this feature ( #588 ). It would be nice to set up Travis to build with BUILD_ADOLC_LIBRARIES=on.

I can try to set that up.

[2017-10-24 12:45] antoinefalisse commented on #577
@chrisdembia , isn’t it going to be a problem that Travis will try to build Simbody with _Real_ as _adouble_ but without all adolc-related changes having been merged yet? For instance, issuing the next PR with the changes in common.h will set _Real_ to _adouble_ but the libraries will not compile since all the other _changes_ are needed. Or is there another way to proceed?

[2017-10-24 16:35] chrisdembia commented on #577
Ah right. Maybe we can do without it then. Alternatively, we can add an adouble build and let it fail, but just ensure that it failed the way we expected.

We could also alter the adouble build to only build the parts that we think will work (e.g., only compile SimTKcommon_adolc).

Setting up Travis is a low priority though.

[2017-11-13 18:44] #510 closed

[2017-11-13 19:28] traversaro commented on #510
Thanks a lot @chrisdembia!

[2017-11-21 12:57] apalazzi opened #591 "MobilizedBody::Translation::getMobilizerAcceleration() returns velocity"
Hi,

Basically I'm using a MobilizedBody::Translation and when I call the getMobilizerAcceleration the result I get is the velocity and not the acceleration.

For more infos see this thread on the forum: [https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=47&t=8426&p=0&start=0&view=&sid=07e017617cfa1528b294efabd1dbe21c](url)

Tested also with latest 3.5 from github.

Bye
Andrea

[2017-11-28 19:38] apalazzi commented on #591
The code below shows the issue; the velocity and acceleration values are not exactly the same but they are quite near.

[code]

[2017-12-01 02:11] sherm1 commented on #537
Fixed in #592.

[2017-12-01 02:11] #537 closed

[2017-12-01 14:32] CSPer opened #593 "Build fails with intel compiler. Error: more than one instance of overloaded function matches the argument list"
The error message is as follows:

      simbody-Simbody-3.5.4/SimTKcommon/SmallMatrix/include/SimTKcommon/internal/Vec.h(69): error: more than one instance of overloaded function "SimTK::Impl::conformingSubtract" matches the argument list:

      function template "void SimTK::Impl::conformingSubtract(const SimTK::Vec<1, E1, S1> &, const SimTK::Vec<1, E2, S2> &, SimTK::Vec<1, SimTK::CNT<E1>::Resul

[2017-12-12 13:52] antoinefalisse opened #596 "Remove support for long double"
@sherm1, @chrisdembia, as previously discussed, I will work on a PR to remove support for` long double`.

I scanned through all files of Simbody looking for `long double`. I listed 15 files using `long double` (+ 5 files mentioning `long double` in comments only) in SimTKcommon as well as 6 tests. I did not find any `long double` in `SimTKmath` and `SimTKsimbody`.

I am wondering how I should deal

[2017-12-12 15:52] sherm1 commented on #596
I think it will be fine since it is a single concept and should be easy to review. It isn't just the number of changes that makes a PR hard to review -- it is much more difficult to review a PR that tries to address several independent goals at the same time.

Regarding the constants that use L, please leave those as is -- that just indicates they are at the highest available precision. When put i

[2017-12-15 20:22] chrisdembia commented on #584
I have a branch, `replace_pthreads`, in which the removal of pthreads is nearly complete (the only thing left is to actually remove the pthreads files for Windows). I've tested fairly thoroughly on Mac, but not on other platforms. On Linux, I am getting the following error (note to self):

[code]

My plan is to merge small parts of `replace_pthreads` into the `feature_replace_pthreads` branch unti

[2017-12-15 21:02] chrisdembia commented on #563
I'm getting the same error on Ubuntu 16.04:

[code]

[2017-12-15 22:35] sherm1 commented on #563
I would really like to understand this. The Simbody visualizer has had intermittent problems with pipe writing on Ubuntu for ages. :cry:

[2017-12-18 11:02] traversaro commented on #510
@chrisdembia Do you have any plan of doing a (ABI-breaking, if I am not wrong) release of the master-branch of Simbody in time to be included in Ubuntu 18.04 ? Thanks!

[2017-12-18 16:47] chrisdembia commented on #510
Our only plan is to make a release of Simbody just before OpenSim 4.0 is released in the next few months. If you need a release sooner, we can ask @sherm1 what he thinks. I'm happy to go through the steps of creating the release.

That's my understanding, too.

[2017-12-19 17:46] chrisdembia commented on #510
@traversaro what's the deadine for getting into 18.04?

[2017-12-19 17:55] traversaro commented on #510
I have no idea, I think the mantainer of the simbody package @j-rivero can provide some information on this.

[2017-12-19 21:30] j-rivero commented on #510
The end of the import from Debian is scheduled on 1st March. A major release of simbody should imply an update on package name (current is `libsimbody3.5`) which requires an extra process in Debian that could take weeks. I would suggest to release it before the end of January if possible. Feel free to write me when the release is read to be sure that we start the works as soon as possible.

[2018-01-04 13:18] apalazzi opened #604 "MobilizedBody::Translation has confusing getMobilizerAcceleration() method"
[Edited by sherm: see my comment below for a revised description.
The original description is here:]

the method MobilizedBody::getMobilizerAcceleration() is overriden in MobilizedBody::Translation but is not declared virtual; if a Translation class is then created with new and its pointer stored in a MobilizedBody* pointer, the call to getMobilizerAcceleration ends up executing MobilizedBody::get

[2018-01-07 22:29] chrisdembia opened #606 "Release Simbody 3.6"
As mentioned in #510, it would be nice to get a new release of Simbody into Ubuntu 18.04. As discussed with @sherm1, I will start preparing this release after #605 is merged. The version will be 3.6.

If OpenSim 4.0 requires additional changes to Simbody, we can create an additional release.

Here is the TODO list for creating the release (based on #275):

- [x] update changelog
- [x] in README.md

[2018-01-08 01:37] sherm1 commented on #591
The problem is that MobilizedBody::getMobilizerAcceleration() is an unimplemented method. Here is the doxygen comment and code for it from MobilizedBody.h:
[code]

[2018-01-08 02:03] sherm1 commented on #591
Hi, Andrea. The problem here is that you are not getting error messages from Simbody because
- there is no try/catch block around your main program (required for all Simbody programs)
- you need to make a Debug build in order to get all error checking in place (many of those checks are expensive so are suppressed in Release builds).

So your main problem should look like this:
[code]
I added that

[2018-01-08 02:03] #591 closed

[2018-01-08 02:27] sherm1 commented on #604
None of the MobilizedBody interface methods are supposed to be virtual. The virtual methods are located in the MobilizedBodyImpl class and its derived classes. There are two problems here:
1. The `MobilizedBody::getMobilizerAcceleration()` method is not implemented (it does say that clearly in its documentation but admittedly that's not very helpful!), and
2. The MobilizedBody::Translation class (

[2018-01-08 02:30] sherm1 commented on #604
I retitled this issue "MobilizedBody::Translation has confusing getMobilizerAcceleration() method"

[2018-01-08 02:44] #584 closed

[2018-01-08 03:51] sherm1 opened #607 "Method deprecation not working on Windows any more"
Simbody's `DEPRECATED_14()` macro is not functioning on Windows any more. I believe this is because warning 4996 has been disabled globally. That should only be disabled locally with pragma push/pop so that we can mark methods deprecated.

@chrisdembia do you remember why 4996 got removed globally?

[2018-01-08 04:12] chrisdembia commented on #607
Uh oh. This warning got removed when we replaced `memcpy` with `std::copy` this summer (https://github.com/simbody/simbody/blob/a899db7be06ff3ae70c4b60a8922e62b5b6a8a63/CMakeLists.txt#L456). I think @antoinefalisse tried disabling the warning in a more local manner but MSVC wouldn't let us.

See here for more information: https://stackoverflow.com/questions/42003997/c-array-copy-showing-errors-in-

[2018-01-08 04:21] sherm1 commented on #607
OK, thanks. I'll see if I can deal with it locally.

[2018-01-08 07:29] traversaro commented on #606
Thanks @chrisdembia . Let me know if we can help in any way as "external" users.

[2018-01-08 07:48] traversaro commented on #606
I went through the README and one thing I noticed is that the recommended/tested version of Visual Studio (2015) is not easily downloadable any more from  https://www.visualstudio.com .

[2018-01-08 07:54] chrisdembia commented on #606
Thanks @traversaro. I've attempted to update the README in this branch: https://github.com/simbody/simbody/tree/simbody-3.6-prep.

I added Visual Studio 2017 to the README, and based on your comment, I also added a link for obtaining the older 2015 version. OpenSim still uses Visual Studio 2015, so I do not want to remove 2015 from the README.

Even though AppVeyor uses 2015, we have ensured local

[2018-01-08 08:17] scpeters commented on #606
Appveyor does [support VS 2017](https://www.appveyor.com/updates/) now, though I understand if you don't want to test with both on each commit, since it can be slow.

[2018-01-08 17:27] #604 closed

[2018-01-08 17:27] #607 closed

[2018-01-08 17:29] sherm1 commented on #604
Andrea -- I addressed this by deprecating the badly-named methods in MobilizedBody::Translation and replacing them with names that don't conflict with the base class. The problem still exists that the base class method MobilizedBody::getMobilizerAcceleration() is unimplemented, but hopefully this will reduce future confusion.

Sorry for the trouble, and thanks for reporting it.

[2018-01-08 17:34] chrisdembia commented on #606
Thanks @scpeters. Our Appveyor account is shared between multiple projects and we do not want to add more jobs to the queue. My opinion is that we should only move if we depend on features in 2017. Otherwise, it's nice to ensure that we still support using the older compiler.

[2018-01-08 20:38] apalazzi commented on #604
Hi,

thank you for the support and reactivity, and I'm glad I can somehow contribute to this project :)

[2018-01-08 22:54] #589 closed

[2018-01-08 22:55] chrisdembia commented on #606
@j-rivero should I change anything in the debian directory, or should I let you handle those changes? Is there anything I can do to help address #545?

[2018-01-08 23:20] j-rivero commented on #606
some minimal changes pull/610

To solve the problem in already released Ubuntu distros, we would need to fill a [SRU (Stable Release Update)](https://wiki.ubuntu.com/StableReleaseUpdates) which requires to fix a major problem with the package, which in this case is kind of subjective but could work. We can try it, I just need some time to look into the problem, fix it and create all the SRU inform

[2018-01-08 23:28] chrisdembia commented on #606
Thank you! Oh I meant for the upcoming 3.6 package; I don't think it is necessary to repair the existing package.

[2018-01-08 23:29] #596 closed

[2018-01-08 23:33] sherm1 commented on #604
@apalazzi, your contributions as a user are much appreciated!  FYI, we also wlecome code and documentation contributions from the community in case you don't like waiting around for fixes to get done. Please see [CONTRIBUTING.md](https://github.com/simbody/simbody/blob/master/CONTRIBUTING.md) for more info.

[2018-01-08 23:41] moorepants commented on #511
Any chance this could get in the 3.6 release? It would fix the downstream conda builds.

[2018-01-08 23:45] chrisdembia commented on #511
For reference, here is more detail:

[code]

@moorepants what is the easiest way to test a fix to this?

[2018-01-09 00:28] moorepants commented on #511
I think the easiest would be to submit a PR to the conda feedstock but pull the source code from the head of a branch where you have the fix.

[2018-01-09 00:54] chrisdembia commented on #511
Okay thanks.

[2018-01-09 05:11] scpeters commented on #606
I did some brief testing of gazebo with simbody 3.6 today, and I didn't see any problems.

[2018-01-09 08:05] chrisdembia commented on #606
Whew :)

[2018-01-11 16:19] j-rivero commented on #606
That should not be difficult. We probably will need another package that ships the binaries (`simbody` could be use) since all that we have now are the libraries.

[2018-01-13 23:39] chrisdembia commented on #606
@sherm1, here is doxygen to post for 3.6: https://www.dropbox.com/s/iltgte4pk7x76mt/simbody-3.6-doxygen.zip?dl=0

[2018-01-13 23:40] chrisdembia commented on #606
If there is a way I can help with posting the doxygen on simtk, let me know.

[2018-01-14 00:37] chrisdembia commented on #606
@sherm1 after #612, #610, and #611 are merged, I can create the `simbody-3.6` branch and `Simbody-3.6` tag.

Here is proposed text for the [releases](https://github.com/simbody/simbody/releases) page and the [annotated tag](https://git-scm.com/book/en/v2/Git-Basics-Tagging) message:

This is the first release of Simbody that requires C++11, as much of the code base now takes advantage of C++11 (e.

[2018-01-14 00:37] sherm1 commented on #606
@chrisdembia, I posted the doxygen in new repo simbody/simbody-3.6-doxygen. It is viewable [here](https://simbody.github.io/simbody-3.6-doxygen/api/index.html). You are an admin on that repo in case you want to make any changes.

[2018-01-14 00:48] sherm1 commented on #606
@chrisdembia, re the release text -- looks great. I edited to remove the C++11 enumeration -- enough just to say Simbody depends on C++11 features.

[2018-01-14 00:49] chrisdembia commented on #606
Oh right I forgot we moved the hosting of the doxygen. The website looks good to me

[2018-01-14 00:50] chrisdembia commented on #606
Thanks for reviewing this.

[2018-01-14 01:06] chrisdembia commented on #606
@sherm1 There are some places where we want an unchanging link to the latest release's doxygen. Previously, we had https://simtk.org/api_docs/simbody/latest/index.html. To preserve this going forward, I created a new repo `simbody-latest-doxygen` whose `index.html` we can easily edit to point to the doxygen for the latest release, via https://simbody.github.io/simbody-latest-doxygen.

Would it be

[2018-01-14 01:18] sherm1 commented on #606
Great idea. Yes, but I don't think I have the ability to edit simtk.org files any more. Can you ask Henry to edit it?

[2018-01-14 01:31] chrisdembia commented on #606
Okay; I've asked Henry.

[2018-01-16 22:44] ianhamilton117 commented on #401
@sherm1 Hi there, I'm new to Simbody and am looking for an issue to start contributing. Can I take this one?

[2018-01-16 23:29] chrisdembia commented on #401
Hey @ianhamilton117. No one is working on this issue currently, so if you think you know how to do this, we would welcome the contribution.

[2018-01-17 01:33] sherm1 commented on #401
Agreed, thanks @ianhamilton117! Please be sure to include a unit test that can run in our automated builds, verifies that the code is working, and ensures that it continues to work after some future programmer mangles it.

[2018-01-17 23:19] chrisdembia commented on #572
This is done in #612

[2018-01-17 23:21] chrisdembia commented on #401
@ianhamilton117 to ensure a swift review of your changes, you may want to look over [CONTRIBUTING.md](https://github.com/simbody/simbody/blob/master/CONTRIBUTING.md).

[2018-01-18 04:46] ianhamilton117 commented on #401
Thanks @chrisdembia, will do.

[2018-02-12 14:11] marnunez commented on #606
Hi! I think this stopped mid process: there's still no 3.6 tag yet the master opensim-core asks for it. Is that so?

[2018-02-12 17:19] chrisdembia commented on #606
Hey @marnunez Since the 3.5 release, Simbody's master branch has been labeled as "3.6" in CMake. OpenSim's `find_package()` line has required Simbody "3.6" for over a year, but that does not mean OpenSim is looking for a 3.6 tag.

[2018-02-14 12:54] YuriOsokin opened #619 "Limit the MobilizedBody motion"
Hello,

I want to limit the MobilizedBody motion. For example, to limit the Pin to angles of -1 rad to 1 rad. I did not find any simple way to do it, but to write an EventHandler, and set the force on the Pin, such, that will not allow the motion above the limits. The event is triggered when the angle is greater then 1 rad, and the force is set as exponent of current Pin angle minus limit angle.
I

[2018-02-14 16:05] sherm1 commented on #619
You can use a "stop" force element to limit joint motion. [MobilityLinearStop](https://simbody.github.io/simbody-3.5-doxygen/api/classSimTK_1_1Force_1_1MobilityLinearStop.html) is a built-in one.

[2018-02-14 16:05] #619 closed

[2018-02-21 23:08] tkuchida opened #623 "Doxygen for HuntCrossleyContact contains mangled equations"
https://simtk.org/api_docs/simbody/3.5/classSimTK_1_1HuntCrossleyContact.html#details

![](https://user-images.githubusercontent.com/4203505/36510741-00346696-1719-11e8-997d-ba87974fa8ab.png)

[2018-02-21 23:59] #606 closed

[2018-02-22 00:01] chrisdembia commented on #623
The equations look better here: https://simbody.github.io/simbody-3.6-doxygen/api/classSimTK_1_1HuntCrossleyForce.html

[2018-02-22 01:31] tkuchida commented on #623
Thanks; I didn't realize this had been fixed.

[2018-02-22 01:31] #623 closed

[2018-03-01 07:09] antoinefalisse commented on #577
@arocchi, we have that working locally (Simbody and OpenSim with AD through ADOL-C and interface with CasADi) and we are now working on making the code available (see https://github.com/simbody/simbody/tree/feature_adolc). This might still take a little while though.

[2018-03-21 19:54] Fleischner opened #628 "Build simbody with vcpkg on windows"
https://github.com/Microsoft/vcpkg is microsofts intended way to build libraries from source on windows.

Bring simbody to it too. All required deps are there:
openblas, lapack, opengl, freeglut

Attached are the portfiles samples and the patched main CMakeLists:
- Cmakelists changed at BUILD_USING_OTHER_LAPACK as I had problems to pass a Path with ";" as cmake command option.
- CMakeLists should

[2018-03-21 20:32] chrisdembia commented on #628
Hey @Fleischner it's awesome that you explored getting Simbody into vcpkg. Would you be interested in submitting a PR with your changes?

[2018-03-21 20:34] traversaro commented on #628
Related vcpkg issue: https://github.com/Microsoft/vcpkg/issues/2955 .

[2018-03-21 20:35] chrisdembia commented on #628
Oh, neat; thanks @traversaro.

[2018-03-22 17:10] chrisdembia commented on #628
Thanks @Fleischner. I don't have time to work on this in the near future, but having those files available will really help.

[2018-05-07 18:34] chrisdembia opened #634 "Release Simbody 3.6.1"
OpenSim 4.0 will be released in about 3 weeks. It would be great if the OpenSim release contained https://github.com/simbody/simbody/pull/633. I'd like to make a Simbody 3.6.1 release to include the #633.

- [x] merge #633 into the `simbody-3.6` branch.
- [x] update changelog
- [x] in README.md, replace "3.6" with "3.6.1"
- [x] update release date of 3.6.1 in the changelog.
- [x] make 3.6.1 releas

[2018-05-07 20:04] sherm1 commented on #634
:+1:

[2018-05-26 05:47] jacknlliu opened #636 "Gazebo2Simbody can't generate correct simbody model for gazebo static model"
From [gazebo issue 2466](https://bitbucket.org/osrf/gazebo/issues/2466/all-static-models-are-set-to-original), we find that the static model can't be set on correct pose in the gazebo world when using simbody physics engine.

We add two static models 'table', but they are all set on the origin point. But actually they should like

![gazebo-ode-static-model](https://github.com/jacknlliu/development

[2018-05-29 05:05] sherm1 commented on #636
Thanks for reporting this, @jacknlliu. I looked at the Gazebo2Simbody example (which has a crude partial sdf parser built in). I found this at [Gazebo2Simbody.cpp:627](https://github.com/simbody/simbody/blob/master/examples/Gazebo2Simbody/Gazebo2Simbody.cpp#L627):
[code]
indicating that I thought static meant "attached to the ground (world) body". The tables are actually attached to their own link

[2018-05-29 07:00] jacknlliu commented on #636
@sherm1 Thanks for your reply. I find that the codes of Gazebo are copied over from this example, and [here](https://bitbucket.org/osrf/gazebo/src/f34784b7994ade9758440d7f65bd6c4e295dcc9e/gazebo/physics/simbody/SimbodyPhysics.cc#lines-923) has the same mistake.

I think this example is the best reference for gazebo, hope it will be fixed by simbody community. Then we can cast it to gazebo.

[2018-06-12 01:17] chrisdembia commented on #634
I've gone ahead and finished the tasks above. The tip of the `simbody-3.6` branch is now the `Simbody-3.6.1` tag.

[2018-06-12 01:17] #634 closed

[2018-06-12 05:13] sherm1 commented on #634
Great! Thanks, Chris.

[2018-06-18 17:28] Gjacquenot opened #637 "Analysis of EFF convergence algorithm"
I am using Simbody contact algorithm and I would like advice on the convergence of the program below. I am evaluating the contact forces between two boxes, and as I increase resolution of boxes geometries, result diverge. Result is exact with lowest resolution, but diverge to another value 20% higher. Maybe it is totally normal, however I would like experts advice (@sherm1 , @chrisdembia ;-))

Geo

[2018-06-18 17:52] sherm1 commented on #637
Great study, Guillaume - thanks! That result is a surprise to me and definitely needs more investigation. The convergence to 20% off is odd -- clearly the algorithm thinks that's the answer. But I don't know why. Any thoughts @chrisdembia, @tkuchida, or @aseth1? Taking a close look at the generated mesh might be helpful.

[2018-06-18 18:28] Gjacquenot commented on #637
Thanks Michael !
I discover this behaviour with my own refined meshes where i subdivided
each triangle into four new triangles. So first thing tout do is to check
meshes but soon we will need other ideas!

Le lun. 18 juin 2018 à 19:52, Michael Sherman <notifications@github.com> a
écrit :

[2018-06-19 21:33] Gjacquenot commented on #637
I have created a test program to better expose the conditions of divergence.
It sweeps different penetrations and resolution, and exports the error as a matrix.

I suspect that errors start to appear when there are some vertical triangles of the cube that are fully under the plane.

    #include "SimTKsimbody.h"
    #include <vector>

    using namespace SimTK;
    using namespace std;

    const

[2018-06-24 09:01] jacknlliu commented on #636
I try to fix it. But which one is the appropriate method for this, `Constraint::Weld` or `MobilizedBody::Weld`? I'm not familiar with the simbody terminology and API. Any more help about this? @sherm1

[2018-06-24 23:41] sherm1 commented on #636
Hi, Jack. MobilizedBody::Weld would be the right choice here. That is _much_ more efficient (essentially free since there are zero dofs) than Constraint::Weld which would add 6 constraint equations to prevent motion.

In internal coordinate multibody systems, tree joints (what Simbody calls "mobilizers") are implemented with one differential equation per degree of freedom, so for example one equat

[2018-06-24 23:43] sherm1 commented on #636
Basically, for bodies that have no connection to the world we need to distinguish the ones that should be free to move from those that should be welded to ground. Currently MultibodyGraphMaker adds a Free mobilizer (six dofs) to those unconnected bodies; for static bodies it should b adding a Weld mobilizer (zero dofs) instead.

[2018-07-04 14:06] janEbert opened #638 "Python interface: Directly working with state's Y value leads to crash"
Using an OpenSim environment in Python, the program crashes when attempting to do anything with  `SimTK::State`'s `Y` value except for assigning it.

Setup:
[code]
What works:
[code]
What does not work:
[code]

I am on Windows 10 using the latest version of OSim (with Python 3.6.1) and followed the installation instructions to a T.

Sorry if this belongs in the [OSim-RL](https://github.com/stanfor

[2018-07-04 16:31] chrisdembia commented on #638
Thanks for reporting this. Do you have a backtrace?

[2018-07-04 17:59] janEbert commented on #638
There is no backtrace, the Python process crashes ("Windows is searching for an error") and the command prompt returns to normal when I close the process. Sorry for not mentioning that.

[2018-07-12 17:04] chrisdembia commented on #638
I'm a little confused: did you run the "code that does not work" after having already run "what works"? Can you share the complete code that works and the complete code that does not work?

The best place for this is https://github.com/opensim-org/opensim-core, because that's where the bindings for OpenSim and Simbody are created.

[2018-07-12 17:11] chrisdembia commented on #638
@janEbert, let's continue discussion at https://github.com/opensim-org/opensim-core/issues/2214

[2018-07-12 17:11] #638 closed

[2018-07-12 17:12] chrisdembia opened #639 "Improve clarity of `takeOneStep()` exception"
It is somewhat common to get the following exception message:

[code]

I think the fix is often to use a tighter integration accuracy. Perhaps we could add that suggestion to the exception message.

This was originally reported at https://github.com/stanfordnmbl/osim-rl/issues/138#issuecomment-404577929 by @janEbert.

[2018-07-12 17:31] sherm1 commented on #639
Good idea!

[2018-08-03 10:08] jacknlliu opened #640 "investigation about contact dynamics computation"
Does simbody have efficient contact dynamics implement like something provided by [SimBenchmark](https://leggedrobotics.github.io/SimBenchmark/)?

[2018-08-03 15:04] sherm1 commented on #640
Simbody supports compliant contact but not rigid so may not be directly comparable to those engines. Performance depends a lot on stiffnesses and choice of numerical integration method, of which there are several. There are some contact examples in the Simbody repo, including legged locomotion (a Theo Jansen Strandbeest). This [paper](https://simtk.org/docman/view.php/47/1589/Sherman-2011-SethDelp

[2018-08-04 08:28] jacknlliu commented on #640
@sherm1 thanks very much for your reply. I have read the paper, and it's very useful for understanding simbody. And did simbody support rigid contact model now?

[2018-08-04 18:25] sherm1 commented on #640
No. There is some preliminary support for unilateral constraints but mostly in prototype form. Simbody is intended for scientific computing so we have been concerned about accuracy, something that is hard to obtain with rigid models. Work in that direction led to [this paper](http://rspa.royalsocietypublishing.org/content/471/2177/20140859) on impacts.

[2018-08-05 07:01] jacknlliu commented on #640
@sherm1 Thanks very much for your reply! It's very valuable.

[2018-08-23 18:58] carmichaelong opened #641 "Deleting a CPodesIntegrator leads to a crash"
The following code crashes:

[code]

This does not occur with any other integrator.

[2018-08-23 20:32] sherm1 commented on #641
Thanks, Carmichael! That definitely needs investigating. Any volunteers?

[2018-08-27 22:19] carmichaelong commented on #641
I dug around a little more. Looks like the memory is allocated by [this method](https://github.com/simbody/simbody/blob/master/SimTKmath/Integrators/src/CPodes/sundials/src/cpodes/cpodes.c#L340) which is called by [`CPodes::init()`](https://github.com/simbody/simbody/blob/master/SimTKmath/Integrators/src/CPodes/SimTKcpodes.cpp#L292). So, the crash occurs since initialization hasn't occurred. Furth

[2018-08-28 01:02] chrisdembia commented on #641
@carmichaelong I'm happy to look at this with you briefly tomorrow.

[2018-08-28 23:59] carmichaelong commented on #641
@chrisdembia I'll be gone till Tuesday but happy to work on it then. If you wanted to look at it before then, here are some notes:

- There are related "Alloc" and "Free" functions that control memory management. You can see their prototypes [here](https://github.com/simbody/simbody/blob/master/SimTKmath/Integrators/src/CPodes/sundials/src/cpodes/cpodes.c#L92).
- The problem is with the call to `c

[2018-09-14 06:38] chrisdembia opened #643 "Document that integrator settings should not be changed after initializing a TimeStepper"
Changing an integrator's accuracy after initializing a TimeStepper has no effect, but this does not seem to be documented.

Discovered in https://github.com/opensim-org/opensim-core/issues/2041.

[2018-10-10 19:32] apalazzi opened #644 "3.6.1 failed test TestCustomConstraints"
Hi,

test TestCustomConstraints fails with 3.6.1 on ubuntu 18.04/gcc 7.3.0:

[code]

[2018-10-10 19:43] chrisdembia commented on #644
What platform, compiler, and LAPACK/BLAS are you using?

[2018-10-10 20:46] apalazzi commented on #644
[code]

[2018-10-10 21:20] moorepants commented on #644
Note that this is commonly reported: https://github.com/search?q=TestCustomConstraints&type=Issues

[2018-10-17 11:09] apalazzi opened #646 "Linker error with Simbody 3.6.1"
I have a linker error when I compile my application with Simbody 3.6.1:

<undefined reference to "SimTK::CacheEntryInfo::recordPrerequisiteVersions(SimTK::StateImpl const&)">

Ubuntu 18.04, gcc 7.3.0; simbody compiled with -DCMAKE_BUILD_TYPE=RelWithDebInfo

The application was running fine with V3.5.

[2018-10-18 03:30] sherm1 commented on #646
That method is only defined in Debug builds (declaration [here](https://github.com/simbody/simbody/blob/master/SimTKcommon/Simulation/include/SimTKcommon/internal/StateImpl.h#L393), definition [here](https://github.com/simbody/simbody/blob/master/SimTKcommon/Simulation/src/State.cpp#L1049)). RelWithDebInfo is a _Release_ build so doesn't define that method.

This suggests that there is a main prog

[2018-10-18 03:31] sherm1 commented on #646
I'll close this issue but please reopen if I've misdiagnosed this.

[2018-10-18 03:33] chrisdembia commented on #646
@sherm1 since I've run into this myself a few times, would it make sense to always declare and define those functions and move the `#ifndef NDEBUG` inside the functions?

[2018-10-18 03:58] sherm1 commented on #646
@chrisdembia, that would leave them with a runtime cost which would be unacceptable. They could be made empty and inline for NDEBUG so they would optimize away, but I still question whether it is ever going to work to have a Debug main program linked to a Release library. It certainly won't work on Windows, because the ABI is different (at least in the standard library). I'm not sure whether it mi

[2018-10-18 04:46] chrisdembia commented on #646
Okay that makes sense. Thanks for explaining.

[2018-10-18 05:44] apalazzi commented on #646
I'm not compiling my binaries with the -g flag:

`Building file: ../src/friction.cpp
Invoking: GCC C++ Compiler
g++ -I/home/andrea/include/simbody -I"/home/andrea/src/simbody/longi/include" -O3 -pg -Wall -c -fmessage-length=0 -Wno-reorder -no-pie -MMD -MP -MF"src/friction.d" -MT"src/friction.o" -o "src/friction.o" "../src/friction.cpp" `

Moreover, I'm linking my program against the system libboos

[2018-10-18 07:42] apalazzi commented on #646
How do I reopen the issue? Do I need to create a new one?

[2018-10-18 14:47] sherm1 commented on #646
There should be a "Reopen" button at the bottom.

[2018-10-18 14:51] sherm1 commented on #646
That is just a Release build that retains debug information in the generated binaries. That can provide more information when something goes wrong since (for example) variable names are retained. But the ABI is identical to what you get with Release (that is, you can always link Release and RelWithDebInfo objects together). Debug builds can change the ABI.

[2018-10-18 15:02] sherm1 commented on #646
The build command you included above is somewhat inconclusive because it doesn't show everything. I did notice it has gprof profiling included (`-pg`) -- I'm not sure what affect that has on ABI if anything. Another (random) thought is that I'm not seeing the `-std=c++11` flag which is required for Simbody 3.6 and later (for _all_ linked-together modules).

As a diagnostic, you could check whether

[2018-10-18 15:12] sherm1 commented on #646
By the way, if the existence of these Debug-only symbols is the _only_ thing that prevents mixed Debug/Release linking with gcc (even though it still won't work on Windows), I think it would be worthwhile to implement @chrisdembia's idea above, providing "force inline" empty implementations to prevent any runtime cost. If anyone wants to volunteer to test that to verify that the mixed-link would w

[2018-10-18 20:40] apalazzi commented on #646
Compiling with -DNDEBUG solves the problem; this however should really be pointed out in the documentation, I couldn't find it anywhere. It should be defined for every file and not just in the main file.

BTW:
[code]

So apparently RelWithDebInfo is also built with the -g flag.

[2018-10-18 20:40] #646 closed

[2018-11-02 07:42] mgejke opened #648 "Run-Time check Failure #3 when building debug build in VS 15.8.8"
After upgrading to the latest VS we have begun experiencing exceptions when running
`AssemblySolver::track`

`Run-Time Check Failure #3 - The variable 'iback' is being used without being initialized.`

The exception is thrown in **lbfgsb.cpp**, in the function **mainlb_**(and rightfully so, the variables are uninitialized, although I think it's fine, it's only storing the local state of the functi

[2018-11-03 00:05] sherm1 commented on #648
That sounds reasonable but please investigate a little further. There are lots of variables in that ugly function -- it wasn't obvious to me why `iback` is different than any of the others. Possibly one of the called functions that is passed `&iback` was expected to set it but didn't? Did the error message specify a particular line number? I wonder if you would get more information in a Debug buil

[2018-11-03 10:59] traversaro commented on #644
I have the same issue with the current master branch on a stock Ubuntu 18.04 .
I added a small print at line 450:
[code]
and the relevant output is attached to the issue.
[simbody-TestCustomConstraint-371b820d3df7f6f38017cd55536ab5d08beb5919.txt](https://github.com/simbody/simbody/files/2544892/simbody-TestCustomConstraint-371b820d3df7f6f38017cd55536ab5d08beb5919.txt)

[2018-11-03 11:03] traversaro commented on #644
Just to make a test, I tried to increase the tolerance and it seems that energy goes above `1e-06` just for a few timesteps, and then it decreases for the rest of the test:
[simbody-TestCustomConstraint-371b820d3df7f6f38017cd55536ab5d08beb5919-tolerance-increased.txt](https://github.com/simbody/simbody/files/2544895/simbody-TestCustomConstraint-371b820d3df7f6f38017cd55536ab5d08beb5919-tolerance-in

[2018-11-05 11:50] mgejke commented on #648
It's not just `iback`,  the following lines give the exception if I continue debugging.

[code]

It's hard to downgrade VS2017 to a previous minor version to test properly, but upgrading is the only change that we made, and before that we had Debug-builds without the exceptions.

Initializing all the variables with this patch makes the exceptions go away. I guess the bigger question is if we're do

[2018-11-05 15:57] sherm1 commented on #648
Thanks for investigating -- that looks like the right fix. Do you want to submit a PR to fix it?

[2018-11-06 16:04] sherm1 commented on #648
Resolved by PR #649 -- thanks, Martin!

[2018-11-06 16:04] #648 closed

[2018-11-13 21:08] chrisdembia opened #650 "Visualizer shows up as blank/black on macOS 10.14 Mojave"
On macOS 10.14, the Visualizer looks shows as plain black when running `BricardMechanism`:

<img width="912" alt="image" src="https://user-images.githubusercontent.com/846001/48443097-ed4f7500-e744-11e8-8e75-ab47b8d673f4.png">

I tried a bunch of other examples too; same issue.

Tested on both `master` and `Simbody-3.6.1`.

@jimmyDunne have you had any issues like this on your computer?

[2018-11-13 21:09] chrisdembia commented on #650
This might provide more information: https://stackoverflow.com/questions/52509427/mac-mojave-opengl

[2018-11-13 21:10] chrisdembia commented on #650
Ah... as suggested on that page, resizing the window causes the display to work:

<img width="928" alt="image" src="https://user-images.githubusercontent.com/846001/48443291-7bc3f680-e745-11e8-97cb-ad9c8c7d0d84.png">

[2018-11-13 22:53] jimmyDunne commented on #650
I was getting a black screen as well when I was testing the tug-of-war this morning, but I thought it was because the fwdtool was failing. I checked again and got the same behavior as what you describe.

[2018-11-13 23:31] chrisdembia commented on #650
Okay great I’m working on a workaround.

[2018-11-14 08:47] chrisdembia commented on #650
Thanks for testing! Is the mojave bottle built using the macOS 10.14 SDK (Xcode 10)?

[2018-11-14 09:49] scpeters commented on #650
It's definitely using Xcode 10, as `brew doctor` would complain otherwise, and I assume it's using the 10.14 SDK. Here's the formula:

* https://github.com/osrf/homebrew-simulation/blob/master/Formula/simbody.rb#L26-L37

[2018-11-14 18:10] scpeters commented on #650
What kind of machine are you using? Is there any chance it's a laptop with a retina display? The mac mini I tested doesn't have a retina display.

[2018-11-14 18:12] chrisdembia commented on #650
Ah yes, I've been using machines with a retina display and from what I read, that is part of the issue.

[2018-11-14 19:30] scpeters commented on #650
Ok, I was wrong before; I was actually testing on a laptop with retina display (I was connected remotely, so I forgot which machine it was). The laptop is from 2012, so it has an integrated intel gpu and a discrete nvidia gpu. I also tested with a mac mini that has an intel gpu.

The black screen doesn't occur with the discrete nvidia gpu, but it occurs when the intel gpu is in use (always for the

[2018-11-14 19:37] chrisdembia commented on #650
Woah; thanks for the extensive testing! All of that is with mojave? What do you think is the best fix for now? #651 is rather unsatisfying. I guess we're supposed to move to Metal but I don't see that happening.

[2018-11-15 05:21] yurivict opened #652 "Please do not install the empty dir 'api'"
You install ```/usr/local/share/doc/simbody/api```.

[2018-11-15 06:05] yurivict opened #653 "TestPlugin fails"
[code]

[2018-11-15 06:06] chrisdembia commented on #653
Can you give the test's log? `ctest -R TestPlugin -V`.

[2018-11-15 06:50] yurivict commented on #653
[code]

[2018-11-20 21:58] chrisdembia commented on #545
I just installed a fresh copy of 18.04 and had no issue building the visualizer with the following commands:

[code]

[2018-11-23 15:39] morxa opened #658 "Group-writable files after installation"
After installation, a number of files is group-writable, which is uncommon. The affected files:
[code]

Is there a particular reason for this?

Background: I'm currently packaging simbody for Fedora, and this was noticed by `rpmlint`. I can fix this downstream, but  I'd prefer to fix this upstream. I can submit a PR if you're interested.

[2018-11-23 15:50] morxa opened #659 "Do not call exit from shared library"
libSimTKmath calls `exit` in several places:
[code]

Calling `exit` in a shared libary is generally considered bad practice, as the caller has no way to catch the call, and you will be exiting the main application (the caller). It's also a blocker for getting this package into Fedora.

I would suggest to replace all `exit` calls by throwing an exception. If the exception is not caught, the behavio

[2018-11-23 16:42] chrisdembia commented on #659
These are mostly all in dependencies that we copied into the source code.

[2018-11-23 18:51] chrisdembia commented on #658
We explicitly set these permissions (see [here](https://github.com/simbody/simbody/search?q=PERMISSIONS&unscoped_q=PERMISSIONS)) but I think it is not necessary. I think a PR would be great but we should probably wait to hear what @sherm1 thinks.

[2018-11-23 21:48] sherm1 commented on #659
We could fix them though since we do have our own copy. Anyone want to submit a PR?

[2018-11-23 21:51] sherm1 commented on #658
A PR sounds good to me! I don't think they should be writable -- thanks.

[2018-11-24 22:20] richmattes commented on #658
I have a patch from when I tried to package this for Fedora several months ago - I'll try to update it and submit a PR

[2018-11-25 21:21] artin-f commented on #639
The root cause of this issue seems to be that the integration step size falls below the `Real` type's precision.  As a result, `t0 + currentStepSize` becomes indistinguishable from `t0`, and the `t1 > t0` check fails.

This can be illustrated by using very loose accuracies in the following 3 examples.

Example | Accuracy | `t1 > t0` fails at `t =` | step size falls below precision at `t =`
-|-|-|-

[2018-11-29 13:59] ShravanTata commented on #563
Is this issue fixed yet? I am having similar crashes on Ubuntu 16.04

[2018-11-29 16:11] sherm1 commented on #563
This still is not fixed. We haven't been able to reproduce it reliably in an environment where it can be debugged. Any help would be greatly appreciated!

[2018-11-29 17:12] ShravanTata commented on #563
Sure, I would be happy help debug the issue. Would a small example that would produce this issue on my local machine be sufficient to start with?

[2018-11-29 17:49] sherm1 commented on #563
That might be a good start. Would be great if it occurred in a Debug build, or if you could add some instrumentation to Simbody to reveal what's happening. The pipe code Simbody uses to talk with the visualizer _seems_ very straightforward.

[2018-12-28 03:21] artin-f opened #662 "Is Explicitly Setting CMP0003 and CMP0005 Necessary?"
Two CMake policies are explicitly set to `NEW` here:
https://github.com/simbody/simbody/blob/43c2645c634bc93488deab52da231708b4654a9f/CMakeLists.txt#L21-L24

Both `CMP0003` and `CMP0005` were added in CMake version `2.6` [[ref]](https://cmake.org/cmake/help/v3.13/manual/cmake-policies.7.html#manual:cmake-policies(7)).  Since Simbody requires CMake version `2.8.10` and above, both policies are set

[2018-12-28 18:59] artin-f commented on #662
Great, thank you for your feedback.  You can assign this issue to me.  I'll open a PR shortly.

[2018-12-28 19:11] sherm1 commented on #662
Thanks, Artin!

[2018-12-29 00:35] #662 closed

[2019-01-08 21:56] aseth1 commented on #333
@aymanhab in [this commit](https://github.com/simbody/simbody/commit/3ddf3502d9b50c0a75eee846f69104121ab84171) "stubs" for `DecorativeArrow`, `DecorativeCone`, and `DecorativeTorus` were added but were never implemented. Now `OpenSim` visualization through the API cannot render all the `OpenSim::Geometry` that the user can add programmatically/scripting.

[2019-01-08 22:12] aymanhab commented on #333
Some of these are easy to do (Cone similar to Cylinder but with two radii) others will require major rework  since the meshes are cached by the visualizer. This will require upgrading simbody anyway. For the short term you can use a mesh file representing the shapes you need as a workaround.

[2019-01-08 22:23] sherm1 commented on #333
Would definitely be nice to have those shapes in Simbody! Any volunteers?

[2019-01-19 11:08] Bidski commented on #471
@worm2fed did you ever resolve this? I just came across this issue and am also on Arch Linux. Did using ATLAS make any difference?

[2019-01-19 11:20] worm2fed commented on #471
@Bidski as I can remember - no =(

it was kind of experiment and now I can't even remember what I wanted to do...

[2019-01-19 11:48] Bidski commented on #471
For more reference then
- Trying to install simbody 3.6
- TestGeo is the only test that is failing
- I am using OpenBLAS 0.3.4 with LAPACK 3.8.0
- Linux 4.20.3-arch1-1-ARCH #1 SMP PREEMPT x86_64 GNU/Linux

@chrisdembia do you have any other ideas about this problem?

[2019-01-19 23:49] sherm1 commented on #471
Hi, Alex. I took a look at TestGeo to see what might be happening. There are few things I noticed:
- The test involves randomly-generated meshes. On a new platform it is of course likely that the random numbers are different than those generated on the other platforms that Simbody has run on.
- The test is claiming that Simbody's optimal bounding sphere algorithm (Welzl method) should always produ

[2019-01-19 23:51] sherm1 commented on #471
P.S. @Bidski Please report what you find here. If you determine that the test is too sensitive, we should fix it in the Simbody source so the problem does not recur.

Thanks and regards,
Sherm

[2019-01-20 09:44] Bidski commented on #471
I, unfortunately, neglected to check what seed was being used at that point in time.

Interestingly enough, depending on the seed chosen for the random number generator I can either get the tests to pass or get the tests to fail in a different way.

However, I eventually found a seed that generated a fail in same location during the optimised build. Unfortunately, this same seed did not result in

[2019-01-24 07:58] Bidski commented on #471
@sherm1 did you have any luck reproducing this issue?

[2019-01-24 16:19] sherm1 commented on #471
Sorry, Alex I haven't been able to get to it yet. I did notice however that the next tests in the same file use a much higher threshold rather than 1%, but that the flaw in this test went unnoticed due to a "lucky" sequence of random problems that didn't cause problems. Will investigate further soon -- meanwhile I suggest updating this test to allow a looser tolerance.

[2019-03-25 14:37] isuruf opened #664 "Don't install lapack DLLs if external lapack is used on windows"

[2019-03-25 15:21] sherm1 commented on #664
Can you be more specific about what problem this causes and how you would propose to modify installation?

A PR with a proposed fix would be great too!

[2019-03-25 15:38] isuruf commented on #664
I was fixing the conda package. conda has it's own lapack package and doesn't need to use the DLLs checked into this repo. I can make simbody use the lapack DLLs from conda, but simbodys's cmake file would install the vendored lapack DLLs which is unnecessary and incorrect

[2019-03-25 16:58] moorepants commented on #664
It may be related to this PR: https://github.com/conda-forge/simbody-feedstock/pull/27

[2019-03-31 16:53] acxz opened #665 "Benchmark Testing"
There are many physics engines out there for the simulation/robotics community. As such, there is a need for benchmarking various engines for accurate and objective comparisons. Benchmarking also helps end users determine which is the appropriate engine for their task and for developers to help debug and better their own engines.

There is ongoing work for benchmarking at [SimBenchmark](https://gi

[2019-03-31 19:38] sherm1 commented on #665
I am always a bit suspicious of benchmarks hosted by authors of one of the packages being benchmarked -- somehow the host's package invariably comes out ahead! Simbody is open source (unlike RaiSim) and anyone is welcome to benchmark it and hopefully improve it also.

[2019-03-31 19:38] #665 closed

[2019-03-31 20:32] acxz commented on #665
I very much agree with that sentiment. That is why when I found out about an open-sourced benchmark tool, I was very happy. I have not seen any other packages open-source their benchmark software, which is why I believe this is a great tool to the community.

[2019-04-19 09:10] antoinefalisse opened #666 "Smooth Contact Model"
Hi @sherm1 and @chrisdembia,

@gilserrancoli and I have been using a smooth approximation of the Hunt-Crossley contact model available in Simbody for our applications (OpenSim-based predictive simulations of movements). The rationale for using such smooth model was the use of gradient-based optimization that requires twice-continuously differentiable models.

We believe this smooth model could be

[2019-05-30 16:51] Luli2020 opened #668 "Mojave calculation result differs"
We are trying to upgrade our development system into Mojave, however we found that the calculation results differs (slightly but noticeable) from that in other platform (High Sierra or Ubuntu) so our unit test failed. Anybody has same experience or any insight about it?
The program used MultibodySystem, TimeStepper, RungeKuttaMersonIntegrator etc., and the change happens when first TimeStepper::st

[2019-05-31 05:12] sherm1 commented on #668
Can you provide more information? Which unit test(s) failed (some are touchier than others)? It would also be interesting to know whether the test(s) fail only with full optimization on, or whether it always fails with Mojave even in unoptimized builds (Debug, for example).

[2019-05-31 17:08] Luli2020 commented on #668
Our system is basically a multibody vehicle with 4 wheels, and our unit test is to make sure the calculation will not change much for the expected location, velocity, and acceleration, etc after some time period. The acceleration changed more which caused the changes in velocity and location. The test failed in Majave for both cases with optimization on or off.

[2019-05-31 17:33] sherm1 commented on #668
Oh, I thought you meant that Simbody's unit tests failed. If you build simbody and run all its built-in tests, are those OK?

[2019-05-31 18:04] Luli2020 commented on #668
Yes, there is no issue for the Simbody unit tests.

[2019-05-31 20:21] sherm1 commented on #668
A few random thoughts:
- One thing to check is whether you have any indeterminacy in your code (uninitialized variables, random numbers) that could be arbitrarily different on different machines.
- Another possibility is that you are getting roundoff-error-sided changes in accelerations perhaps due to legitimate, but different, instruction choices made by a newer compiler on Mojave. In some very-s

[2019-05-31 21:58] Luli2020 commented on #668
Thanks for the input, will do more investigation.

[2019-06-28 22:32] dpkong opened #669 "Constraint::Custom::Implementation override wrong function when implementing acceleration constraint"
I define a acceleration constraint implementation inherited from Constraint::Custom::Implementation
I am sure I initialize Implementation(matter, 0, 0, 1) and override the calcAccelerationErrors function
But it still ask me to override the calcVelocityDotErrors because in runtime it is called and virtual function was called.
After I override calcVelocityDotErrors in the acceleration constraint imp

[2019-07-05 01:30] sherm1 commented on #669
@dpkong Yun, can you verify that the change in PR #670 fixes the problem you reported here?

[2019-07-07 01:25] #669 closed

[2019-08-08 02:18] yurivict commented on #653
Still fails in 3.6.1

[2019-08-08 03:27] sherm1 commented on #653
This needs to be debugged on FreeBSD, which is not one of Simbody's supported platforms so someone who uses FreeBSD will have to do it (@yurivict, that may be you!).

I think it would be easy to debug. The error occurs in the very last test at line 780 in TestPlugin.cpp. The pathname produced using `Pathname::getAbsolutePathnameUsingSpecifiedWorkingDirectory()` was not what was expected, using the

[2019-08-08 04:16] yurivict commented on #653
Please note how the linux code doesn't check the error of the ```readlink``` function:
[code]

The manpage says:
[code]
-1 would cause memory corruption.

[2019-08-08 04:44] yurivict commented on #653
This fixed the problem: https://github.com/simbody/simbody/pull/672

[2019-08-08 05:11] yurivict commented on #653
Please note how the linux code doesn't check the error of the ```readlink``` function:
[code]

The manpage says:
[code]
-1 would cause it to crash.

Please merge the above PR and after this fix the error handling there.

[2019-08-08 15:29] sherm1 commented on #653
Yikes -- definitely a bug!

[2019-08-09 00:52] sherm1 commented on #666
Resolved by #667.

[2019-08-09 00:52] #666 closed

[2019-08-09 00:58] sherm1 commented on #653
Although #672 fixed the originally-reported problem here, I have retitled this issue for the error-checking bug and will leave it open.

[2019-08-29 05:35] truhoang commented on #212
Looks like the derived class is implemented as a template while the base class requires different types for that function

[2019-08-31 03:59] cmoxiv commented on #563
A bit late to the party. The same issue happens with me when running osim-rl on a virtual machine running Ubuntu 18. I thought it may be a virtual machine issue. It works fine for a while but sometimes when terminating the training it goes into producing this error. I have to restart the virtual machine to get it running again.

[2019-10-20 21:21] chrisdembia opened #674 "macOS Catalina: Visualizer is 1/4 size"
On macOS Catalina, the simbody-visualizer only takes up 1/4 of the window:

<img width="912" alt="image" src="https://user-images.githubusercontent.com/846001/67166439-46a42900-f344-11e9-98ac-fae7dd7a6a6e.png">

This might be related: https://github.com/redeclipse/base/issues/920

Given that freeglut is deprecated on macOS, we could also consider using Metal or an abstraction layer:

- https://dev

[2019-10-20 21:25] chrisdembia commented on #674
@peastman do you have any suggestions?

[2019-10-20 22:07] peastman commented on #674
No idea.  When you resize the window does it remain 1/4 of the window?

[2019-10-21 00:58] scpeters commented on #674
Are you using a laptop with a retina screen?

[2019-10-21 01:28] chrisdembia commented on #674
Yes

Yes. This happens on both a MacBookPro and an iMac.

[2019-10-21 23:00] peastman commented on #674
Sounds like it could be a bug in resolution scaling.  On the issue that referenced this one just above, someone suggested https://github.com/redeclipse/base/commit/6dce7794981eea639d16b7f3a6809f1c0c889a46 as a possible fix.

[2019-10-21 23:47] chrisdembia commented on #674
Thank you @peastman . I'll try that when I get a chance.

[2019-10-25 06:01] chrisdembia commented on #674
- https://developer.apple.com/library/archive/documentation/GraphicsImaging/Conceptual/OpenGL-MacProgGuide/EnablingOpenGLforHighResolution/EnablingOpenGLforHighResolution.html#//apple_ref/doc/uid/TP40001987-CH1001-SW4
- https://github.com/SFML/SFML/issues/353

We can either make a .app and set NSHighResolutionCapable to false, or we can edit the OpenGL functions taking pixels to use 2x values and

[2019-10-25 06:11] chrisdembia commented on #674
Magnum seems like a promising library: https://github.com/mosra/magnum. It's used by DART.

[2019-10-26 23:54] yurivict opened #675 "Please correct installation instructions on your website"
Many systems have packages for simbody (see here https://repology.org/project/simbody/versions), but your website asks users to build from source, which is much more difficult: https://simtk.org/projects/simbody/

Please correct the recommendations and ask users to install from a package where they are available.

Please also add ```FreeBSD``` to the list of supported systems because ```simbody```

[2019-10-27 01:20] chrisdembia commented on #674
Here is how SDL finds the "backing scale factor": https://github.com/spurious/SDL-mirror/blob/60cae8d8affb61ec661f1eb5d5be5fed6a3c239d/src/video/cocoa/SDL_cocoaopengl.m#L362-L383

I don't know how we'd get access to the NSView when using GLUT.

[2019-10-28 20:29] #674 closed

[2019-11-04 15:17] msdrezavand opened #677 "CUDA compile issue with "conformingAdd" and "conformingSubtract" in "Vec.h""
When using SimBody in a .cu file being compiled with cuda 10.0 and gcc/g++ 7.4.0 the following error pops up regarding "conformingAdd" and "conformingSubtract" in "Vec.h":

simbody/include/simbody/SimTKcommon/internal/Vec.h(54): error: more than one instance of overloaded function "SimTK::Impl::conformingAdd" matches the argument list:
            function template "void SimTK::Impl::conformingAdd

[2019-11-04 15:54] sherm1 commented on #677
I'm not sure what you mean about using Simbody from Cuda. Simbody is a C++ library that would be called from a C++ main program. Have you tried the same code just with gcc 7.4.0? If you can reproduce it in C++ we can help debug it (or fix the problem).

[2019-11-04 16:03] msdrezavand commented on #677
yes, I used it before for a C++ code with gcc 7.4.0 and C++11 feature, and everything was fine. Now, I have a .cu file instead of the same .cpp file that I was including simbody before, which i want to compile with nvcc (cuda compiler). That is actually the only difference. But is has the above error with those functions.
Do I need any special flag when including simbody in a cuda file bieng compi

[2019-11-04 16:36] sherm1 commented on #677
I don't know -- I think that's a question for nvcc support. If you find the answer, please do post it here in case anyone else runs into the same problem.

[2019-11-05 20:09] msdrezavand commented on #677
Apparently, the recursive template implementations of elementwise add and subtract (`conformingAdd` and  `conformingSubtract`) in `Vec.h` are not supported by `nvcc`.
I removed them and substituted with `operator+(r,l)`and `operator-(r,l)` in `ResultType.h`.
The problem is fixed now, but that would be good to test the Simbody lib for `cuda` project, as well.

[2019-11-05 21:11] sherm1 commented on #677
We depend on outside contributors to the Simbody open source project for support of hardware, operating systems, or compilers that we don't use ourselves. If you have a PR in mind that would allow operation under nvcc without breaking anything else, please do submit one.

[2019-11-26 00:50] livrou opened #678 "Inverse Kinematics fail"
So I am trying to run inverse kinematics and when I put in any time range (0 to 1.5), (0.0083 to 7.666) etc, it won't register that there is a final time and then fails since the final time (0)  is before the start time. Even when I edited it in the text editor and wrote: <time_range> 0.008333 12.333333</time_range>, then loaded it into the IK tool it showed the final time was 0.

[2019-11-26 00:53] chrisdembia commented on #678
I think you might find more success obtaining help by posting your issue to [OpenSim's forum](http://simtk.org/plugins/phpBB/indexPhpbb.php?group_id=91&pluginname=phpBB).

[2019-11-26 00:53] #678 closed

[2019-12-06 21:01] chrisdembia opened #679 "Release Simbody 3.7"
@sherm1 can I prepare a Simbody 3.6.2 release that includes the macOS Catalina fix (#676)?

- [x] update changelog
- [x] in README.md, replace "3.6" with "3.7"
- [x] check that README.md is up to date
- [x] update version number for user guide and advanced programming guide
- [x] check theory manual
- [x] post doxygen on a new simbody repository (simbody-<version>-doxygen)
- [x] update release dat

[2019-12-06 22:11] sherm1 commented on #679
(Fixed comment to read 3.6.2) -- yes definitely, thanks!

[2019-12-06 22:38] chrisdembia commented on #679
Oops; thanks for the correction. Great.

[2019-12-07 00:58] chrisdembia commented on #679
Actually, @sherm1 , given the new smooth contact model, what about a 3.7 minor release instead?

[2019-12-07 01:02] sherm1 commented on #679
Makes sense. Would need to update the release notes a little to advertise.

[2019-12-07 01:03] chrisdembia commented on #679
Will do.

[2019-12-07 01:31] chrisdembia commented on #679
I've started the release process, and I hope to finish it on Monday.

I'd like to restructure how we handle hosting doxygen by putting it all at `simbody.github.io`, using the new repo I just created. https://github.com/simbody/simbody.github.io. I'll update the links to doxygen that are in the user's guide, etc.

[2019-12-07 02:01] chrisdembia commented on #679
Okay, doxygen for all versions is now at https://simbody.github.io.

[2019-12-07 21:33] sherm1 commented on #679
Doxygen looks good on github.io. Can you say why that's better than the old way?

[2019-12-08 01:09] chrisdembia commented on #679
With the old way, we would need to create a new repository and edit the `simbody-latest-release` repository. Now, we can edit one repository. The new URL is shorter. Lastly, the landing page allows users to select the version for which they want documentation; before, users would need to navigate to a separate URL on their own.

If you prefer the old way, I can undo the changes.

[2019-12-08 01:57] sherm1 commented on #679
Nope, I was just wondering what the reason for the change was. Thanks!

[2019-12-08 22:35] chrisdembia commented on #679
@sherm1, I created a release for 3.7 (https://github.com/simbody/simbody/releases/tag/Simbody-3.7) and announced the release in the forum (https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=47&t=11304&p=0&start=0&view=).

To finish this issue, I created a PR to update the master branch after the 3.7 release.

[2019-12-09 00:12] sherm1 commented on #675
This was fixed in PR #680 for Simbody release 3.7 (and master). I'll close this now. Please open a new issue (or better, PR) if there are further changes you would like to see @yurivict.

[2019-12-09 00:12] #675 closed

[2019-12-09 00:25] #679 closed

[2020-01-18 08:59] apalazzi opened #682 "Simbody 3.7: TestCustomConstraints fails"
Hi,
The test TestCustomConstraints fot Simbody 3.7 fails on my system (Debian testing "bullseye" with some elements from unstable) with the following message:

[code]

[2020-01-18 10:19] apalazzi opened #683 "Different behaviour when using simbody RelWithDebInfo vs Release 3.7"
Hi,

I'm refactoring my program, and I have a strange behavior: if I use the (dynamic) libraries created with RelWithDebInfo it ends with an error "free(): invalid pointer", but if I run the debug version the error is different:
[code]
I tested different build options (-Ox, -gx, -DNDEBUG) but the result is always the same: the program using RelWithDebInfo aborts on free() while with Debug it fails

[2020-01-18 19:58] chrisdembia commented on #682
I think this is the same issue as #644, which you opened previously. Closing for now.

[2020-01-18 19:58] #682 closed

[2020-01-18 19:59] chrisdembia commented on #683
Are you building your client project with the same flags as those with which you compiled Simbody?

[2020-01-19 20:14] apalazzi commented on #683
Yes, same flags. I've also used the _d libraries on the release build and the release libraries with the debug build with the same result: assert with the debug libraries and invalid pointer(*) with the release libraries.

[2020-01-19 20:25] apalazzi commented on #683
I didn't specify any flags while compiling Simbody, the build system did all the job; moreover neither the readme nor the document linked at "you want to... use simbody in your own program" - aka SimbodyAndMolmodelUserGuide.pdf - says anything about flags or defines to be used during compilation of my program.

[2020-01-19 20:37] apalazzi commented on #682
@chrisdembia so, should I trust Simbody or not when using custom constraints? If the tolerance in the test is too strict, a proper fix should be to modify the tolerance in the test, no? Closing the bug and leaving the issue standing doesn't seems correct to me.

[2020-01-27 17:59] Aravind-Sundararajan opened #684 "Simbody Visualizer should have writeImage()/saveImage() exposed; also an option for transparent backgrounds"
The usecase here would be:

%MATLAB%
myModel =org.opensim.modeling.Model(*modelPath*);
myModel.setUseVisualizer(true);
state = myModel.initSystem();
statesStorage=  org.opensim.modeling.Storage(*statesPath*);
ST = org.opensim.modeling.StatesTrajectory().createFromStatesStorage(myModel, statesStorage,true,true,false);
state = ST.get(0);
sviz = myModel.updVisualizer().updSimbodyVisualizer();
sviz.se

[2020-02-20 17:37] #640 closed

[2020-02-27 02:45] chrisdembia opened #685 "Support variable mass properties"
@nbianco and I are hoping to support optimizing a body's mass in Moco. Right now, changing a body's mass require's invoking `OpenSim::Model::initSystem()` which is too expensive to do during direct collocation.

I had hoped that Simbody would allow editing the mass properties in the state (at stage Instance). I found the following in the source code:

https://github.com/simbody/simbody/blob/c6f465

[2020-02-27 02:46] chrisdembia commented on #685
@nickbianco

[2020-02-27 04:04] sherm1 commented on #685
Not difficult, I think -- mostly bookkeeping to take care of. We have examples of this already. The first one that came to my mind is [Thermostat](https://simbody.github.io/3.7.0/classSimTK_1_1Force_1_1Thermostat.html) which has the standard patttern: for example, `setDefaultBathTemperature(temp)` and `setBathTemperature(State&, temp)`.

Then the code in its [realizeTopology()](https://github.com/

[2020-02-27 04:09] sherm1 commented on #685
Yeah, [this state variable](https://github.com/simbody/simbody/blob/master/Simbody/src/SimbodyTreeState.h#L1291) is what I was thinking of. That already holds runtime values for all the mass properties and other parameters. Those get initialized to the default values -- I think all you would need to do is add APIs for modifying these (and make sure they don't accidentally get overridden afterwards

[2020-02-27 17:35] chrisdembia commented on #685
Thanks @sherm1 that's very helpful. Maybe we'll give it a shot.

[2020-03-24 09:29] Henrik-Norgren opened #686 "Allow tweaking optimizer parameters in Assembler class"
While using OpenSim's InverseKinematicsSolver, we noticed that we could get a huge performance boost without any major loss in solving quality by changing the limited memory history parameter in Assembler class:

https://github.com/simbody/simbody/blob/187d22c690359677912f03c0490049f878d36c72/Simbody/src/Assembler.cpp#L767

The default is hardcoded to 50, while we've found 3 to be sufficient for o

[2020-03-24 16:49] sherm1 commented on #686
Thanks, @Henrik-Norgren -- I didn't know that parameter could have such a substantial performance impact. I agree it would be a good idea to make it a settable parameter then. Any volunteers to submit a PR adding that option?

[2020-04-24 10:30] HiImJulien opened #687 "Use CMake's ${CMAKE_CURRENT_SOURCE_DIR} instead"
Hey there!
(TL;DR: What needs to be done to fix this is on the bottom.)

CMake offers two mechanisms to fetch dependencies on the fly. The older `ExternalProject` and the newer `FetchContent`.

The way latter works is really simple:
 1. Declare dependency
 2. Check if satisfied, if not, download it
 3. Add subdirectory

The only catch comes with how a project specifies it's file paths.
In my newer

[2020-04-24 14:56] moorepants commented on #687
If this is an issue, note that admin priviledges are not needed to install or run conda. By default it installs into non-admin locations.

[2020-04-24 16:58] sherm1 commented on #687
I'm unclear about what is being proposed here. Is there a change needed to Simbody or is this for people who want to use Simbody? Should there be a documentation change somewhere?

[2020-04-25 19:15] chrisdembia commented on #687
@HiImJulien I am okay with converting usages of `${CMAKE_SOURCE_DIR}` to `${CMAKE_CURRENT_SOURCE_DIR}` in the root `CMakeLists.txt` file in this repository.

Making this change in non-root `CMakeLists.txt` files would change behavior, correct? Outside of the root CMakeLists, you could maybe replace `${CMAKE_SOURCE_DIR}` with `${Simbody_SOURCE_DIR}`.

[2020-04-26 05:18] freeyyc opened #688 "Ubuntu 16.04 simbody-visualizer ExamplePendulum error"
Ubuntu 16.04
builded successful

when run ./ExamplePendulum. get a Error:
yyc@yyc-HP-Z4-G4-Workstation:~/simbody-source/build$ ./ExamplePendulum
Reactions @M: ~[~[~[24.7279,30.7279,-0.2],~[-33.76,33.56,-12]] ~[~[6.36396,9.36396,0],~[-16.88,16.78,-6]] ~[~[6.66134e-16,3,0],~[-7.92,5.94,-3]] ~[~[-1.18329e-30,-7.88861e-31,-4.44089e-16],~[0,0,0]] ~[~[-1.32625e-30,1.31634e-30,1.23252e-15],~[1.77636e-17,

[2020-04-26 19:34] HiImJulien commented on #687
@moorepants I've never used conda before and just assumed that this is an requirement. Thanks for correction me on this! I'd prefer to rather not rely on external tools, when I already have a working compiler, git, cmake and VIM environment.

@chrisdembia I would change it in the root as well, which would eliminate the need for a `${Simbody_SOURCE_DIR}` completely, I suppose.

@sherm1 This request

[2020-04-27 01:14] sherm1 commented on #687
Thanks -- very helpful! And your English seems perfect.

One minor clarification: it's "Simbody" without the capital "B".

[2020-04-27 22:47] HiImJulien commented on #687
@sherm1 Thanks, I'll keep that on my mind!

Lately an idea snuck up in my head: Why not create a fork, fix this issue and update all the build scripts to harness the power of modern CMake?

[2020-04-27 23:09] sherm1 commented on #687
And then submit a PR back to the master branch? Great idea!

One difficulty with major changes to the build scripts is that they must be retested carefully on all platforms. We support Windows, Mac, and Ubuntu and others have modified the build scripts to support a few other variants (FreeBSD and MingW I think?). And of course all of these systems come in lots of different versions and administrat

[2020-04-30 23:58] sherm1 commented on #688
Thank you for reporting this. Currently I only have access to Ubuntu 18.04. I built Simbody from scratch on two different Ubuntu machines (taking all the CMake defaults) but couldn't reproduce the problem. However, I do think I've seen something like that before and I wouldn't think the Ubuntu version matters. I would love to be able to track this down but need some help reproducing it. Any idea w

[2020-05-29 18:58] jjblum commented on #688
I also use 16.04 and this exact same error occurs every single time I execute any of the following examples:
ExampleAmysIKProblem
ExampleAssemblerPlayground
ExampleCablePath
ExampleClosedTopologyMechanism
ExampleContactPlayground
ExampleCustomConstraint
ExampleIMUTracking
ExamplePendulum
ExampleScissorLift
ExampleTwoBoxCollide

The error is always
simbody-visualizer listenerThread: unrecoverable e

[2020-05-29 19:09] sherm1 commented on #688
Thanks, @jjblum. I don't understand why the pipe read got interrupted, but maybe that shouldn't be treated as fatal. I wonder if it would fix the problem if it simply re-issued the call after getting an errno 4? I can't try that myself because I can't reproduce the problem -- any chance you could try a retry fix to see if that helps?

[2020-05-29 19:12] jjblum commented on #688
For sure - I just found, cloned, and built this in the past few hours, so you'd have to walk me through what change you'd like to implement.

[2020-05-29 19:18] jjblum commented on #688
I dropped this the cpp file from the error and it seems to have worked.

static void readDataFromPipe(int srcPipe, unsigned char* buffer, int bytes) {
    int totalRead = 0;
    while (totalRead < bytes) {
        auto retval = READ(srcPipe, buffer + totalRead, bytes - totalRead);

        int attempts = 0;
        while (retval == -1 && errno == 4 && ++attempts < 5)
        {
          retval = R

[2020-05-29 20:11] sherm1 commented on #688
Sweet! Thanks. Want to submit a PR and earn eternal fame on the contributors list?

[2020-06-04 12:54] CloneDeath opened #694 "IpTNLPAdapter.cpp Build Warning"
When doing a clean build of the entire project, I observed the following warning:

[code]

I am using `Ubuntu 18.04.4 LTS`

Issue can be reproduced by:
[code]

[2020-06-04 17:25] chrisdembia commented on #694
Thanks @CloneDeath. This is vendored code that we wouldn't want to diverge from the upstream Ipopt code base. It seems unlikely to me that we would want to upgrade to the latest version of Ipopt, but perhaps we could apply a patch to fix this.

Just curious...which compiler are you using? Seems like maybe GCC 7?

[2020-06-04 18:18] sherm1 commented on #694
@chrisdembia since we keep a local copy of IpOpt in the Simbody repo it might be worth a small hack to get rid of the warning. Lots of people will hit that and be worried that something is wrong.

[2020-06-04 19:39] chrisdembia commented on #694
I cannot reproduce this warning using GCC 9 on macOS.

[2020-06-09 09:51] adamkewley opened #696 "README example contains a horizontal plane"
Not a fatal issue, but just something I noticed when going through the docs.

If I compile the example in the README ("Here's some code to simulate and visualize a 2-link chain") and run it, I'm getting something that looks like this:

![Screenshot from 2020-06-09 10-45-27](https://user-images.githubusercontent.com/4730570/84133066-93a54e80-aa3e-11ea-9560-b2d92069f569.png)

I'm using the simbody t

[2020-06-09 10:06] adamkewley commented on #696
I've PRed a possible fix for this:

https://github.com/simbody/simbody/pull/697

[2020-06-12 21:15] sherm1 commented on #696
Fixed by #697.

[2020-06-12 21:15] #696 closed

[2020-06-12 21:27] sherm1 commented on #694
Fixed in #698.

[2020-06-12 21:27] #694 closed

[2020-06-14 23:11] sherm1 commented on #688
Hi, Jason -- your PR #691 to fix this is ready to merge except for one request for a comment. Can you add that so we can merge it? If you want me to do it instead, please let me know.

[2020-06-14 23:21] sherm1 commented on #682
BTW the but is not closed -- this was a duplicate of #644 which is still open and the problem still exists. I _think_ this is a problem with the test case rather than custom constraints, but that has yet to be proven.

[2020-07-01 09:14] tomlogan501 opened #699 "Test template in one header"
Hi,
Would it be great to regroup all test template in one header file other than declare in each test files ?

[2020-07-01 15:30] sherm1 commented on #699
I'm not sure exactly what you mean by "test template" -- can you provide some specifics?

Probably a better approach would be to convert Simbody's tests to use a standard test framework like Google Test.

[2020-07-02 06:51] tomlogan501 commented on #699
I talk about this type of code
[code]
Google Test is nice in ROS but if you factorize this type of macro, you don't need it and the code stay independent

[2020-07-02 15:53] sherm1 commented on #699
Yes, thanks -- I agree those ad-hoc macros should be centralized along with the other testing macros in [Testing.h](https://github.com/simbody/simbody/blob/master/SimTKcommon/include/SimTKcommon/Testing.h). Please feel free to submit a PR to improve that. Per the Simbody coding guidelines their names would need to change to be prefixed with `SimTK_` to avoid conflicts. They also might require some

[2020-07-22 19:38] dpellegr opened #701 "Segmentation fault in example TheoJansenStrandbeest"
I have successfully compiled the `TheoJansenStrandbeest.cpp` example (linux, gcc 10.1, simbody 3.7) but I get a segfault as soon as I launch it.

Here is my gdb backtrace:

[code]

[2020-07-22 20:32] dpellegr commented on #701
I noted that also other examples were showing the same behavior, so I dug a bit more and I found that I was missing `-DNDEBUG` on the command line.

So this produces a working executable:
[code]

[2020-07-22 22:30] sherm1 commented on #701
Thanks -- that's interesting. That turns off the asserts and expensive tests that are normally performed in Debug builds. However, it is not _supposed_ to fail in Debug (although it would likely run very slowly).

BTW, as long as you are building a Release (non-Debug) build, you should optimize to get decent performance. I would suggest `g++ -O3`.

[2020-07-22 22:32] sherm1 commented on #701
Simbody's CMake system knows which compiler flags should be used. If you use CMake to produce makefiles you can compile the examples using make. (All the binaries end up in the build directory that you specify to CMake.)

[2020-07-23 07:43] dpellegr commented on #701
I installed Simbody as a package, so I did not look too much into the compilation process, I just cd to the example folder and tried to compile a few manually as I would while developing my program. Some were ok, some required the flag.

And, yes, a segfault is never _supposed_ to happen :)

[2020-09-09 10:32] MadCatX opened #702 "ParallelExecutor executes in multiple threads when it should not, causes access to invalid TLS"
Hello everyone,

I have been seeing an odd crash in some of [molmodel](https://github.com/samuelflores/molmodel) unit tests which I eventually traced back to Simbody's `ParallelExecutor` running in multithreaded mode even when it should use the singlethreaded shortcut. The following conditions have to be met for the problem to occur:

- A `Parallel2DExecutor` task is created.
- The backing `Parall

[2020-09-09 15:42] sherm1 commented on #702
Thanks for the great investigation, @MadCatX -- would you like to submit a PR with a fix?

[2020-09-09 15:53] MadCatX commented on #702
If you believe that the fix is sensible and cannot break something else I can re-test it on the master branch (I use stable 3.7) and submit a PR.

[2020-09-09 16:22] sherm1 commented on #702
Thanks! Ideally if times==0 it should simply return rather than creating and destroying a task that does nothing. Consider making that a separate case that just returns and then leaving the other condition as is, assuming that also addresses the problem.

[2020-09-09 23:14] MadCatX commented on #702
I just realized that this fix is not sufficient. It fixes the problem if the backing `ParallelExecutor` is set to use only one thread but it creates an "inverse" case of the problem if the executor initially uses multiple threads. It seems to me that the only reliable fix would be to force the `ParallelExecutor` to use either multithreaded or singlethreaded mode throughout its entire lifetime when

[2020-09-10 09:17] adamkewley opened #703 "Any idea why OpenSimPartyDemoCable.cpp fails to converge?"
Minor issue, because this code isn't part of the main build, but it would be helpful if I could understand what's going on.

I'm currently looking into optimizing OpenSim's muscle wrapping code. One suggestion is to change the underlying implementation (effectively, [this](https://github.com/opensim-org/opensim-core/tree/master/OpenSim/Simulation/Wrap) bunch of code) to use SimTK's Cable implement

[2020-09-11 08:14] samuelflores commented on #702
Hi Sherm!

Thanks for the help!

These are preparatory activities for making an online nucleic acid folding service with MMB as the backend. MadCatX is not his birth name, surprisingly enough, but i guess it's not absolutely clear he wants to be outed. Anyway MadCatX is in my lab in Stockholm doing brilliant coding.

Sam

[2020-09-11 16:57] sherm1 commented on #702
Hi, Sam! Nice to see MMB getting some love. Regards, Sherm

[2020-09-11 20:39] sherm1 commented on #703
Hi, Adam. I'm not sure why that fails, but I did see a comment at the top that says "THIS DOESN'T WORK YET", so I guess we knew about that at some point.

I'm not sure Simbody's cable has sufficient functionality to replace OpenSim's muscle wrapping, but it might be worth investigating. A full implementation of [research by Andreas Scholz ](https://link.springer.com/article/10.1007%2Fs11044-015-94

[2020-09-12 08:13] adamkewley commented on #703
Ah, how did I not notice the comment!

Thanks for giving this a look @sherm1 , the info about alternative methods was also interesting. I'm currently just experimenting with alternative wrapping implementations that are "off the shelf", while also trying to perf tune what's already in opensim, but I'll take a look into AS's research. It might be thst i can clean room implement it, but that's fairl

[2020-09-12 08:13] #703 closed

[2020-09-17 00:52] MadCatX commented on #702
Just to keep this alive, I proposed a more robust fix for the issue in this PR (https://github.com/simbody/simbody/pull/704). Ubuntu CI builds seemed to be having some issues at the time I submitted the PR.

[2020-09-21 01:26] sherm1 commented on #702
Apologies for the delay -- #704 looks good with some minor review comments, PTAL.

[2020-12-04 15:56] jasonmeverett opened #706 "Failed build on Windows."
Hi all,

I've had success with installing Simbody on a few environments, but I'm getting stuck on trying to compile on my local Windows machine. Any help would be greatly appreciated!

**Basic information**:
* [Up-to-date Simbody](https://github.com/simbody/simbody/commit/dda623d3e099b38ef9e551a6b647cb5e8dfbbb25)
* CMake 3.19.0-rc3
* Visual Studio 16 2019
* RelWithDebInfo

**CMake Output**:
[code]

[2020-12-04 16:20] jasonmeverett commented on #706
Update:

Looks like similar error is being worked on a different project [here](https://github.com/pytorch/pytorch/issues/48517).

[2020-12-04 16:26] jasonmeverett commented on #706
Update:

I am able to get a compiled version by modifying a line in `SimTKcommon\BigMatrix\include\SimTKcommon\internal\VectorIterator.h` by changing:

[code]

to:

[code]

Not quite sure why this is required but it seems like things are working now after testing a few examples.

[2020-12-04 16:48] aymanhab commented on #706
Thanks @jasonmeverett, can you open a PR with the fix so we test on all platforms? Thank you

[2020-12-04 16:54] sherm1 commented on #706
That would allow mutable access to a const object -- not a good idea! I think the fix should be at the point where this is used, not here.

[2020-12-04 17:00] jasonmeverett commented on #706
@aymanhab @sherm1 Excuse my limited expertise, Aerospace by trade and software dev by tangential dependency. This is very quickly approaching an area of C++ that makes me shiver. 😄

I can try to find where this is being called.

[2020-12-04 17:48] jasonmeverett commented on #706
If I'm reading this correctly, part of the problem appears in `ContactGeometry_TriangleMesh.cpp`:

[code]

[2020-12-04 18:03] aymanhab commented on #706
The call sequence in question is:
ContactGeometry::TriangleMesh::Impl::splitObbAxis
median(minExtent)
median(RandomAccessIterator start, RandomAccessIterator end)
std::nth_element(start, mid, end) // implemented on msvc side, changed in the latest update ..
...

[2020-12-04 18:50] jasonmeverett commented on #706
@aymanhab I tried a few things with no success. Am I passing a `const` object when I shouldn't be, or something vice-versa?

[2020-12-04 19:23] aymanhab commented on #706
@jasonmeverett I think what we're doing on the simbody side is perfectly fine,  passing iterators on Vector down to a method that has the signature
void nth_element( RandomIt first, RandomIt nth, RandomIt last )
I tend to think this is a change on microsoft's side to accommodate new requirements for c++20 but I haven't figured out how to switch these changes off yet to avoid making unnecessary cod

[2020-12-04 21:27] nickbianco commented on #706
It seems like this was a bug with Visual Studio 16.5: https://developercommunity.visualstudio.com/content/problem/953628/c-c2100-illegal-indirection-with-stdc-latest-after.html. It was fixed in 16.7, but maybe it was reintroduced somehow.

[2020-12-05 00:44] sherm1 commented on #706
@jasonmeverett and @aymanhab -- my apologies. Jason's proposed fix is correct. VectorIterator is a not a const_iterator, so even when the iterator is const it can still point to a writable element. (Like a pointer declared `int* const p;`)

I have submitted PR #707 to fix this problem and also a couple of warnings I saw. Jason, can you review that for me please and ideally try it out before I merg

[2020-12-05 17:58] #706 closed

[2020-12-17 18:00] jasonmeverett opened #709 "Anaconda Windows Install - Visualizer Exception"
After installing with miniconda3 and building an example program, I get the following error message pertaining to `VisualizerProtocol`:

[code]

Strange thing is, `simbody-visualizer` exists on the path, but it's not in any of the above directories since I am using the conda installation. It almost seems as if there's a hardcoded `C:\Program Files\Simbody\bin\` somewhere and that's where it's tryi

[2020-12-17 18:05] jasonmeverett commented on #709
To add on to this issue, it looks like the default install tests are also failing. Running PowerShell in Administrator mode

[code]

Running the above for me still fails. However, running `.\SimbodyInstallTestNoViz.exe` runs completely fine and prints the appropriate output. So again, routes back to something about the visualizer install on anaconda.

[2020-12-17 18:07] moorepants commented on #709
The issue is more than likely associated with the specific build we do for conda, which is defined here:

https://github.com/conda-forge/simbody-feedstock/

Maybe we need some tests for the visualizer on windows there. I think it currently only tests if files were located in the correct place.

[2020-12-17 18:10] moorepants commented on #709
This `  D:/bld/simbody_1591833882663/_h_env/Library/bin/` should be replaced with the correct paths on your system by conda.

I think this https://github.com/conda-forge/simbody-feedstock/blob/master/recipe/meta.yaml#L18 is supposed to do that.

[2020-12-17 18:11] moorepants commented on #709
Also you say "anaconda" package, but there are no anaconda packages. You are installing from the conda forge channel, right?

[2020-12-17 18:18] jasonmeverett commented on #709
Apologies, yes, I'm referring to the conda forge channel.

[2020-12-17 18:22] jasonmeverett commented on #709
Do these paths exist anywhere in a config file on my local machine that I can "hack" update, without working through the feedstock pipeline?

[2020-12-17 18:34] moorepants commented on #709
The package is installed in in your miniconda directory. You can grep the files for that build path and change them manually.

[2020-12-17 18:43] moorepants commented on #709
This function:

https://github.com/simbody/simbody/blob/dda623d3e099b38ef9e551a6b647cb5e8dfbbb25/Simbody/Visualizer/src/VisualizerProtocol.cpp#L107

is obtaining an incorrect path. On install conda is supposed to replace all instances of `D:/bld/simbody_1591833882663/_h_env` with the correct path on the system it is installed on. We need to figure out why this isn't being replaced.

[2020-12-17 18:47] moorepants commented on #709
The path is found with this code:

https://github.com/simbody/simbody/blob/dda623d3e099b38ef9e551a6b647cb5e8dfbbb25/Simbody/Visualizer/src/VisualizerProtocol.cpp#L292

[2020-12-17 19:02] moorepants commented on #709
Do you have that path hardcoded in your cmake files?

[2020-12-17 19:04] jasonmeverett commented on #709
Nope no hard-coded path. I call CMake from PowerShell prompt after activating my environment with `conda activate`. Here's the CMake file I'm using:

[code]

[2020-12-18 17:04] jasonmeverett commented on #709
Well, as a hacky solution here,  I ended up creating the `C:\Program Files\Simbody\bin` directory that simbody is looking for, and manually copied `simbody-visualizer.exe` from `<conda env>\Library\bin\` into this new folder. Now the visualizer opens and there's no issue.

Considering we'd like this solution to be user-friendly I certainly don't want this to be the only solution, but I guess this

[2020-12-23 10:19] adamkewley opened #710 "Clang10 /w C++20 error: SimTK indexes: use of overloaded operator '==' is ambiguous"
I'm compiling a downstream project that uses OpenSim, but (transitively) includes Simbody. Top-level compiler details:

[code]

Installed as a prebuilt binary from the llvm project site. Effectively, I unpacked it and then configured a project that uses it. Command-line looks something like this:

[code]

This compiles completely fine if my project is set to C++17, e.g. with:

[code]

When compili

[2020-12-23 17:03] sherm1 commented on #710
Thanks, Adam!

[2021-01-17 09:18] jasonmeverett opened #711 "Docker & Simbody Visualizer : GLXBadContext"
I've wrapped Simbody into a Docker image (Ubuntu 20.04), and I'm trying to also activate the visualizer. I've gotten other X11-apps to open up just fine from within the container. When I run the install test, I get the following error:

[code]

I'm running an RTX 2070 Super. Any help would be greatly appreciated. I can provide more information if needed.

Thanks!

[2021-01-17 10:05] jasonmeverett commented on #711
Update: I've tried multiple different build types (Debug, RelWithDebugInfo), and have also tried multiple different X-servers. I'm not familiar enough with the Visualizer source (or OpenGL for that matter) to understand this issue.

[2021-01-17 11:24] jasonmeverett commented on #711
Update: problem solved. First off I added a few extra libraries to my Docker image:

[code]

I also updated my `LIBGL_ALWAYS_INDIRECT` to be `0`. Interestingly enough, on nearly every online forum I saw (except for 1), recommended procedure to fix similar-looking issues has been to issue the following:

[code]

However in my case, this actually causes GL errors. I'm actually not sure if any of the

[2021-01-17 18:26] sherm1 commented on #711
Great work -- congratulations! BTW the Dockerfile link gave me a 404 error.

[2021-01-17 18:49] jasonmeverett commented on #711
@sherm1 Oops, sorry about that, my repo was spawned as a private repo (I eventually plan on adding some work related stuff into this, but there's nothing proprietary on it yet). Here's the link to the repo:

https://github.com/jasonmeverett/modeller

I'd love your input on the Docker configuration when you get a chance.

[2021-01-18 00:01] sherm1 commented on #711
Thanks Jason, now I can see it. Sadly I can't provide any useful commentary since I've never used Docker :cry:

[2021-01-18 14:49] #711 closed

[2021-01-18 14:50] jasonmeverett commented on #709
Closing because the above solution technically works fine and is not that hard to configure. Also moved to a Docker configuration for Windows so I'm moving away from Conda install.

[2021-01-18 14:53] moorepants commented on #709
This should stay open or be transferred to the feedstock repository. It is an issue that should be fixed.

[2021-01-18 18:00] Pratool commented on #687
@HiImJulien Have you made progress? I would like to use Simbody CMake exported targets and am willing to make changes necessary in Simbody's build system to enable this. However, I do not want to duplicate effort if you are updating all the build scripts to leverage modern CMake.

[2021-01-18 21:41] jasonmeverett commented on #361
Any status on this? Curious if anyone ever implemented DecorativeArrow. Was about to open up a new issue for this but it sounds like it just hasn't been implemented.

[2021-01-22 07:39] jasonmeverett opened #712 "Including Differnet-Type Euler sequences (3-2-1, 1-3-1, etc.) into Quaternion Initialization"
We quite often default to 3-2-1 sequence for our work, which is the purpose of opening this. Eventually it would probably be nice to have some sort of default function that can handle any arbitrary sequence (like a character sequence of 'XYZ', 'ZYZ', etc, maybe?), but that's probably out of the scope of this.

[2021-01-22 07:40] jasonmeverett commented on #712
[Forked here, I'll post updates on this thread.](https://github.com/jasonmeverett/simbody)

[2021-01-22 18:43] sherm1 commented on #712
Simbody does have utility methods supporting any Euler sequence -- see the various constructors and methods in the [Rotation ](https://simbody.github.io/3.7.0/classSimTK_1_1Rotation__.html) class.

3-2-1 doesn't uniquely define a sequence because it could be either "body fixed" (intrinsic) or "space fixed" (extrinsic) -- the Rotation methods take both the sequence and a specification of how it is

[2021-01-23 04:07] jasonmeverett commented on #712
Ah, apologies. I did not see this :). Thanks again for the quick response.

[2021-01-23 04:07] #712 closed

[2021-03-25 22:01] MadCatX opened #715 "ObservedPointFitter crashes attempting to get a reference to nullptr"
I wish I could be more descriptive but the problem seems a bit illusive to me.

I ran into this issue while fixing up [molmodel](https://github.com/samuelflores/molmodel)'s test suite. Some tests ([TestFitMagnesiums](https://github.com/samuelflores/molmodel/blob/master/tests/TestFitMagnesiums.cpp), [TestLoadPdb](https://github.com/samuelflores/molmodel/blob/master/tests/TestLoadPdb.cpp), [TestProt

[2021-03-26 18:33] sherm1 commented on #715
Hmmm. That will take some investigation. The presenting problem is that Simbody's State assignment `operator=()` is trying to flush out invalid cache entries in the destination State prior to doing the assignment. (This is occurring due to ObservedPointFitter switching the state back to quaternions from the Euler angles it uses internally, with the assignment at SimbodyMatterSubsystemRep.cpp:1797.

[2021-03-26 21:14] MadCatX commented on #715
I suspected that this was a molmodel issue all along. I took a look at how Simbody uses ObservedPointFitter and eventually fixed the problem with this one-liner:

    - State& state = matchingSystem.updDefaultState();
    + State state = matchingSystem.getDefaultState();

This is the equivalent of `State s = mbs.getDefaultState();` in Simbody's `TestObservedPointFitter` code on L124. Does this mak

[2021-03-26 22:01] sherm1 commented on #715
Oh, that makes sense -- writing on the System's internal default state is a bad idea! In fact the [doxygen documentation](https://simbody.github.io/3.7.0/classSimTK_1_1System.html#abe10df3e1df1326164e32098a73772a9) says:
[code]

I'm not sure _exactly_ why that caused the observed problem, but I suspect this is the right fix. I'll close this one -- please file a new issue if you run into that probl

[2021-03-26 22:01] #715 closed

[2021-04-01 09:53] FCL-M commented on #519
Hi All,

is this issue solved? If yes, I'm very interested as I have exactly the same issue: a series of quaternions obtained from measurements that result is enormous outliers when calculating the angular velocity. just canonising the quaternions doe not solve the problem.... The body I'm looking at has 3 threefold symmetry so there are 6 orientations that virtually look alike. So some indetermin

[2021-04-01 15:08] sherm1 commented on #519
Hi, @FCL-M. Please read the entire discussion above to see the cause and possible solutions for this problem. There is no magic solution to be found by changing how rotation matrices are converted to quaternions -- there is inherent arbitrariness there that cannot be eliminated. However by changing frames you can avoid the problem.

I'm going to close this issue since everything is working as it s

[2021-04-01 15:08] #519 closed

[2021-04-18 14:51] HiImJulien commented on #687
@Pratool Excuse the late answer; I am hospitalized for a while now.

However, as soon as I'll get dismissed, I'll try to dig up my previous work. Which might prove helpful.
Also, feel free to add me as a reviewer ;)

[2021-04-30 03:06] #709 closed

[2021-05-28 13:20] YongchuanYu opened #717 "Failed to compile (Install) simbody with vs2019"
When I use VS 2019 to install Simbody in Windows follow the instruction, no matter which type I chosed, "debug", "release" or others, when I right click on "ALL BUILD",  it always has several errors like :“fatal error LNK1104: can not open file '..\..\..\..\..\..\RelWithDebInfo\SimTKmath.lib",
and also "binary '*': no operator found which takes a left-hand operand of type 'const_Bidlt' (or there i

[2021-07-10 06:31] sh-hsz opened #718 "MATLAB error"
I'd like to design an exoskeleton for arm26.osim in MATLAB and define a pin joint between to links of created robots but MATLAB makes the following error:

Java exception occurred:
java.lang.RuntimeException: SimTK Exception thrown at Integrator.cpp:431:
  Integrator initialization failed apparently because:
SimTK Exception thrown at SimbodyMatterSubsystemRep.cpp:4361:
  Error detected by Simbody

[2021-09-22 06:36] yumianhuli2 opened #722 "Question about Simbody pre-processing/input file/CPP... for simulation"
Does Simbody have a pre-processing module to generate the simulation input file, and then perform the simulation by parsing the simulation input file? Or Simbody currently only providing the ability to write CPP files for simulation?
Thank you！

[2021-09-22 15:49] sherm1 commented on #722
You have to write a C++ main program. There is an example (Gazebo2Simbody) that reads an .sdf file -- you could modify that if you want to try making a generic main program that can be driven from an external file.

[2021-09-22 15:49] #722 closed

[2021-10-06 13:45] yumianhuli2 opened #723 "About the method of solving Simbody dynamics"
Dear Simbody Team！
Could you plz tell me which method is used to solve simbody dynamics? Is it Newton-Euler, Lagrange, or Kane method？Thank you！

[2021-10-06 15:50] sherm1 commented on #723
Simbody's dynamics solver follows Abhi Jain's methodology in his 2011 book [Robot and Multibody Dynamics](https://www.amazon.com/Robot-Multibody-Dynamics-Analysis-Algorithms-dp-1489982302/dp/1489982302) (and his many papers on the topic). Ultimately I believe that is based on Newton-Euler.

[2021-10-15 09:40] Ace314159 commented on #628
If #724 is merged, if the `WINDOWS_USE_EXTERNAL_LIBS` CMake variable is set, I think that would solve the that problem as well.

[2021-11-17 13:06] tgeijten opened #725 "Are the HuntCrossleyForce dissipation coefficients combined correctly?"
In HuntCrossleyForce::calcForce(), the dissipation coefficients of two materials are combined as follows:
[code]

The dissipation `c` is a weighted sum based on the relative stiffnesses, yet `s1` represents the relative stiffness of `param2` and not `param1`. Shouldn't it be the other way around? This would make more sense:

```const Real c = param1.dissipation*s2 + param2.dissipation*s1;```

Here

[2021-11-17 16:54] sherm1 commented on #725
Hi, Tom. The way to think about this is to imagine one object as very stiff (effectively rigid) and the other very soft. When they interact, the soft one will do almost all the deforming, and hence will contribute almost all of the dissipation. To test the formula, let's say object1 is very soft and object 2 is rigid (that is, param2.stiffness >> param1.stiffness). We would then hope that the comp

[2021-11-18 13:06] tgeijten commented on #725
Your reasoning indeed makes sense. When a stiff and bouncy object falls on a soft inelastic surface, you would want the dissipation to be determined mostly by the soft surface. Thank you for your quick and insightful response!

From: Michael Sherman ***@***.***>
Sent: woensdag 17 november 2021 17:54
To: simbody/simbody ***@***.***>
Cc: Thomas Geijtenbeek - 3ME ***@***.***>; Author ***@***.***>
Sub

[2021-11-18 16:48] sherm1 commented on #725
You're very welcome. And thanks for questioning what's there -- I guess we got this one right but that's no guarantee we didn't screw up elsewhere!

[2021-11-18 16:48] #725 closed

[2021-11-20 21:52] glisca commented on #684
@Aravind-Sundararajan did you manage to expose these functions in the API?

[2022-01-06 10:35] LukeDesch opened #727 "Wow"

[2022-01-06 16:49] sherm1 commented on #727
Could use a little more detail!

[2022-01-06 16:49] #727 closed

[2022-01-07 20:18] LukeDesch commented on #727
_There is no issues its for who know how to do it! :+1:

[2022-01-22 03:56] yumianhuli2 opened #728 "About 2d/3d constraint library"
Hello！
What C++ code files of simbody are associated with the kinematic/dynamics 2d/3d constraint library？
Thank you！

[2022-01-24 17:47] aymanhab commented on #717
What version of the code base are you trying to compile? We use vs2019 for nightly ci without an issue on latest master branch, log here
https://github.com/simbody/simbody/runs/4698509654?check_suite_focus=true

[2022-01-25 00:47] sherm1 commented on #717
I also recently built Simbody master using VS2019 and VS2022 (locally on my Windows 10 machine) with no trouble. Can you be more specific about the problem? Any possibility you might have some old files around? Or an old version of CMake or old .sln file? I'm using 3.22.1.

[2022-01-25 00:50] sherm1 commented on #717
(I'm building in 64 bit mode)

[2022-01-25 09:20] YongchuanYu commented on #717
I didn't succeed with VS 2019 until now, I saw some suggestion under this issue yesterday, Let me try those suggestion.
Actually our open library also has many users, as I can not compile with VS 2019, I must answer those question about the faiure on VS 2019 all the time.

[2022-01-25 09:22] YongchuanYu commented on #717
I didn't succeed with VS 2019 until now, I saw some suggestion under this issue yesterday, Let me try those suggestion.
Actually our open library also has many users, as I can not compile with VS 2019, I must answer those question about the faiure on VS 2019 all the time.

[2022-01-25 09:25] MokaMech commented on #717
Hey Michael and Ayman,

Here is the setup :
I am trying to install Simbody 3.7 to my W10 machine. I'have installed VS
2017 / 2019 / 2022 and VS Build Tools 2022.

I'm following the steps described in the Github Simbody web page.
I have started from scratch, from the sources downloaded on the Github page
and followed the instructions to build it through Cmake 3.22.1 (default
settings, x64 bit versi

[2022-01-25 09:38] YongchuanYu commented on #717
This problem happed in last year, since then I tried 3 or 4 times more, then I shift back to VS2017 and ask all our costumers try VS 2017 instead of VS 2019, that is pity :-(. Now my computer is running a simulation, I will ask my new colleague to try again the VS 2019. Thanks for your answer.

[2022-01-25 09:40] YongchuanYu commented on #717
Last year when this problem happened, I tried Simbody 3.7 release version, with latest version of CMake, I will try your suggestion to check again. Thanks for your answer.

[2022-01-25 09:45] MokaMech commented on #717
Sorry I made a mistake in the post above : error files were generated with VS 2022, but I had exactly the same troubles with VS 2019.

[2022-01-25 10:19] MokaMech commented on #717
Edit : I managed to build the ALL_PROJECT solution thanks to VS 2017. I checked that Cmake was configured with CMAKE_LINKER = C:/path_to_VS2017/bin/.../linker.exe  ( Error LNK1104 form VS)
Did the same for CMAKE_AR and then opened the .sln file with VS2017.

The issue I reported was for Cmake compiler configured for VS 2022, and .sln file opened with VS 2022. Not functionning until now.

[2022-01-25 17:03] sherm1 commented on #717
@MokaMech I see that @aymanhab and I have both been building from the master branch, while you are building from the 3.7 release branch. I think there have been some fixes in the master branch that may explain why we are not having trouble. Is it possible for you to try getting Simbody source from the master branch to see if that fixes your problem? If so I will make a new release that includes th

[2022-01-26 00:18] sherm1 commented on #728
In the [Simbody/src](https://github.com/simbody/simbody/tree/master/Simbody/src) directory there is a set of files with names beginning with `Constraint_`, for example:
[Constraint_PointOnPlaneContact.cpp](https://github.com/simbody/simbody/blob/master/Simbody/src/Constraint_PointOnPlaneContact.cpp)

For each of those there is a public header file in [Simbody/include/simbody/internal](https://gith

[2022-01-30 08:03] yumianhuli2 commented on #728
It looks like it is, but it would be a lot easier to understand if you had a diagram for each constraint. Thank you！！

[2022-01-31 05:10] #728 closed

[2022-02-10 16:18] YongchuanYu commented on #717
@sherm1 @aymanhab
I compile Simbody release version with VS 2022 failed, some errors about link problem, while I compile Simbody master version VS 2022, I succeed, do you know what is the problem?

[2022-02-21 09:55] frederico-klein commented on #563
So I've been hit with this and I unfortunately managed to cause it rather consistently.

This happens when I try to use Xming 32bit (or vcXsrv 64-bit) with Windows 10 to display output from a docker instance containing OpenSim.

To get the docker: `docker pull mysablehats/opensim-rt:main` or follow the instructions from this repository https://github.com/frederico-klein/docker-opensimrt/tree/main

[2022-02-21 16:01] sherm1 commented on #563
This sounds like an issue with OpenSim and should be reported there:
GitHub: https://github.com/opensim-org/opensim-core
Forum: https://simtk.org/plugins/phpBB/indexPhpbb.php?f=91

[2022-02-21 16:01] #563 closed

[2022-03-09 19:03] fcanderson opened #729 "Suggestion: simple algorithm for proper interpolation of quaternions."
@sherm1

I hope you are doing well personally and are not too busy professionally.  I'm writing, not to report a bug, but to see if it makes sense to incorporate a relatively simple algorithm into Simbody related to quaternions.

I continue working to use Blender, an open-source animation suite (www.blender.org), as a means of visualizing Simbody simulations.  A large part of that work has been to

[2022-03-16 12:29] ggulgulia opened #730 "official conan recipe for simbody"
##Description
* Do you know about [Conan](https://github.com/conan-io/conan)?
* [Conan](http://docs.conan.io/en/latest/) is modern dependency manager for C++. And will be great if your library will be available via package manager for other developers.
* [Here](https://github.com/conan-io/conan-center-index/blob/master/docs/how_to_add_packages.md) you can find example, how you can create package f

[2022-03-16 15:30] ggulgulia commented on #730
I'll be happy to give it a try. Thanks for assigning the issue to me

[2022-05-05 20:50] sherm1 commented on #729
Wikipedia also mentions this in its [Slerp ](https://en.wikipedia.org/wiki/Slerp) entry.
My thought would be that Simbody's Quaternion class should have a `q=q1.slerp(f, q2)` function that returns a quaternion q some fraction f of the shortest way between q1 and q2. That seems better to me than exposing the non-canonical quaternion.

[2022-05-06 20:08] fcanderson commented on #729
Thanks for the Wikipedia link. I should have found that!

Blender has a slerp() method just like the one you propose:  mathutils.Quaternion.slerp(q2, f).  Blender calls that method internally when it interpolates quaternions.  There's an important difference though. Blender's slerp() does not pick the "shortest way between q1 and q2", which is what I was stymied by.  It sometimes generates quatern

[2022-05-11 16:07] hwy1992129 commented on #729
Hello, I am working on OpenSim and Blender. I am interested in your work on Simbody and Blender. Could I learn about what you are doing? Thanks.

[2022-05-11 20:11] fcanderson commented on #729
@hwy1992129  I'd be happy to discuss my activities relating to OpenSim, Simbody, and Blender. It's probably better if you and I interact via the email address associated with my GitHub repositories:  fcandergit@gmail.com.  Feel free to send me an email, and please tell me more about your interests and activities.

[2022-05-14 21:16] fcanderson opened #733 "Exponential Springs in OpenSim"
@sherm1 @aymanhab

This week I began work to bring the `ExponentialSpringForce` contact model into `OpenSim`.  I discovered that all force producing objects in `OpenSim` inherit from `OpenSim::Force`, which in turn has some generic code (written by @peastman  and Ajay) that interacts with `SimTK::Force`.  The issue is that the `SimTK::ExponentialSpringForce` class does not inherit from `SimTK::For

[2022-05-16 02:04] fcanderson commented on #733
I successfully reworked the ExponentialSpringForce class to derive from SimTK::Force, instead of being its own ForceSubsystem.
 All tests are passing.

Once I make a few necessary adjustments to the documentation and do some more testing, I will submit a pull request.

@sherm1, I'm sorry to ask you to review the code once again (after such a thorough go-round the first review).  The changes are al

[2022-05-16 16:16] sherm1 commented on #733
Happy to re-review. Just point me to the relevant changes so I don't have to review previously-reviewed stuff.

Yes, IIRC the Force subsystem invokes calcForce() on each Force element from its own realizeDynamics() function.

[2022-05-16 16:54] fcanderson commented on #733
Thanks Sherm.

Makes sense about calcForce() being called from the Force subsystem's own realizeDynamics() function.

I will leave a comment on the PR suggesting an efficient way to identify the code changes.

[2022-06-16 14:22] charlesdranoff opened #736 "Elastic Foundation Force Computation Error"
I have run into two distinct but related problems when running a forward dynamics simulation using Simbody’s Elastic Foundation Force to model contact between a falling brick (with a contact mesh) and a contact half space:

1. Faces which should not be flagged as “in contact” are producing force
2. The angle of the face is not accounted for in the force computation

This simulation is unidirection

[2022-06-16 15:50] sherm1 commented on #736
Thank you for the detailed report!

Once concern I have is that OpenSim is still using the deprecated ElasticFoundationForce element, rather than the preferred implementation as a ContactForceGenerator (see [CompliantContactSubsystem.cpp:1824](https://github.com/simbody/simbody/blob/master/Simbody/src/CompliantContactSubsystem.cpp#L1824) for the force calculation). Likely that has similar behavior

[2022-06-16 16:04] sherm1 commented on #736
BTW although Simbody's ElasticFoundation models require fairly dense meshes to give reasonable behavior, we have recently developed a new method ("Pressure Field Contact") which is far better and gives smooth forces for any mesh, however coarse. Here is the [published](https://ieeexplore.ieee.org/abstract/document/8968548) and [arXiv](https://arxiv.org/abs/1904.11433) versions of a paper describin

[2022-06-16 18:21] charlesdranoff commented on #736
Thank you for your quick response. I really appreciate you taking the time to help me. I will look into the preferred implementation for the force computation and see if I can refine my mesh to obtain more accurate results. I will keep you updated with any progress. Thank you again for all your help.

[2022-06-22 22:25] volmen3 opened #737 "Compile error C2678 when building ALL_BUILD in Visual Studio"
I encounter some problems when building the ALL_BUILD project in Visual Studio with following specifications:
- Visual Studio 2022 17.2.5 (same problem on VS 2019)
- MSVC v143 - VS 2022 C++-x64/x86-Buildtools
- Building "RelWithDebugInfo" and x64 configuration

I get some compiler error C2678 ([build_log.txt](https://github.com/simbody/simbody/files/8962136/build_log.txt)), complaining about some

[2022-06-23 00:09] sherm1 commented on #737
Can you say which version of Simbody source code you are using? Is this the current master branch from GitHub or an older version? If it's older the problem may have been fixed already in master.

[2022-06-23 07:27] volmen3 commented on #737
I use "Simbody release 3.7", which I've downloaded from here: https://github.com/simbody/simbody/releases

[2022-06-24 11:07] volmen3 commented on #737
Indeed, that was the problem. The compilation and installation process of the master branch (using configuration described above) went well.

Regarding the release versions: The release version 3.6 has the same problem as 3.7 and using an older compiler version such as MSVC v142 doesn't solve the problem. Just wanted to point out, that it's not only the last release which is affected.

[2022-07-14 08:49] kakuhin1984 opened #739 "Where is the PIN constraint equation"
Hello! Dear SimBody Team!
 where is the constraint equation for MobilizedBody::Pin in the constraint classes source file?

[2022-07-14 16:37] #739 closed

[2022-07-15 20:38] sherm1 commented on #739
Yes, we prefer mobilizers (internal coordinate joints) since they are much more efficient and not subject to drift. Those are limited to forming a tree topology though. Simbody also supports arbitrary constraints, and those can also be used to create joints. However, if you have a multibody system with a loop topology, we recommend that you simply cut one of the bodies to form a tree, then glue it

[2022-07-16 10:22] yumianhuli2 commented on #739
ok,thank you!

[2022-07-20 18:35] v22buff opened #740 "Compilation error in Visual Studio 2019"
I am trying to build Simbody using Visual Studio 2019, and am running into a base class undefined error (C2504), and the file points to IpLapackSolverInterface.hpp

I have tried using the master branch for the source, and tried Visual Studio 2017 as well, which points me to the same error. Please find the log attached. I think the linker errors that follow come from the error mentioned above.
[log

[2022-07-20 22:39] v22buff commented on #740
I had to change the namespace from Ipopt to SimTKIpopt in the files that were patched for use with RTOSIM (files IpLapackSolverInterface.cpp and IpLapackSolverInterface.hpp. The build now finishes without issues.

[2022-07-20 22:39] #740 closed

[2022-09-18 21:04] noambernstein opened #742 "warnings about "binding dereferenced null pointer" in MeasureImplementation.h"
I'm getting back to an old code (about 4 years old), on a Mac (macOS 12, Xcode 14.0, Apple silicon), using clang 14. I can't swear that these are new, but I thought I'd check.  I'm getting the following warnings when compiling my code, which does `#include <Simbody.h>`.  Should I be worried, and/or is this something that could be cleaned up in the simbody include files?

[code]

[2022-09-18 21:10] noambernstein commented on #742
Never mind - looks like the warnings when away when I fixed my own bugs.

[2022-09-18 21:10] #742 closed

[2022-09-24 23:07] volmen3 opened #743 "Usage of SimTK::Vec for custom types."
I have some type (let's say `SomeClass`) and would like to use it as an element of `SimTK::Vec`. So I try to do the following:
[code]
but it doesn't work since `SimTK::CNT<SomeClass>` is not defined and all the typedefs from `SimTK::NTraits` are missing.

Then I tried to do the following:
[code]
or
[code]
but it still doesn't compile.

I get errors saying that a bunch of typedefs is missing. E.g.:

[2022-09-25 14:26] fcanderson opened #744 "Incoming PR - Improvement to ExponentialSpringForce"
@sherm1 @aymanhab

I hope you both are doing well.

While wrapping Simbody::ExponentialSpringForce for use in OpenSim, I thought of and implemented a better way to handle the transition between μₛ and μₖ.  The new implementation is entirely in Simbody; it's all under the covers as far as OpenSim is concerned.  The new implementation allowed 1 state and a fair amount of code to be removed from clas

[2022-09-25 22:04] sherm1 commented on #744
As a reviewer, I would prefer to see a separate PR first that corrects _only_ formatting. With that promise, I don't have to look at every line, just do a basic sanity check. Once that's merged, the substantive PR can go in with only substance and no whitespace fluff so it can get a serious review.

[2022-09-25 22:35] sherm1 commented on #743
Hi, Evghenii.

Some documentation that might help is the [file doxygen](https://simbody.github.io/3.7.0/CompositeNumericalTypes_8h.html#details) for CompositeNumericalTypes.h. NTraits is used to provide missing information for the numerical types, you could add an additional specialization for [NTraits](https://simbody.github.io/3.7.0/NTraits_8h.html#details) and then a CNT specialization like tho

[2022-09-27 14:18] fcanderson commented on #744
Ok.  Very good.  I will proceed as you describe.  I'll do a PR that corrects ONLY formatting.  Then, I'll do the PR with the substantive  changes.  Thanks, Sherm.

[2022-09-28 17:02] #744 closed

[2022-10-14 22:49] fcanderson commented on #744
Thanks for the response Ayman.  You expressed exactly the same preference as @sherm1.

~Sixteen days ago I submitted a format-only PR, and @sherm1 quickly turned that PR around.  The format changes are now merged.

A few days later, I submitted the PR with the substantive changes.  Tests passed, but waiting on a review.  As soon as the substantive changes are merged, I'll submit the OpenSim PR for

[2022-11-03 10:57] adamkewley opened #747 "The OBJ file parser should ignore all kinds of whitespace for face (`f`) commands"
Minor bug, but it popped up when a user supplied custom-computed mesh data to OpenSim Creator (see: https://github.com/ComputationalBiomechanicsLab/opensim-creator/issues/473)

The bug is that SimTK's OBJ parser will fail to parse OBJ files that use tabs as delimiters in the face (`f`) command.

A quick search on the internet indicates that OBJ fields do not have a strictly specified field delimit

[2022-11-03 10:58] adamkewley commented on #747
I might be able to fix this myself and PR it - I'm just writing it up so that it's clear what the issue is (I'll add some basic repro files etc. later)

[2022-11-29 15:38] EmilRosenquist commented on #710
@sherm1 @adamkewley I have attempted to solve this in pull request #748

[2022-11-29 17:01] sherm1 commented on #710
Thanks! I'll try it on some other platforms.