[2013-08-16 18:44] sherm1 opened #1 "Optimizer's setDifferentiatorMethod() ignored after useNumericalGradient() has been called"
Apparently when `Optimizer::useNumericalGradient()` and probably `...Jacobian()` are called they record the currently-active `Differentiator` method. Subsequent attempts to change it produce no error but have no effect.

This should _at least_ be fixed in the documentation, better to generate an error, and better still to allow it to take effect whenever it makes logical sense.

Karianne Bergen go

[2013-08-16 22:10] #1 closed, assigned to sherm1

[2013-08-18 00:38] sherm1 opened #3 "Distance (Rod) constraint is poorly scaled"
(Transferred from SimTK -- original filed 2008-02-19 as bug 562)

The current implementation of Constraint::Rod "cleverly" uses the square of
the distance constraint which is cheaper to compute and produces beautiful 1st
and 2nd time derivatives. However, this results in the position constraint error
having units which are not length like the other translational constraints.
In fact they differ fr

[2013-08-18 00:42] sherm1 opened #4 "Line & FreeLine mobilizers in Euler angle mode should use 2 angles, not 3"
(Transferred from SimTK, original filed 2010-03-8 as bug 1072)

Terminal or free bodies that are "linear" in the sense that all their mass is
arranged along a line with no rotational inertia about that line (like O2 or
CO2 molecules) need special handling. They are not fully general rigid bodies
and must not have a degree of rotational freedom about the inertialess axis.
Simbody provides "Line" (2

[2013-08-18 00:45] sherm1 opened #5 "Visualizer built in Debug mode should have "_d" in its name"
(Transferred from SimTK.org. Original was filed 2011-07-28 as bug #1500)

Currently both Debug and Release builds of the Simbody Visualizer create an
executable of the same name, e.g. Visualizer.exe on Windows. Depending on build
order, this can result in a (slow) debuggable Visualizer being used with a (fast)
release set of Simbody libraries.

The debug version of the Visualizer should be named a

[2013-08-18 00:47] sherm1 opened #6 "Constraint::PrescribedMotion doesn't allow a constant function in Debug mode"
(Transferred from SimTK.org. Original filed 2011-09-22 as bug 1541)
From Ajay Seth:
This works just fine in release (as the assertions are removed). Perfectly good
work around exists: use a polynomial function of time that returns a constant.

Sherm has seen this on 2011 09 22 at 1:38pm in his office.

[2013-08-18 00:49] sherm1 opened #7 "Rotation matrices should be re-orthogonalized for long chains"
(Transferred from SimTK.org. Original filed 2011-10-28 as bug 1556)

Sam Flores was simulating a large RNA molecule, basically 11,000 bodies in a
long chain of pin joints. When the inertia of a body near the end of the chain
was transformed from its local frame to ground, it tripped a bug catcher which
complained that the inertia diagonals failed to satisfy the triangle inequality.
The error was a

[2013-08-18 00:52] sherm1 opened #8 "optimizer limits should restrict differentiator perturbations"
(Transferred from SimTK.org. Original filed 2012-06-04 as bug #1680)

When an optimizer is given limits on the variable values, it may reach those
limits but will not exceed them. When at the limit, it may need to calculate
a gradient. When the gradient is not supplied analytically, the SimTK::Differentiator
is used, but it doesn't know about the limits. So it may perturb variables so
that they sl

[2013-08-18 00:55] sherm1 opened #9 "Force::Custom::Implementation should provide access to containing subsystem"
(Transferred from SimTK.org. Original filed 2011-03-10 as feature request #1426)

From within a force element it is useful to get access to the containing
ForceSubsystem (e.g. for allocating state variables). The internal ForceImpl
class provides getForceSubsystem() for that purpose but the user-extensible
Force::Custom::Implementation class does not.

[2013-08-18 00:58] sherm1 opened #10 "When the Optimizer is asked to use the BestAvailable algorithm, user cannot ascertain what was chosen."
(Transferred from SimTK.org. Original filed by @chrisdembia 2013-05-26 as feature request 1873)

It would be nice if the user could find out which algorithm was chosen
for optimization, when the BestAvailable argument is provided to the constructor.
Perhaps a 'getAlgorithm' method could do the job.

[2013-08-19 19:19] sherm1 opened #11 "NoSlip1d constraint does not allow the Case body to be one of the two constrained bodies."
(Transferred from SimTK.org. Filed by Ajay Seth 2009-03-31.)

I think the no-slip constraint should allow the case body to be the same as one of the other bodies. I can't think of any reason that shouldn't work fine, and the fact that it is prohibited is actually an accident -- there is no explicit test preventing it; it just got caught by some generic constraint bugcatching code.

[2013-08-19 19:22] sherm1 opened #12 "Mobilizer default geometry not updated when mobilizer is reversed"
(Transferred from SimTK.org. Filed by Ajay Seth 2009-04-09)

Looking at the default decorative geometry of the ellipsoid, it does not appear to change sense- that is it is always affixed to the parent, when in the reverse case it should be affixed to the body.

[2013-08-19 19:25] sherm1 opened #13 "Differentiator should check if sizes were set for gradient & jacobian functions"
(Transferred from SimTK.org. Filed 2010-02-03)

(Tim Dorn ran into this problem)

If a user derives a Differentiator function from GradientFunction or JacobianFunction but neglects to call the appropriate base class constructor, the sizes will be passed as "-1" so this mistake is easy to detect. However, despite extensive error checking in Differentiator it doesn't appear to check those sizes for

[2013-08-21 23:59] sherm1 opened #15 "isSameMobilizedBody() doesn't work as documented"
MobilizedBody::isSameMobilizedBody() is supposed to compare two MobilizedBody handles to see if they both point to the same implementation object. Instead, it is comparing the handle addresses so only returns true if they are the same _handles_, leading to false negatives when a handle is used as a reference to an object owned elsewhere.

[2013-08-22 00:13] #15 closed, assigned to sherm1

[2013-08-22 00:14] sherm1 opened #17 "FindSimbody.cmake not working properly for 64 bit Windows"

[2013-08-22 00:15] #17 closed, assigned to sherm1

[2013-08-27 20:18] kingchurch opened #20 "Mobilizer::lock() doesn't reset Q and U immediately"
The lock() method doesn’t change q or u but rather just records the new locked position. Then the next call to prescribe() forces q and u to the right values. prescribe() is usually called as part of integration.

When we use lock() for controlling a robotic arm we would like the mobility to be locked instantaneously. If the lock() is called at POSITION level it will be nice if it automatically cl

[2013-08-27 20:21] kingchurch opened #21 "Optimize performance of locked mobilizers"
Currently when mobilizers are locked the mobility force elements on the mobilizers are still active.  Can we optimize the locked mobilizer performance by automatically disabling all force elements on the mobilizers and re-enabling them when the mobilizers are unlocked ?  The ideal goal for performance is to treat locked mobilizers as rigid bodies relative to their parent.

[2013-08-30 16:12] chrisdembia opened #26 "SimTK::SimbodyMatterSubsystem::calcBiasForStationJacobian that returns Matrix instead of Vector_<Vec3>"
I desire to compute `JSDotu`, but as a 3 \* nt x nu matrix. Such a method would allow me some convenience, as I would then not need to assemble the 3 \* nt x nu matrix from the `Vector_` of `Vec3`'s.

[2013-08-30 16:17] #26 closed, assigned to nobody

[2013-08-30 18:56] sherm1 opened #27 "visualizer executable should have simbody in the name"
Per @chrisdembia and @j-rivero, for Debian installation into /usr/bin, the Simbody visualizer should have a collision-proof name like "simbody-visualizer" rather than the generic name it currently has (VisualizerGUI).

[2013-08-30 21:57] sherm1 opened #28 "Need a method that returns the coriolis/centrifugal force in internal coordinates"
SimbodyMatterSubsystem can return coriolis/centrifugal forces on a per-body basis which can be mapped to internal forces. This is too complicated for many users -- it would be nice to have a convenience method that would return C(q,qdot) directly. (Came up in OpenSim workshop.)

[2013-08-31 22:07] chrisdembia opened #29 "Cannot use multiplyByMInv or calcMInv in OpenSim::Controller::computeControls(), when calling this latter method more than once"
I am working on an operational-space controller based off Gerald Brantner's BIO 485 project at Stanford and Emel Demircan's direct marker control.

I am implementing it in OpenSim in an OpenSim::Controller, and am using it as a tool, just like CMCTool.

https://github.com/chrisdembia/direct-marker-tracking

I have run into an issue that Gerald also ran into. I am making calls to `multiplyByMInv()`

[2013-09-03 02:49] #29 closed, assigned to nobody

[2013-09-09 19:01] #20 closed, assigned to nobody

[2013-09-18 05:27] sherm1 opened #34 "Need a way to map back from DecorativeGeometry to the associated object"
@aymanhab wants to be able to select in the OpenSim GUI geometry that results from `DecorativeGeometry` objects, and then map those back to the OpenSim objects to which the user meant to refer. We decided that the `DecorativeGeometry` objects should maintain a "user reference pointer", that is, a `void*` that means something to the person who created it. Then a selection that identifies a `Decorat

[2013-09-20 16:45] hsu opened #36 "Need a general way to transfer state between corresponding simbody elements."
Needed by all modeling layers including Gazebo, OpenSim, Roblox (Xulu)...

[2013-09-26 23:01] scpeters opened #38 "CMAKE_INSTALL_PREFIX not used"
In the [root CMakeLists.txt](https://github.com/simbody/simbody/blob/master/CMakeLists.txt#L224), the `CMAKE_INSTALL_PREFIX` variable is replaced by the value of `SimTK_INSTALL_PREFIX`. In the comments (which were added in afc617ee), it states that `CMAKE_INSTALL_PREFIX` is "always set to something incorrect by CMake". Is this just an issue with Windows? We use `CMAKE_INSTALL_PREFIX` regularly on

[2013-09-28 05:17] scpeters opened #39 "Tag for simbody 3.3 release"
It would be nice to tag the simbody 3.3 release. I believe the current head (32522087f63eab536d34c9a9a281cf50d1a7d5a0) was used to make the deb at packages.osrfoundation.org.

[2013-09-30 04:05] #39 closed, assigned to nobody

[2013-10-03 16:45] #38 closed, assigned to nobody

[2013-10-04 06:17] tkuchida opened #41 "Hide Doxygen for unsupported Body::Particle?"
Based on https://github.com/simbody/simbody/blob/master/Simbody/include/simbody/internal/Force_Gravity.h#L489, particles aren't yet supported, so should Body::Particle be hidden from Doxygen?

[2013-10-09 03:34] #41 closed, assigned to nobody

[2013-10-17 21:20] moorepants opened #46 "Size of repository is really large"
When I cloned this repo I was suprised at how long it took to download. It seems it was on the order of 150mb+.

[code]

It seems that the pdfs, word docs, and windows dll's are the likely culprits. From interacting with other software projects, it isn't typical to store binaries in distributed version control repositories both because versioning them has little use and cloning is slow. I'd be hap

[2013-10-17 22:04] moorepants opened #47 "Default install directory seems incorrect and documentation doesn't match anymore"
I just built Simbody on Ubuntu 13.04 (git hash 7e06039b0aa4188d2).

ccmake no longer gave an option for `SimTK_INSTALL_PREFIX` as was specified in the included HowToBuildSimbodyFromSource_MacLinux.pdf on page 6. So I installed without checking that variable. This installed Simbody into `/usr/local` instead of `/usr/local/SimTK`. The new option CMAKE_INSTALL_PREFIX that was added in PR #40 doesn't

[2013-10-17 22:46] moorepants opened #48 "LD_LIBRARY_PATH shouldn't be required"
It is odd that you have to set the LD_LIBRARY_PATH before running code which includes simbody. I've installed many libraries from source that set this up properly for various linux distributions. I'm not sure how to fix it yet, but I think it is worth noting an issue about this.

Some pages about this stuff:

http://tldp.org/HOWTO/Program-Library-HOWTO/shared-libraries.html
http://www.cc.dtu.dk/?p

[2013-10-18 01:56] chrisdembia opened #49 "Distribute simbody through the Debian repositories."
See:
http://askubuntu.com/questions/16446/how-to-get-my-software-into-ubuntu
https://wiki.debian.org/DebianMentorsFaq

We can either get it into Ubuntu, or into Debian, which will eventually get it into Ubuntu for us.

A "Debian Developer" needs to package it for us, or one of us needs to become a Debian Developer. I assume none of us want to become Debian Developers. We can find such people to do

[2013-10-18 19:33] chrisdembia opened #50 "Increase the maintainability of (installation) documentation"
It's come up in other issues that if the (install) documentation were in a plain text format, it would be easier to maintain. See #47, #48.

Do we want to move the install documentation? An option would be to write them in Markdown/RST, which could be converted into a PDF using pandoc or something like that.

[2013-10-18 19:59] moorepants opened #51 "3 tests fail on Ubuntu 13.10"
I just installed Simbody (ddadd1c79039b4bd29f975b0e16776c4af5dad4f) into a fresh Ubuntu 13.10 desktop OS and three tests fail after compiling:

[code]

What should I do to figure out what is going wrong?

[2013-10-20 01:44] #46 closed, assigned to nobody

[2013-10-22 03:50] #27 closed, assigned to nobody

[2013-10-22 03:54] sherm1 opened #55 "Documentation needs to be updated to reflect new visualizer name"
PR #53 changed the Simbody visualizer name from `VisualizerGUI` to `simbody-visualizer`. Word documentation that references the visualizer needs to be updated or replaced. (See related issue #50)

[2013-10-22 04:06] #21 closed, assigned to nobody

[2013-10-25 16:44] hsu opened #56 "Add ability to dynamically add/remove constraints to arbitrary body in system without rebuilding the system"
Use case:  simulating virtual harness not specified in model file for Atlas robot on start-up for controller initialization.

This should try and use the same mechanism used by contact constraint creation/removal.

[2013-10-25 17:08] hsu opened #57 "Add STL reader to PolygonalMesh class"
Add a `PolygonalMesh::loadSTLFile` or `PolygonalMesh::LoadDAEFile` similar to [loadVtpFile](https://github.com/simbody/simbody/blob/master/SimTKcommon/Geometry/include/SimTKcommon/internal/PolygonalMesh.h#L226).  Consider re-using the [gazebo STL mesh reader](https://bitbucket.org/osrf/gazebo/src/a1c1411114944087bf52ade92f9f9eab970e47ca/gazebo/common/STLLoader.hh?at=default).

[2013-10-28 04:52] #10 closed, assigned to sherm1

[2013-10-28 05:06] #34 closed, assigned to sherm1

[2013-11-11 18:50] scpeters opened #65 "Provide cmake config file instead of module"
There are two ways that cmake uses to search when `find_package` is invoked. Downstream developers often write module that search for a package location based on the expected header files and library names, while package maintainers can provide a cmake config template file that is populated at build time with the absolute paths. The latter case is preferable since it reduces the probability of bug

[2013-11-11 22:19] scpeters opened #66 "Compilation errors with libc++ (Mac OSX 10.9 Mavericks)"
The new version of Mac OSX uses libc++ by default, rather than libstdc++, which causes a number of compilation errors. For example, when building TestVectorMath, it gives several complaints about operator overloading and templates:

[code]

Full console output:

[code]

[2013-11-14 01:24] chrisdembia opened #67 "Using a "develop" branch"
I think @sherm1 decided a few months ago that, given the number of developers on simbody, it makes sense to only use a master branch, and to not have a "develop" branch. But I think maybe we should consider using a develop branch.

I'm just thinking of the way I obtain software from GitHub: I always expect that master will be stable. I think others have that expectation too.

[2013-11-15 20:05] j-rivero opened #68 "Provide a pkgconfig file"
Inspired by a [comment](https://github.com/simbody/simbody/pull/64#issuecomment-28260778) done by Thomas Moulard, it would be nice to provide a pkg-config file supporting simbody installations.

[2013-11-21 21:28] #66 closed, assigned to nobody

[2013-11-25 22:12] sherm1 opened #72 "Visualizer won't build on OS X Mavericks (10.9): glut is gone?"
I was unable to build simbody-visualizer on Mavericks. It gave a bunch of messages indicating that glut was deprecated, then failed to link. It built fine if I turned off building of the visualizer (in CMake), and then passed all tests.

@scpeters have you had any luck getting the visualizer to build, or are you disabling that also? Is there any hope for getting glut or freeglut to work in 10.9?

[2013-11-27 05:36] sherm1 opened #73 "Delete obsolete binaries from Simbody repo"
Simbody's repo contains some binary libraries that are needed on some platforms but can't be built from Simbody source, such as pthreads, glut and lapack for Windows. This used to include Linux as well and an older Windows lapack called SimTKlapack; these libraries aren't needed and should be deleted.

Warning: don't get carried away and try to edit these binaries out of the repo history. Consider

[2013-11-28 20:34] #67 closed, assigned to nobody

[2013-11-29 19:54] #11 closed, assigned to sherm1

[2013-12-11 00:06] hsu opened #80 "Update Force::Gravity doxygen to reflect state-updating methods."
For example, `setBodyIsExcluded()` reduces current state to `Stage::Velocity` but currently says it invalidates Instance stage. The doxygen group documentation for the state-modifying methods needs fixing & check the individual methods too.

[2013-12-12 21:39] chrisdembia opened #81 "simbody-visualizer shows "?.?.?" instead of version number in title bar"
I have only investigated this on Windows.

![image](https://f.cloud.github.com/assets/846001/1737606/dc90d0c2-6375-11e3-9d07-86cd9e1b6eeb.png)

[2013-12-12 21:49] sherm1 opened #82 "where should Simbody examples be installed?"
This is a follow-on to pr #64.
@j-rivero, @scpeters, @thomas-moulard
The Simbody installation includes some example programs, provided in both source and binary form. On Windows these end up in `<SimbodyInstallDir>/examples/{bin,src,...}` which is adequate there. However I don't think they are going to the right place on Mac and Linux, where the installed files are spread around rather than being

[2013-12-12 22:29] #81 closed, assigned to nobody

[2013-12-13 00:04] scpeters opened #85 "make doxygen not working if simbody has parent folder named src"
`make doxygen` works on my mac (doxygen 1.8.5), but it's not finding code files to analyze on my Ubuntu machine (12.10 quantal with doxygen 1.8.1.2). There's quite a few warnings and then it doesn't mention any specific code files that it parsed. Here's the console output:

[code]

[2013-12-13 22:59] #85 closed, assigned to nobody

[2013-12-17 21:56] #80 closed, assigned to sherm1

[2013-12-17 23:20] catskul opened #90 "Simbody cmake config not self consistent; breaks builds of dependent systems"
When building from source the artifacts seem to get dumped in which ever directory `cmake` is called from. This seems to break the assumptions of `./cmake/SimbodyConfig.cmake.in` which look for libraries in `./Simbody/lib` if it finds include files in `./Simbody/include`

Furthermore the packaged version of libsimbody also has a similar problem as it gets installed to `/usr/lib/x86_64-linux-gnu/`

[2013-12-18 20:19] chrisdembia opened #92 "BUILD_EXAMPLES CMake variable does nothing?"
I am able to set BUILD_EXAMPLES to TRUE and end up with no example targets.

Looking at Simbody/examples/CMakeLists.txt, it seems that the building of examples depends primarily on the values of BUILD_TESTING_SHARED, BUILD_STATIC_LIBRARIES, and BUILD_TESTING_STATIC, and not at all on BUILD_EXAMPLES.

Am I mistaken? If not, I will create a PR to fix this.

[2013-12-20 19:22] #65 closed, assigned to nobody

[2013-12-22 02:43] tkuchida opened #93 "Direct bug reports to GitHub?"
Request that Simbody users file bug reports on GitHub rather than simtk.org?
https://github.com/simbody/simbody/blob/master/SimTKcommon/include/SimTKcommon/internal/Exception.h#L97

[2013-12-24 00:41] #93 closed, assigned to nobody

[2013-12-24 01:34] #72 closed, assigned to nobody

[2013-12-26 01:22] #82 closed, assigned to nobody

[2014-01-03 19:05] j-rivero opened #96 "Plan for a new simbody release (3.4)?"
Dear Simbody team:

Is there any plan to release a new version of simbody? I was looking to ask debian for an official submission but it would be great to release an official version with all the latest changes we did to the build system and examples.

Thanks.

P.D: my best wishes for this new year and thanks for all the collaboration you have done during the 2013 :)

[2014-01-03 22:36] sherm1 opened #97 "Screw mobilizer should allow runtime pitch change & similarly for other elements"
The pitch should be stored in an instance variable in the State so that it can be changed without requiring topology to be rebuilt. (Gazebo has an API for setting it.)

EDIT: there are many other elements in Simbody that need state-modifiable versions of their parameters. Here is the beginning of a checklist:
- [ ] Screw mobilizer's pitch
- [ ] PointInPlane constraint's normal direction, height, a

[2014-01-03 22:44] sherm1 opened #98 "Contact geometry needs a void* pointer for identifying corresponding model component"
Similar to the pointer stored with DecorativeGeometry. (This is useful for mapping back from contact or ray-contact geometry intersection to the higher level model component it was generated from.) Gazebo uses this for Lidar modeling.

[2014-01-03 22:50] sherm1 opened #99 "Would like to have ray cast against contact geometry"
Gazebo uses this currently although might prefer to use visual geometry instead.

[2014-01-06 00:59] #90 closed, assigned to nobody

[2014-01-06 23:12] scpeters opened #101 "Change include install location"
The include files are going to `/usr/include/.h` when they should go to `/usr/include/simbody/.h`

[2014-01-10 17:36] scpeters opened #104 "Add `make uninstall` target"
See [gazebo's example](https://bitbucket.org/osrf/gazebo/src/default/cmake/cmake_uninstall.cmake.in)

[2014-01-10 17:52] scpeters opened #105 "Clarify installation targets for each platform"
- Windows
- Mac
  - homebrew
  - plain cmake install
- Ubuntu
  - apt-get
  - plain cmake install

[2014-01-14 06:03] #101 closed, assigned to nobody

[2014-01-14 19:56] #104 closed, assigned to nobody

[2014-01-17 17:38] sherm1 opened #108 "Need new README.md before release"
Simbody's README.md is minimal and needs to be filled in with basic installation and use instructions. I think @chrisdembia already took a shot at this; might be a good start! For a good example, see https://github.com/ifa-ethz/ecos.

[2014-01-17 23:32] chrisdembia opened #109 "Examples symlink on Ubuntu points to nonexistent location."
On Ubuntu:

In `/usr/local/share/doc/simbody/examples there's a symlink:

[code]

but nothing is there (in my `~/`). I think the symlink is supposed to point to `x86_64-linux-gnu/simbody/examples/`

[2014-01-23 12:16] AlexandraZobova opened #111 "lack of error message for ContactMaterial properties"
The problem is the following:
The dynamical coefficient of friction is required to be less than statical one. But if the user provides non-correct coefficients such that mu_d>mu_s, "unknown exception" is thrown (in Debug mode).
It will be useful to add an error message.
Thank you!

[2014-01-24 01:06] JustinSi opened #112 "getTotalCentrifugalForces() does not return expected quantity"
"getTotalCentrifugalForces" function of SimbodyMatterSubsystem does not return the expected quantity: the total angular velocity dependent forces.      -- by Justin

[2014-01-25 18:59] j-rivero opened #113 "Do not export rpath in the SimbodyConfig.cmake file"
There is no reason to use RPATH for software that uses simbody.

[code]

[2014-01-25 23:31] #68 closed, assigned to nobody

[2014-01-26 20:28] #113 closed, assigned to nobody

[2014-01-30 07:49] tkuchida opened #115 "PLUS impact algorithm development"
Checklist moved here from PR #100

<b>Test "sandwiching" behavior</b>
- [ ] Make the basic impacting unit a UnilateralSphere, of which FreeUnilateralBrick owns 8.
- [ ] Generalize test case for arbitrary multibody systems by overloading MultibodySystem.
- [ ] Add a FreeUnilateralSphere mobilized body that owns 1 UnilateralSphere.
- [ ] Implement global search to identify all sphere-on-ground and s

[2014-02-01 06:54] #112 closed, assigned to sherm1

[2014-02-15 20:42] #92 closed, assigned to nobody

[2014-02-15 22:00] #51 closed, assigned to nobody

[2014-02-15 22:02] #48 closed, assigned to nobody

[2014-02-26 04:44] nham opened #125 "Unable to run pendulum example when compiling with -std=c++11"
I'm running 64-bit Arch Linux, and I've compiled simbody from the latest master code on github. I'm trying to run the pendulum example from the README.

Compiling without `std=c++11` works, and the example runs correctly. For reference I'm using this command:

[code]

Adding `std=c++11` also compiles successfully, but when I run it I get a segfault. Here's what I get opening the core dump in gdb:

[2014-03-27 04:17] #96 closed, assigned to nobody

[2014-03-27 18:13] #109 closed, assigned to nobody

[2014-03-27 18:39] #73 closed, assigned to nobody

[2014-03-28 00:56] scpeters opened #128 "Compiler warning on ubuntu (gcc)"
[code]

https://travis-ci.org/simbody/simbody/jobs/21647742#L1000-L1006

[2014-03-28 17:39] #128 closed, assigned to nobody

[2014-04-02 12:38] elfring opened #134 "Complete quoting for parameters of some CMake commands"
Some parameters (like "[${CMAKE_INSTALL_DOCDIR}/examples/](https://github.com/simbody/simbody/blob/b470c351cf657e904561e22f499721ba70f4d872/Simbody/examples/CMakeLists.txt#L25)" and "[${CMAKE_BINARY_DIR}](https://github.com/simbody/simbody/blob/4485af62940bee065052393f321a17f5ac30551b/CMakeLists.txt#L65)") are passed to CMake commands in your build scripts without enclosing them by quotation marks

[2014-04-07 05:36] sherm1 opened #135 "Possible bug in NoSlip1D constraint"
I am suspicious of the acceleration error equation for NoSlip1D, which you can see [here](https://github.com/simbody/simbody/blob/master/Simbody/src/ConstraintImpl.h#L2566).
Compare that with the similar-looking relative acceleration calculation in PointInPlane [here](https://github.com/simbody/simbody/blob/master/Simbody/src/ConstraintImpl.h#L1423).

Is there a factor of 2 missing in the Coriolis

[2014-04-29 18:47] aseth1 opened #138 "Cannot get number of mobilities from MobilizedBody without the state."
The number of mobilities enabled by a concrete MobilizedBody is fixed (or determined at construction in the case of the FunctionBased MobilizedBody). One should be able to access the number of mobilities of the MobilizedBody without having to realize Topology.

[2014-05-06 17:50] chrisdembia opened #139 "Define OVERRIDE_11 and FINAL_11 when using gcc or clang."
Silly me, I thought these were being defined if I used `-std=c++11`. I just checked common.h, though, and I see that if not on windows, these macros are defined as empty. Since we have the `SIMBODY_STANDARD_11` flag, we can use this to control if `OVERRIDE_11` and `FINAL_11` are set to `override` and `final`.

[2014-05-07 03:09] #139 closed, assigned to nobody

[2014-05-07 06:18] #3 closed, assigned to sherm1

[2014-05-07 06:45] chrisdembia opened #141 "Provide a way for client projects to check if Simbody was built as C++11."
This is only relevant for UNIX systems. I'm mainly thinking about OpenSim. OpenSim trunk must be built with C++11, which means that the corresponding Simbody must also be built as C++11. It would be nice if OpenSim had a way to check if the Simbody installation being used was built with C++11. This is only relevant because it is currently possible to build Simbody as _not_ C++11.

This could also

[2014-05-07 16:30] #141 closed, assigned to nobody

[2014-05-13 18:14] #115 closed, assigned to tkuchida

[2014-05-14 23:51] #108 closed, assigned to chrisdembia

[2014-05-14 23:52] #105 closed, assigned to nobody

[2014-05-14 23:54] #47 closed, assigned to nobody

[2014-05-15 00:00] sherm1 opened #145 "README.md should have pendulum gif"
Currently there is a beautiful 1000-body gif at the beginning of `README.md` thanks to @chrisdembia. That is followed by a complete Simbody example showing how to specify a two-body pendulum. It would be very nice to add a gif showing the resulting visualization.

I tried making one on Windows but my gif-making skills are minimal and the results were ugly.

[2014-05-15 15:31] #125 closed, assigned to nobody

[2014-05-15 18:14] chrisdembia opened #149 "Modify lib path on GNU/Linux?"
@j-rivero ! I have a question about GNUInstallDirs. Currently, on Linux, with a vanilla cmake install into /usr/local/, the libraries are placed in /usr/local/lib/<arch>. However, /usr/local/lib/<arch> is not in /etc/ld.so.conf.

It definitely makes sense to use the <arch> directory if installing to /usr. However, what do you think about:

[code]

?

This would allow users to not need to edit thei

[2014-05-16 00:16] chrisdembia opened #150 "Should we still encourage users to install to /usr/local/simbody?"
Maybe I just have bad memory, but how come `/usr/local/simbody` exists in the CMakeLists file?

[code]

In practice, CMAKE_INSTALL_PREFIX isn't set to /usr/local/simbody by default. Can this snippet be removed?

If so, this affects this may affect old build/install instructions.

[2014-05-20 02:23] #149 closed, assigned to nobody

[2014-05-30 19:38] sherm1 opened #154 "MultibodyGraphMaker doesn't allow welded-on massless body"
MultibodyGraphMaker goes to great pain to avoid producing a graph in which a terminal body is massless, and throws an exception if it fails. However, @aseth1 pointed out that massless bodies that are welded to their parents should be allowed, and in fact those are commonly used in OpenSim.

MGM should treat a massless body whose joint is a weld the same as it would treat a massful body.

[2014-05-30 19:48] #154 closed, assigned to sherm1

[2014-06-09 21:29] sherm1 opened #155 "Visualizer-simulator pipes should be open only at one end"
Simbody creates two pipes, sim2viz and viz2sim for communication to/from the visualizer. Only one end of each pipe should remain open in each of the two processes; currently both sides are left open.

This _might_ be causing a problem @sohapouya encountered on her Linux machine, which looked like noise coming through the sim2viz pipe.

[2014-06-09 22:02] #155 closed, assigned to nobody

[2014-06-10 17:00] scpeters opened #157 "Annoying debug message: DBG: YANKING!!! (face X)"
There is a console message in `Simbody/src/CompliantContactSubsystem.cpp` that has the potential to dominate all console output when compliant contact starts to behave strangely (copied from [gazebo jenkins testing](http://build.osrfoundation.org/job/gazebo-gazebo_3.0-devel-trusty-amd64-gpu-nvidia/2/consoleFull)):

[code]

This single message increases the console log from about 2 MB to over 20 MB

[2014-06-10 23:43] chrisdembia opened #158 "Parallelize Force calculations"
@nallana, can you open a pull request to merge your parallel work queue?

[2014-06-12 22:28] #145 closed, assigned to chrisdembia

[2014-06-13 02:54] #157 closed, assigned to nobody

[2014-06-13 03:06] sherm1 opened #162 "Different constraints needed for assembly than for execution, esp. Weld"
The constraint equations that are best during a simulation (constraint always nearly satisfied) are not always sufficient for use during assembly (constraint violation can be very large). This is most acute for Weld constraints, where the three orientation constraints can be satisfied by a 180 degree orientation change. To avoid this requires users to make sure that the starting configuration prio

[2014-06-13 04:32] chrisdembia opened #163 "Resolve clang & c++11 test failures"
On Travis, with clang and c++11, BNTTest and TestScalar fail: https://travis-ci.org/chrisdembia/simbody/jobs/27447580.

They don't fail on my Ubuntu machine (when using clang and c++11).

[2014-06-13 05:03] sherm1 opened #164 "Assembler says it failed but it actually succeeded"
@aymanhab reported that OpenSim users have been complaining about messages like this one:

[code]

The assembler says it failed, but the required tolerance was achieved.

The assembler should ignore IpOpt failures like this -- although IpOpt wasn't happy for some reason, we should be very happy that it found a good solution.

@aseth1 and @chrisdembia may be interested also.

[2014-06-16 15:38] #163 closed, assigned to nobody

[2014-06-17 23:20] #164 closed, assigned to sherm1

[2014-06-17 23:26] sherm1 opened #167 "Assembly makes an already-assembled system worse"
@aseth1 complained that he started with a state that was very well assembled (err=1e-12 ish, cost=0), assembled it, and got a worse answer (something like err=1e-9 cost=1e-8, still within tolerance of 1e-7).

Although perhaps logically defensible, this is unpleasant behavior and the assembler should follow the Hippocratic oath of "do no harm".

Note: this may be tricky when there is a cost functio

[2014-06-19 20:37] #167 closed, assigned to sherm1

[2014-06-19 22:48] #55 closed, assigned to nobody

[2014-06-19 22:55] #50 closed, assigned to nobody

[2014-06-19 23:18] sherm1 opened #171 "Need a Ball joint damper for Gazebo"
Gazebo provides an option to put a damper on any joint. That is easy to map to the existing simbody Force::MobilityLinearDamper for joints with axes. For a ball joint, we need a force element that operates on a Ball mobilizer using a single damping parameter to generate a torque that opposes the Ball joint's angular velocity.

Also, there should be a body-to-body version of this that takes body A

[2014-06-19 23:22] sherm1 opened #172 "Simbody User Guide has outdated installation instructions"
Since Chris reworked README.md to provide installation instructions, the User Guide should probably just refer to it. That way it won't get out of date again.

Currently it has detailed installation instructions that were correct some time in the remote past.

[2014-06-20 23:17] sherm1 opened #173 "regression test failing on Travis with clang 3.4"
I recently renamed and slightly modified the Simbody regression test `GazeboReactionForceWithAppliedForceCompliant`. It is now failing on Travis for both of the clang 3.4 compilations (with or without std=c++11). It succeeds on both of the gcc builds, and on Windows, and on my Ubuntu 12.04 VM using clang 3.5.

Now that we are getting test output on failure (thanks, @chrisdembia!), I can see that t

[2014-06-21 01:11] sherm1 opened #174 "Some ContactGeometry classes are missing calcSupportPoint() implementations"
@hsu and @scpeters at OSRF were trying to make axis aligned bounding boxes around Simbody ContactGeometry objects, by calling calcSupportPoint() six times. They received the following message for one of the shapes:

[code]

I'm not sure what the shape is but I see neither HalfSpace nor TriangleMesh implement calcSupportPoint().

All the ContactGeometry objects should implement the method, even if

[2014-06-23 18:15] #173 closed, assigned to nobody

[2014-06-24 13:27] cpizzolato opened #175 "Ipopt fails when running concurrently in multiple threads"
I've already posted this on the forum on SimTK, but then I realised it would make more sense here.

I'm trying to run multiple instances of OpenSim::InverseKinematicsSolver on different threads, but Simbody throws the following error:

[code]

checking with GDB I get

[code]

backtrace

[code]

The OS is Ubuntu Linux 14.04 x86-64, and I am using OpenSim 3.2, Simbody 3.3.1, compiled with g++4.8.2.

[2014-06-26 22:20] sherm1 opened #177 "Lapack bug causes fatal DLASD4 "parameter -1 had illegal value" message"
@JustinSi and other OpenSim users reported getting the message
```On entry to DLASD4 parameter number -1 had an illegal value```
while doing a static optimization using IpOpt. This message is reported by Lapack's XERBLA error reporter which then kills the executable.

This is due to a bug present in Lapack 3.4.2 (which ships with Simbody) and maybe later versions also. The bug is in DLASD8, which

[2014-06-26 22:44] #57 closed, assigned to nobody

[2014-06-27 22:24] sherm1 opened #178 "Get rid of Ancestor bodies for constraint calculations"
Constraints act on a subset of bodies. Tracing each of those bodies through its parent along the path towards Ground (G), the first body that is present on all the paths is called the "Ancestor" (A) body for that constraint. A might turn out to be G, but often it is another body.

Currently all constraint calculations are done relative to A. The idea was to minimize roundoff error for small topolo

[2014-06-27 22:59] sherm1 opened #179 "Allow designation of position and velocity constraints as "linear""
Simbody allows position (holonomic) and velocity (nonholonomic) constraints to be nonlinear, and assumes that they are. It is common for velocity constraints to be linear (friction is a common example), however, and we could improve performance for linear ones if we knew. Some position constraints are also linear (mobility couplers, for example) but that is much less likely and it is less clear ho

[2014-07-03 00:22] sherm1 opened #181 "In Xcode lots of Simbody warnings occur"
Xcode defaults to `-Wmost` which reveals lots of warnings that we hadn't noticed earlier. Most of them are unused variables. These should be fixed.

Some of these are actually used in Debug builds, but not in Release, so fixing them may require making the declarations conditional using

[code]

In the case of warnings about unused formal parameters in methods, the warning can be eliminated by list

[2014-07-07 17:57] sherm1 opened #183 "Rotation class documentation needs improvement"
The `Rotation` class has a large number of useful methods but the Doxygen documentation is not well-organized. The methods need to be grouped sensibly using Doxygen's `@name` grouping feature. I see that some grouping was attempted (since there are `@{` and `@}` markers in `Rotation.h` but these currently have no effect since the required `@name` group headings are missing.

[2014-07-07 18:36] JustinSi opened #184 "string property parsing"
A string-valued Property is currently always parsed as though it were a blank-separated list. So when the Property value list is only allowed to have 1 element, it stops at the first space.

 Actually what we generally expect is that the Property parser should ignore whitespace and just treat the whole property value as a single string.

We should also distinguish the Property value "list of strin

[2014-07-07 18:46] #184 closed, assigned to nobody

[2014-07-07 19:08] sherm1 opened #185 "Need separate PositionKinematics and VelocityKinematics stages"
Currently Simbody's computation `Stage` granularity lumps all position-dependent quantities together in `Stage::Position`, and all velocity-dependent quantities together in `Stage::Velocity`. It would be useful to separate out the kinematic quantities because they are dependent only on generalized coordinates q (position kinematics) and generalized speeds u (velocity kinematics). They do not depen

[2014-07-08 18:04] sherm1 opened #186 "Xcode is not getting the right flags from CMake"
Currently it is possible to use Simbody's CMake set up to generate an Xcode project that will successfully build (tested on OSX 10.8/9 and Xcode 5.0/5.1). However, there are some things wrong with the resulting Xcode project. It doesn't pick up the debug and optimization flags that are set in `CMakeLists.txt`.

We need to figure out the right CMake incantations to get the flags passed through, and

[2014-07-08 19:05] elfring opened #187 "reserved identifier violation"
I would like to point out that identifiers like "[`__IPRETURNCODES_HPP__`](https://github.com/simbody/simbody/blob/0f00f2a035271508271f1c5006a49422d21688b7/SimTKmath/Optimizers/src/IpOpt/IpReturnCodes.hpp#L11)" and "[`_CPDIRECT_IMPL_H`](https://github.com/simbody/simbody/blob/0f00f2a035271508271f1c5006a49422d21688b7/SimTKmath/Integrators/src/CPodes/sundials/src/cpodes/cpodes_direct_impl.h#L17)" [d

[2014-07-08 23:21] sherm1 opened #188 "tree kinematics cache entries not invalidated properly"
Simbody uses lazy cache entries to hold the kinematics-only computations at `Stage::Position` (q-dependent) and `Stage::Velocity` (u-dependent). You can see [here](https://github.com/simbody/simbody/blob/master/Simbody/src/SimbodyMatterSubsystemRep.cpp#L388) and [here](https://github.com/simbody/simbody/blob/master/Simbody/src/SimbodyMatterSubsystemRep.cpp#L420) that they are invalidated only when

[2014-07-16 00:30] chrisdembia opened #195 "Using Xcode, cannot build in Debug"
Basically, Simbody uses CMAKE_BUILD_TYPE to change the name of targets if the build is a Debug build. However, Xcode doesn't use CMAKE_BUILD_TYPE.

Fixing this could entail a fairly large change. http://stackoverflow.com/questions/6561754/cmake-changing-name-of-visual-studio-and-xcode-exectuables-depending-on-config. Basically, instead of changing the name of targets when building as debug, we wou

[2014-07-16 03:31] #186 closed, assigned to apoorvar

[2014-07-17 22:47] sherm1 opened #198 "Bug in TriangleMesh face-splitting algorithm"
(Reported by Alexandra Zobova; see Simbody [forum post](https://simtk.org/forums/viewtopic.php?f=47&t=4672).)

For elastic foundation contact meshes, all faces must be triangles. Simbody automatically triangulates meshes that have polygonal faces using two algorithms: if a face has four edges, split it along a diagonal to create two faces. If more than four, add a center vertex and then triangulat

[2014-07-18 04:17] #198 closed, assigned to sherm1

[2014-07-22 16:54] #195 closed, assigned to nobody

[2014-07-22 16:58] #5 closed, assigned to sherm1

[2014-07-26 06:44] tkuchida opened #205 "Implement improved PLUS formulation"
Though PLUS is not bad,
The notion was had
To improve the method a bit;
The math has been learned
And Sherm has confirmed,
So all that's left now is to code it.

[2014-07-27 20:40] chrisdembia opened #206 "Visualizer::setMode() does not return a Visualizer&, contrary to documentation."
See https://github.com/simbody/simbody/blob/master/Simbody/Visualizer/include/simbody/internal/Visualizer.h#L385

[2014-07-27 22:47] #206 closed, assigned to nobody

[2014-07-28 04:24] chrisdembia opened #208 "Operational space example"
@sherm1 can you point me to any code where you compute `A = (G M^-1 G^T)^-1` for contact? I think I remember you saying that you don't compute this explicitly, so maybe there isn't code.

@sohapouya is interested in this task space example as well.

[2014-07-29 19:01] chrisdembia opened #212 "Hidden overloaded virtual functions in FactorLU"
This is part of #181.

There are hidden overloaded virtual functions in FactorLU, which seems like a pretty important thing to fix.

[code]

[2014-08-01 21:24] tkuchida opened #213 "Missing doxygen for matmul"
[The doxygen for `matmul()`](https://simtk.org/api_docs/simbody/api_docs32/Simbody/html/classSimTK_1_1MatrixBase.html#a59b2ce8fdcd597b92b2339b324e8a632) isn't very helpful. There are comments in the source [here](https://github.com/simbody/simbody/blob/master/SimTKcommon/BigMatrix/include/SimTKcommon/internal/MatrixBase.h#L649), but they aren't doxygenated. Any reason for this?

[2014-08-04 23:30] sherm1 opened #214 "visualizer ignores rotation for 3d model text"
The default for text in the visualizer is camera-facing, in which case the text rotation is determined by the camera orientation. That works fine. There is an option `setFaceCamera(false)` in which case the text orientation is determined by the model instead. But the text orientation does not obey the orientation supplied with the DecorativeText object, either using `setTransform()` or the Decorat

[2014-08-05 00:59] #214 closed, assigned to sherm1

[2014-08-06 22:57] moorepants opened #216 "Old Simbody 2.2 doxygen is still posted and findable by Google; should remove"
https://simtk.org/api_docs/simbody/api_docs22/Simbody/html/index.html

See the last lines on this page.

[2014-08-07 21:37] carmichaelong opened #217 "Positive integral can go negative after event isolation"
Integrating a probe that measures slip error which is always a positive quantity. Integrated value was sometimes negative. @sherm1 and I looked at this together. He thinks it's due to cubic interpolation during event isolation (if it had been linear interpolation, it wouldn't have this behavior).

Sherm should investigate to see if this is what's happening and consider how not to use interpolation

[2014-08-08 15:52] sherm1 opened #219 "compliant contact: fix Hunt & Crossley power bookkeeping for "yanking""
Thanks to @mjhmilla (Matt Millard), we can avoid losing track of lost energy when a dissipative contact is "yanked" out of contact before all the potential energy has been recovered. See the [brick-halfspace penalty force](https://github.com/simbody/simbody/blob/master/Simbody/src/CompliantContactSubsystem.cpp#L1281) for an example.

The other compliant force generators should be modified also, an

[2014-08-08 15:54] sherm1 opened #220 "brick contact: verify that the brick geometry supports all required functions"
ContactGeometry::Brick needs to be checked to see that it is implementing all needed methods, such as ray-brick intersection.

[2014-08-09 00:58] sherm1 opened #221 "Simbody should provide a velocity-initialization solver"
Simbody has a pretty awesome (if I do say so myself) solver for setting the initial generalized coordinates to be consistent with constraints and a variety of user-specified conditions like marker positions. This [`Assembler` Study](https://simtk.org/api_docs/simbody/api_docs33/Simbody/html/classSimTK_1_1Assembler.html#details) is used both for initial assembly and for repeated "tracking" as occur

[2014-08-12 21:01] chrisdembia opened #225 "Matrix_<T> serialization and I/O Doxygen is copied from Vector"
Doxygen at http://chrisdembia.github.io/simbody/classSimTK_1_1Matrix__.html reads:

[2014-08-12 23:24] chrisdembia opened #227 "tinyxml memory leaks"
Here's valgrind output:

[code]

https://github.com/simbody/simbody/blob/master/SimTKcommon/src/tinyxmlparser.cpp#L1200

[2014-08-13 01:02] aseth1 opened #228 "Provide a new version of `isValidInertiaMatrix()` that returns the error as a string"
It would be great to consolidate the `bool isValidInertiaMatrix()` [here](https://github.com/simbody/simbody/blob/master/SimTKcommon/Mechanics/include/SimTKcommon/internal/MassProperties.h#L432)  with the `errChk()` generated messages thrown [here](https://github.com/simbody/simbody/blob/master/SimTKcommon/Mechanics/include/SimTKcommon/internal/MassProperties.h#L526) in a new method that returns t

[2014-08-14 04:02] #227 closed, assigned to nobody

[2014-08-14 04:09] sherm1 opened #229 "SimTK::Xml nodes need to automatically delete orphan nodes to prevent leaks"
Currently the `SimTK::Xml` API supports "orphan" Nodes, which are Nodes not currently owned by an element or document. Those are very useful, but since Xml::Node doesn't reference count its use of the underlying TinyXML nodes, it can't delete those orphan nodes automatically without risking double deletions and subsequent disaster.

The current behavior is well documented and there is a Node::clea

[2014-08-29 15:29] sherm1 opened #232 "Need HalfSpace-ConvexImplicitSurface contact tracker for superellipsoids, etc."
For Daniel Lopes' (@danielsimoeslopes) project to add superellipsoids to Simbody's contact geometry: we have a general tracker for pairs of ConvexImplicitSurfaces (which works) but not for the simpler case of ConvexImplicitSurfaces contacting a HalfSpace.

Should be easy to generalize EllipsoidHalfSpace tracker to do this.

[2014-08-29 20:30] #232 closed, assigned to sherm1

[2014-09-04 18:02] #216 closed, assigned to nobody

[2014-09-08 17:55] chrisdembia opened #234 "XML tag gone from printed xml files"
This is a bug found via https://github.com/opensim-org/opensim-core/issues/137.

This line must be added back: https://github.com/simbody/simbody/pull/192/files#diff-1fdff149c309c86fb12a97135951a799L103

We should also figure out another way to suppress the warning generated by this line. Also, maybe we should add a test case to ensure this line will exist in serialized files.

[2014-09-08 21:35] #234 closed, assigned to nobody

[2014-09-25 09:29] scpeters opened #245 "Stribeck friction slope at zero velocity"
I'm interested in using simbody for tire modeling, and the Stribeck friction model described in [CompliantContactSubsystem.cpp](https://github.com/simbody/simbody/blob/Simbody-3.4.1/Simbody/src/CompliantContactSubsystem.cpp#L647-L689) resembles the shape of the tire curves that I've seen before (see Figs 2, 4 in http://www-cdr.stanford.edu/dynamic/bywire/tires.pdf).

There is a significant differe

[2014-09-29 16:24] chrisdembia opened #246 "CMAES Optimizer: initial inclusion, threading, MPI, resuming an optimization"
Sherm just got news that cmaes will be released under the Apache 2.0 license, so we will be able to include it directly in Simbody. I am willing to take the brunt of the work doing the integration, but will want help from @sherm1 and, if interested, @carmichaelong and @msdemers.

First question:

Since CMAES is a derivative-free optimizer, when someone creates an OptimizerSystem and they try to de

[2014-09-29 16:59] chrisdembia opened #247 "Continuous integration on Visual Studio / MSBuild."
There's some evidence that [shippable](http://docs.shippable.com/en/latest/index.html) provides csharp/msbuild support. See [here](https://github.com/rageshkrishna/csharp-sample).

We have previously looked into appveyor, but our builds take longer than they can give us for free.

Drone.io supports c++ but not MSBuild.

Continua.ci may support windows, but you have to download something yourself t

[2014-10-22 19:09] chrisdembia opened #251 "OptimizerSystem::objectiveFunc should get f = nan upon entry."
I discussed this with @sherm1. Then, if f = nan comes back in objectiveFuncWrapper, throw an exception!

[2014-10-27 17:08] chrisdembia opened #254 "Revert use of auto_ptr in CMAESOptimizer when we switch to C++11."
See #253.

[2014-10-31 00:28] chrisdembia opened #255 "Remove lapack, other libraries from SimbodyConfig.cmake"
[This line](https://github.com/simbody/simbody/blob/master/cmake/SimbodyConfig.cmake.in#L72) in SimbodyConfig.cmake(.in) causes Simbody clients to link to libblas, liblapack, even if they chose to build Simbody with a different lapack/blas. The Config file should use instead the value of LAPACK_BEING_USED.

[2014-10-31 03:52] #49 closed, assigned to nobody

[2014-11-03 07:38] chrisdembia opened #257 "The installed examples Makefile does not work as is"
For example, headers are not in /include anymore.

[2014-11-03 18:36] #255 closed, assigned to nobody

[2014-11-03 19:16] sherm1 opened #259 "don't install debug binaries for examples over release ones"
Currently if you build and install a Debug version of Simbody, the libraries are correctly installed with an "_d" suffix, but the example binaries are written to the `examples/bin` directory using the same names as Release binaries. Users might inadvertently be running Debug versions of the examples, meaning everything will run at least 10X too slow and give Simbody a bad name. That's not good.

W

[2014-11-03 19:30] sherm1 opened #260 "example name consistency"
Currently many example names begin with `Example` and many do not. It seems redundant to use the `Example` prefix since they generally get installed under an `examples` subdirectory. But, the Simbody build environment (as opposed to installed Simbody) puts all executables in the same directory with the just-built shared libraries. That ensures that the just-built libraries are used when tests and

[2014-11-06 02:29] #213 closed, assigned to nobody

[2014-11-07 18:27] texasflood opened #263 "Get snapshot of current active contacts"
There should be some way of getting information of what contact surface are currently in contact. My thoughts on how to implement this would be to have a function like this:

<code>bool isThereContact (State state, ContactTrackerSubsystem contactSystem, MobilizedBody mobod1, ContactSurface surface1, MobilizedBody mobod2, ContactSurface surface2);</code>

which tells you whether the given unique pa

[2014-11-10 21:12] #183 closed, assigned to nobody

[2014-11-10 21:40] #205 closed, assigned to tkuchida

[2014-11-11 23:04] chrisdembia opened #264 "Handling relative paths. Confusion with deconstructPathname"
I am working on https://github.com/opensim-org/opensim-core/issues/118. @sherm1 , in this issue you claim that

Based on the Pathname API, this does not seem possible. So I have been trying to alter Pathname::getAbsolutePathname to suit my needs.

My objective is to take a path `pathname` that is relative an arbitrary path `base`, and express it as either (1) a relative path that is relative to my

[2014-11-23 20:26] #208 closed, assigned to nobody

[2014-12-01 03:49] #257 closed, assigned to nobody

[2014-12-01 03:53] #172 closed, assigned to nobody

[2014-12-01 04:05] sherm1 opened #274 "Create restructured task space API"
We have a TaskSpace prototype class created by @chrisdembia and included along with the Simbody 3.5 examples (in the `examples/shared` directory). From that project we learned how the classes should be restructured for more general prioritized task space support, with lots of useful discussion in PR #238. I'm going to copy some of that here for future reference, including the to-do checklist.

[2014-12-01 07:01] sherm1 opened #275 "Simbody 3.5 release todo list"
- [x] update changelog (and convert it to markdown)
- [x] write CONTRIBUTING.md
- [x] in README.md, replace "3.4" with "3.5" (PR #291)
- [x] check that README.md is up to date
- [x] read through tutorial, fix links and text as needed
- [x] update version number for advanced user's manual
- [x] check theory manual
- [x] post doxygen on simtk.org
- [x] get José's blessing on the debian subdirectory

[2014-12-04 19:41] sherm1 opened #276 "Nuget warnings in Simbody AppVeyor build"
Nuget warnings appear at the end of the build log, [here](https://ci.appveyor.com/project/chrisdembia/simbody-737/build/1.0.16#L247) for example.

This is occurring when simbody/simbody repo is built, but I noticed there are no such warnings for chrisdembia/simbody. Did you fix something, @chrisdembia?

[2014-12-06 01:53] #247 closed, assigned to nobody

[2014-12-06 04:58] chrisdembia opened #280 "[travis] reject pr's containing tabs"
This is already done in OpenSim. Just need to copy over a few lines.

[2014-12-08 00:01] #280 closed, assigned to nobody

[2014-12-10 17:34] chrisdembia opened #288 "[cmaes] c-cmaes currently prints error messages unconditionally"
See related issue https://github.com/CMA-ES/c-cmaes/issues/8.

[2014-12-12 19:39] sherm1 opened #290 "README.md issues from Matt Millard"
Matt (@mjhmilla) did a Simbody build and provided some feedback:

The install has gone beautifully! Well done.
- In the install guide it is mentioned:
  `4. Test your installation by navigating to C:/Simbody/examples/bin and running
   SimbodyInstallTest.exe or SimbodyInstallTestNoViz.exe`
  These two exe's show up in my `SimbodyBuild\Release` folder.
  I didn't see a bin folder inside of `example

[2014-12-13 06:31] #259 closed, assigned to nobody

[2014-12-13 06:31] #290 closed, assigned to nobody

[2014-12-15 00:14] chrisdembia opened #293 "Doxygen produces warnings"
[code]

[2014-12-15 02:32] #150 closed, assigned to nobody

[2014-12-15 02:34] #293 closed, assigned to nobody

[2014-12-17 18:46] sherm1 opened #301 "References to Molmodel should be removed from the Simbody User's Guide"
At one time Simbody & Molmodel were installed together. That's no longer true and the Simbody User's Guide shouldn't discuss Molmodel at all now. The very nice Molmodel-based examples should be replaced with more relevant ones.

[2014-12-18 22:09] #275 closed, assigned to nobody

[2014-12-19 18:02] sherm1 opened #305 "Need a general way to serialize a State"
Simbody's `State` object has the nice feature that it unambiguously holds everything changeable about a given `MultibodySystem`. So if we could serialize it (meaning write it to a string or file), and then read it back later, we could put the system back into the bit-identical condition it was in at the time it was serialized. OpenSim has an immediate application for this -- see opensim-org/opensi

[2014-12-23 04:48] sherm1 opened #312 "Need unilateral witness functions for contact"
(Subproject for rigid contact in Simbody 4.0)
Witness functions currently trigger only on a sign change. Unilateral ones must trigger when the sign is wrong, regardless of its previous state. Sign changes should still be tracked when present since they can accelerate event isolation.

Witness functions need to be more flexible in several ways:
- [ ] Should be able to specify as unilateral, and whi

[2014-12-23 05:05] sherm1 opened #313 "Need to be able to add/remove state variables on the fly"
For contact models like bristle friction, we would like to be able to add state variables when needed and remove them afterwards, without having to throw out the old state variables and existing cache entries.

While you're fixing this, consider how to avoid integrating states that correspond to prescribed motion since those are actually explicit functions of time.

Should the state contain object

[2015-01-05 21:26] #254 closed

[2015-01-07 20:26] chrisdembia opened #325 "Use CMAKE_CXX_STANDARD"
When we move to CMake 3.1, use the new CMAKE_CXX_STANDARD variable to set C++11; and remove our own custom logic.
http://www.cmake.org/cmake/help/v3.1/variable/CMAKE_CXX_STANDARD.html#variable:CMAKE_CXX_STANDARD

[2015-01-09 21:50] chrisdembia commented on #246
@sherm1 mentioned wrapping `MPI_Init` etc in Simbody (`SimTK_MPI_Init`) so that users don't need to include `"mpi.h"` themselves.

[2015-01-20 06:38] sherm1 opened #328 "Simbody's smart pointer APIs should better match C++11's"
The smart pointers `ClonePtr` and `ReferencePtr` have APIs that are somewhat different from the ones defined by C++11 for `std::unique_ptr` and `std::shared_ptr`. These should be upgraded to match better (in 4.0 since the changes may not be backwards compatible). ClonePtr should get a move constructor and assignment.

The newer `CloneOnWritePtr` matches C++11 and the other two should be made to be

[2015-01-22 08:31] xantares opened #331 "undefined references to ~PIMPLHandle()"
undefined refs to ~PIMPLHandle, which is declared protected (and not virtual) in
SimTKcommon/include/SimTKcommon/internal/PrivateImplementation.h
inherited here:
../SimTKcommon/Geometry/include/SimTKcommon/internal/PolygonalMesh.h
../SimTKcommon/include/SimTKcommon/internal/PrivateImplementation.h
../SimTKcommon/include/SimTKcommon/internal/PrivateImplementation_Defs.h
../SimTKcommon/include/SimTK

[2015-01-22 17:14] sherm1 commented on #331
On what compiler version and platform is this failure occurring?

[2015-01-22 18:36] xantares commented on #331
crosscompiling for win32 on linux with mingw-gcc 4.9.2

[2015-01-22 22:57] sherm1 commented on #331
Did you already try adding `SimTK_COMMON_EXPORT` to `PIMPLHandle` and `PIMPLImplementation` classes?

[2015-01-22 23:39] sherm1 commented on #331
I just tried that and got a bunch of warnings like this:
[code]
The `extern` it is referring to is an [extern template instantiation]
(http://www.stroustrup.com/C++11FAQ.html#extern-templates) that occurs [here](https://github.com/simbody/simbody/blob/master/SimTKcommon/include/SimTKcommon/internal/ParallelExecutor.h#L37). That construct intentionally suppresses implicit instantiation (which would

[2015-01-29 19:54] sherm1 opened #333 "Need DecorativeMeshFile & visualizer support for it and other things"
Other things: torus, arrow and/or cone, quadrants

Per opensim-org/opensim-gui#1

[2015-02-06 05:18] sherm1 opened #334 "Bug in SpatialInertia shift() method, and composite body inertias"
The `SpatialInertia::shift()` method does not work correctly for a `SpatialInertia` with a non-zero COM offset. This method is used in `calcCompositeBodyInertias()` and related methods so those are also wrong. Neither of these is commonly used.

The problem was reported for Simbody 3.5.1 by Gordon Deane in [this forum post](https://simtk.org/forums/viewtopic.php?f=47&t=5438&sid=6c07a98fdfce4b2f7b6

[2015-02-06 06:07] sherm1 commented on #334
Fixed in Simbody 3.6 and 4.0.

[2015-02-06 06:07] #334 closed

[2015-02-06 06:30] sherm1 opened #337 "ArticulatedInertia::shift() and SpatialInertia::shift() are inconsistent"
For historical reasons `ArticulatedInertia::shift(v)` actually shifts the inertia's origin by `-v` which is weird to say the least. But worse, SpatialInertial::shift(v) shifts by `v`, which is the expected behavior. These two methods are analogous and should work the same way!

Note that if you are going to change the sign on ArticulatedInertia::shift() you have to do it in 4.0 because it is an AP

[2015-02-13 17:39] sherm1 opened #341 "ContactDetail has public members -- is that intentional?"
It also has accessors which seems more civilized. (Thanks John @hsu)

[2015-02-20 18:37] sherm1 commented on #177
PR #342 fixes this problem for 64 bit Windows. I'll leave the issue in place for now while we figure out whether we need to do the same for 32 bit Windows Lapack.

[2015-02-20 21:36] chrisdembia opened #343 "Mechanism to invalidate Index member variables upon copy"
Say you have a MeasureIndex as a member variable in your class. When you copy your class, the index should become invalid. This can be done by writing a copy constructor in which you invalidate the index. Sherm suggested a clean mechanism to do this automatically: create a class that will invalidate your index for you: InvalidateIndexOnCopy<T>, ReferenceIndex<T> (since the functionality is similar

[2015-02-20 23:20] sherm1 opened #344 "addDecoration() should set index on body in the copied DecorativeGeometry object"
The Body::addDecoration() method copies a given DecorativeGeometry object so that the Body has its own. It returns a small integer index that is different for every piece of DecorativeGeometry attached to that Body. DecorativeGeometry has a field for storing the index, but it isn't being set automatically.

The field should be set to facilitate tracking a given piece of DecorativeGeometry back to

[2015-02-21 02:45] #344 closed

[2015-02-25 00:57] #98 closed

[2015-02-28 00:09] #263 closed

[2015-02-28 00:16] sherm1 commented on #263
Hi, Anas. PR #347 added a method that maps `(MobilizedBody,contactSurfaceNumber)` to `ContactSurfaceIndex`. There is already a method `ContactSnapshot::hasContact(ContactSurfaceIndex,ContactSurfaceIndex)` that tells you whether a particular pair of surfaces are contacting. So this should now let you do what you wanted to do in the first place. This change is currently in the master branch if you w

[2015-02-28 02:22] chrisdembia opened #348 "Sparse solver for IPOPT."

[2015-03-16 19:38] chrisdembia commented on #348
Recently, @sherm1 discovered that one of the matrices used in static optimization for gait2354 is very sparse. Prompted by this, I tried swapping out Simbody's IPOPT for my own IPOPT with sparse support (using MUMPS and METIS, which might be the only open source option). For static optimization, the runtime did not change, so it seems the matrices for our current problems (in OpenSim) are not big

[2015-03-16 19:44] sherm1 opened #349 "VectorIterator has broken assignment operator"
The `VectorIterator` class keeps a reference to the `Vector` which prevents copy assignment from working. Nevertheless it contains a copy assignment operator which ends up making a deep copy of the Vector, rather then setting the new reference to be the same as the old one.

This is often a self-copy which is weird and may be slow but possibly harmless which is probably why this wasn't noticed. Va

[2015-03-16 21:29] sherm1 commented on #349
Fixed in [this commit](https://github.com/simbody/simbody/commit/4abb5c83eda7ce228ae5451028f86ec0058cf0f4).

[2015-03-16 21:29] #349 closed

[2015-03-16 21:36] chrisdembia commented on #349
FYI IIRC github will close this issue even if you have `Fixed #issue` in your commit message.

[2015-03-16 21:38] sherm1 commented on #349
Thanks -- actually I meant to push this to a separate branch and make a PR but my click finger got away from me and I ended up pushing it right into the master branch by accident. Didn't seem worth undoing it at that point.

[2015-03-24 21:03] nishbo opened #350 "Building from source on OSX with GNU compiler"
For some reason, when building simbody with a gcc compiler instead of a native one on OSX, unrecognized option `-stdlib=libc++` produces an error instead of a warning. This is a quick fix: replace line 270 in `CMakeList.txt` with:
[code]

[2015-03-24 21:08] scpeters commented on #350
Is this equivalent to what you mean?
[code]

[2015-03-24 21:18] nishbo commented on #350
@scpeters Yes, it is. If `-stdlib=libc++` style is only used by Clang, than it is a solution.

[2015-03-24 21:23] scpeters commented on #350
`libc++` is used by clang (maybe others?) but gcc uses `libstdc++`

[2015-03-24 21:26] nishbo commented on #350
Typo?: gcc uses `-std=c++11`, not `-stdlib=libc++` on every system, I believe.

[2015-03-24 22:00] scpeters commented on #350
I was referring to its name, not the compiler argument: https://gcc.gnu.org/libstdc++/

[2015-03-25 08:32] chrisdembia commented on #350
Great catch. @nishbo would you be interested in submitting a PR for this?

[2015-03-25 17:27] nishbo commented on #350
Thanks @chrisdembia, hope I made correct PR.

[2015-03-25 17:58] nishbo commented on #350
Issue number in PR name did not get referenced.
https://github.com/simbody/simbody/pull/352

[2015-04-10 17:36] chrisdembia opened #359 "Create ClearOnCopy mixin to clear indices upon copying"
This came up in https://github.com/opensim-org/opensim-core/issues/398

@sherm1 said the following:

...A "mix in" template class that would replace a class's copy constructor with its default constructor and its copy assignment with a call to its clear() method. The data member could then be:
[code]
The implementation could be something like
[code]

I'm not sure that would be enough to make it us

[2015-04-10 17:48] aymanhab commented on #359
@chrisdembia  Most ModelComponents already keep an index into the system, why would that be different or their solution wouldn't work in this case?  is this issue specific to measures or a placeholder for a larger across-the-board issue?

[2015-04-10 17:55] chrisdembia commented on #359
I'm not sure about the scope of the issue. In #398, the issue is that if I create a copy of my ModelComponent, it contains indices that were appropriate for the System it came from but that are now meaningless, potentially causing unexpected behavior. This is more of a hypothetical issue, since the copied ModelComponent can't really be used until an initSystem call, in which case its index will be

[2015-04-10 20:43] chrisdembia opened #360 "A Delay measure with delay==0 does not produce correct behavior"
That is, the value of the delay measure does *not* match the source measure value. Discovered while developing https://github.com/opensim-org/opensim-core/398.

[2015-04-10 21:29] sherm1 commented on #360
Thanks -- good catch. This should be special-cased in Simbody to behave as a pass-through.

[2015-04-14 17:23] aymanhab opened #361 "VisualizerGeometry does not support all DecorativeGeometry subclasses"
To support OpenSim needs, DecorativeMeshFile, DecorativeCone, DecorativeTorus and DecorativeArrow have been introduced as subclasses of DecorativeGeometry, DecorativeGeomertyImplementation has the extra implement* methods but the  implementation is empty for now. These methods need to be actually implemented and wired down through the VisualizerProtocol so these new primitives can be utilized by S

[2015-04-21 23:18] sherm1 opened #364 "Simbody's SimTK::Array_ class should have emplace() methods"
PR #363 updated this class to C++11 except for `emplace()` and `emplace_back()`; those should be added for full compatibility with `std::vector`.

Be sure to add test cases to [TestArray.cpp](https://github.com/simbody/simbody/blob/master/SimTKcommon/tests/TestArray.cpp) for these.

[2015-04-24 18:03] #364 closed

[2015-04-28 22:21] aseth1 opened #366 "Filling Matrix with initial value incorrectly requesting length() instead of nelt()?"
Initializing a matrix fails [here](https://github.com/simbody/simbody/blob/master/SimTKcommon/BigMatrix/src/MatrixHelper.cpp#L774) in debug since 'length()` assumes 1D matrix (row or column Vector).

[2015-04-28 22:52] sherm1 commented on #366
PR #367 waiting for your review, Ajay.

BTW, this would also fail for Matrix_<Vec3> or whatever; the only reason it worked for you was that you actually had a 1x4 matrix in your test so the assert in length() was happy.

[2015-04-29 00:07] #366 closed

[2015-04-30 20:20] chrisdembia opened #368 "Obtain the state variable index that determines a variable time step."

[2015-05-05 16:00] chrisdembia opened #369 "Generate a Vector using a linspace-like method, as one would do in MATLAB."
I'd like the following static method:

[code]

or an analogous convenience constructor.

[2015-05-05 17:10] sherm1 commented on #369
Sounds useful. I notice that Matlab `linspace` returns a row vector rather than a column vector. Is that a desirable feature for some reason? I suppose we should have methods in both `Vector_` and `RowVector_` classes. I'm assuming you mean for this method to return a `Vector_ as its functional return, like
[code]
I don't think it should be done as a constructor because there are already way too m

[2015-05-05 19:04] chrisdembia commented on #369
I don't know. Usually when I use it in matlab, I don't care if it's a row or column vector.

I agree with everything you said. I could do this too; seems straightforward enough.

[2015-05-12 18:16] sherm1 opened #370 "Delay mass matrix inversion until Acceleration stage"
Currently the inverse mass matrix operator is generated in Dynamics stage if it hasn't been requested earlier. This causes trouble in OpenSim for models for which no mass properties have been provided -- see opensim-org/opensim-core#429. OpenSim needs to realize Dynamics stage in order to compute forces for muscle coloring; this should probably be OK as long as no attempt to calculate acceleration

[2015-05-12 18:52] sherm1 commented on #370
Note that the obscure quantity "MobilizerCentrifugalForces" is calculated unconditionally at Dynamics stage [here](https://github.com/simbody/simbody/blob/master/Simbody/src/RigidBodyNode.cpp#L218), and depends on the Articulated Body Inertias having been calculated. I don't think this is used for anything; consider eliminating it rather than moving it to Acceleration.

[2015-05-13 19:08] chrisdembia opened #371 "Create Optimizer interface to SNOPT"
SNOPT is a very popular SQP method, used widely for direct collocation. It's not freely available, though. I recently got it working within PSOPT. It'd be nice if Simbody supported it (though, as with CFSQP, people would have to obtain it on their own).

[2015-05-15 17:59] sherm1 commented on #264
Chris, I believe PR #307 has addressed this issue which you opened. Please close if you agree.

[2015-05-15 18:26] #264 closed

[2015-05-15 18:26] chrisdembia commented on #264
:fireworks:

[2015-05-16 00:14] sherm1 commented on #177
The fix in PR #342 (64 bit Windows) was backported to Simbody release 3.5.2. We are not going to do a similar patch for 32 bit Windows, so I am closing this issue.

[2015-05-16 00:14] #177 closed

[2015-06-01 07:43] iemhub opened #373 "Verfy Domain Name in Zoho tag"
But the move doesn’t faze them, even though the new place has broken windows and no beds. Besides, it’s right on the beach. You can hear the crash of the surf. <a href="http://www.mfi.re.kr/index.php?document_srl=2540799">Watch San Andreas Online</a> <br />

At what point we realize that disaster awaits, and that these contented lives, like all lives, can be caught in a riptide, is hard to specify

[2015-06-01 10:44] iemhub opened #374 "Verfy Domain Name"
While multiplex fantasy remains an extravagantly caped boys’ club, a stealthy gender inquiry is taking place in more specialized sci-fi territory. <a href="http://www.mfi.re.kr/index.php?document_srl=2545238">Watch The Age of Adaline Online</a> <br />

With Alex Garland’s brittle, beautiful “Movie” its latest slyly thoughtful line of questioning. <a href="http://www.mfi.re.kr/index.php?document_sr

[2015-06-01 12:45] iemhub opened #375 "Verfy Domain Name in Zoho haha"
While muted audio suggests we’re observing him from a quarantined realm. As it turns out, he’s soon to join us there. <a href="https://adapt.nd.edu/community/questions-and-answers/question/949">Watch San Andreas Online</a> <br />

It emerges that Caleb has won a competition staged by his employers, the world’s largest Internet provider. <a href="https://adapt.nd.edu/community/questions-and-answers

[2015-06-02 16:05] chrisdembia opened #379 "Initializer-list constructor for Vector_"

[2015-06-02 16:09] sherm1 commented on #379
Yes -- badly needed! Also move constructors.

[2015-06-03 03:52] sherm1 commented on #350
I'm assuming this is fixed now, by PR #352. @nishbo, please re-open if not.

[2015-06-03 03:52] #350 closed

[2015-06-03 20:08] chrisdembia opened #381 "Visualizer anti-aliasing"
Antialiasing can be achieved with 2 lines

[code]

Here's before:

![screenshot from 2015-06-03 13 05 25](https://cloud.githubusercontent.com/assets/846001/7970258/98a15656-09f1-11e5-94ec-e8f0a9092a67.png)

and after:
![screenshot from 2015-06-03 13 05 18](https://cloud.githubusercontent.com/assets/846001/7970257/98a03064-09f1-11e5-9008-f68fee246283.png)

Is this worthwhile?

[2015-06-03 20:16] sherm1 commented on #381
Sweet! Yes, that would be great especially for making nice stills.

It should be optional though, I think, because it is likely to have a large performance impact on complicated scenes. @peastman says it operates by generating multiple renderings of the same scene and combining them. It would be easy to add an antialiasing option to the Visualizer -- could even add it to the "View" button that is

[2015-06-03 20:34] peastman commented on #381
It's not exactly that it generates multiple renderings of the same scene.  It's more sophisticated than that.  But there is a performance cost.  Given the sorts of scenes you're rendering, though, that's likely to be a minor issue.  Modern GPUs are designed to handle *somewhat* more complicated scenes than the one shown above. :)

[2015-06-03 20:35] chrisdembia commented on #381
It wasn't obvious to me how to get Visualizer settings into simbody-visualizer.cpp:main, which is where I tried adding the new lines. I think having the option in the window is good but I think a programmatic option would be good as well.

[2015-06-03 21:01] sherm1 commented on #381
Maybe that's not necessary. What if in main you put:
[code]
(I'm assuming that disabling multisample avoids the performance cost -- do you know, Peter?)

Then add an "Antialias" entry to the View menu, a toggle similar to the "Show shadows" entry (see MENU_SHOW_SHADOWS in the visualizer code). If a user selects that you could execute:
[code]

If that works, programmatic control could be provided a

[2015-06-03 21:08] peastman commented on #381
I think that should be fine.  By the way, you can find a discussion of this antialiasing method at https://www.opengl.org/wiki/Multisampling.

[2015-06-03 21:12] chrisdembia commented on #381
Thanks both of you. @sherm1, if I test this on Linux and OSX can you test on Windows?

[2015-06-03 21:16] sherm1 commented on #381
I noticed in there that they use `glEnable(GL_MULTISAMPLE_ARB)` rather than just `GL_MULTISAMPLE`. Not sure what that means. Also it would be good to check when multisample was added to OpenGL to make sure we don't accidentally prevent the visualizer from working if someone has an older OpenGL.

[2015-06-03 21:19] sherm1 commented on #381
Yes. I only have OpenGL 4.4 so can't check anything earlier. I *think* multisample was added in OpenGL 1.5 so we are probably safe for everything but raw Microsoft opengl with which the visualizer doesn't work anyway.

[2015-06-03 21:39] peastman commented on #381
According to https://stackoverflow.com/questions/4207506/where-is-gl-multisample-defined, it became a standard feature in 1.3.  Extensions start out being proposed by one vendor, and they have their own name for it.  Then if everyone agrees it's useful, the OpenGL Architecture Review Board standardizes it and gives it a name with the _ARB suffix.  This is sort of an intermediate state.  It's still

[2015-06-03 21:42] sherm1 commented on #381
Ah, thanks Peter. So no "_ARB" for us.

Chris, I would suggest just doing the View menu option since that is entirely local to the visualizer. That would be all that's needed for making nice pictures. You could leave the programmatic access until someone has a need for it.

[2015-06-04 21:45] chrisdembia opened #384 "clang 3.6 warns about rpoly.cpp fabs vs std::abs"
@klshrinidhi got me trying clang-3.6, which gives the following warning:

[code]

I'm really scared of editing `rpoly.cpp` because it uses `goto`'s. Are the `goto`'s affected by macros? Two possible fixes: ignore the warning or use `std::abs`.

[2015-06-04 22:10] sherm1 commented on #384
Every `fabs` in rpoly.cpp should be replaced by `std::abs`. As long as the regression tests pass afterwards that should be a harmless change (actually an improvement because the warning is correct). Please feel free to make a PR with that change.

[2015-06-04 23:24] #384 closed

[2015-06-07 06:21] chrisdembia opened #388 "clang 3.6 gives "Undefined bool conversion" in ClonePtr"
[code]

http://stackoverflow.com/questions/28689269/how-to-fix-reference-cannot-be-bound-to-dereferenced-null-pointer-warning

Any ideas on how to fix this?

[2015-06-08 01:59] sherm1 commented on #388
Yes. The code is trying to protect itself from the supplied `const T& t` being a reference to null, which in theory "can't happen" (actually it can but only by illegal code like `const T& t = *reinterpret_cast<T*>(nullptr)`). The compiler is saying that it is free to assume therefore that `&t` always returns non-null, so that the `t.clone()` branch of the `?:` will be executed unconditionally. So

[2015-06-08 02:32] chrisdembia opened #389 "Trying to build the examples separately using Simbody's static libraries generates linker errors"
VS 2013
[code]

[2015-06-08 03:33] sherm1 commented on #389
Oh, I think that's because any client that wants to use static libraries has to define the preprocessor symbol `SimTK_USE_STATIC_LIBRARIES`. Here is a [comment about it](https://github.com/simbody/simbody/blob/master/SimTKcommon/include/SimTKcommon/internal/common.h#L158).

If you compile with that defined does the problem go away?

[2015-06-08 03:36] chrisdembia commented on #389
Ohh thanks. I already tore down my files for testing this, so I'll just close this issue.

[2015-06-08 03:36] #389 closed

[2015-06-08 16:37] #388 closed

[2015-06-08 16:38] sherm1 commented on #328
Note that in #390 we stopped allowing for null references in `ClonePtr`. Should do the same here.

[2015-06-08 21:01] chrisdembia opened #391 "Create DEPRECATED macro as a holdover until we support C++14"
For compilers that support this C++14 feature, we can use `[[deprecated]]` directly. For those that don't, we can use `#warning` maybe.

[2015-06-08 21:11] sherm1 commented on #391
The C++14 deprecated feature has support for a message to be issued -- we should make sure the macro supports that. Here is [some documentation](http://en.cppreference.com/w/cpp/language/attributes). Microsoft VS2013 does not support this but has something close described [here](https://msdn.microsoft.com/en-us/library/044swk7y.aspx) and also some kind of weird [#pragma](https://msdn.microsoft.com

[2015-06-08 21:15] chrisdembia commented on #391
Thanks for the info.

[2015-06-15 11:46] ndhir opened #400 "Building version 3.3.1 from source on Ubuntu 14.04 causing single test failure"
When building simbody 3.3.1 from source (as required by OpenSim 3.2) one of the tests fails.

Following these instructions https://github.com/simbody/simbody, and when it comes to running the tests via `ctest` (item three under the Linux **Build and Install** section) in the build directory, the following error message is given:

[code]
The install directory is the default recommended `/usr/local/

[2015-06-15 17:42] sherm1 commented on #400
Hi, Neil. I just tried downloading the simbody 3.3.1 zip from [here](https://github.com/simbody/simbody/releases/tag/Simbody-3.3.1) to my Ubuntu 14.04 (64 bit) VM and building it using all the default CMake settings, except I chose which compiler to use. I built it once with clang 3.4 and once with gcc 4.8.2. I got a few warnings during the build (different from each compiler) but the builds compl

[2015-06-16 13:52] ndhir commented on #400
Hi Sherm,

I am building 64 bit on a 64 bit Ubuntu 14.04 LTS, same as yours I would imagine.

Below is the info from my cmake Unix Makesfiles generator:

[code]

[2015-06-16 18:20] sherm1 commented on #400
The only difference I notice is gcc 4.9.2 in your build vs. gcc 4.8.2 in mine. I wonder if that is causing the difference in behavior. If so, it might be a harmless change in instruction selection affecting roundoff errors (meaning the test is too sensitive to trivia), or could be a bug, possibly in the 4.9.2 optimizer. One thing you could try is to reduce the optimization level from `-O3` to `-O2

[2015-06-18 03:46] sherm1 opened #401 "Matrix resizeKeep() should be smarter about space allocation"
This gets used sometimes to build up a Matrix row by row or column by column. In that case it should act like std::vector and preallocate extra space when it runs out. Currently it just allocates what is asked for then copies the old data so naive use has O(n^2) complexity for adding n rows or columns.

@klshrinidhi ran into this for the DataTable implementation in OpenSim.

[2015-06-19 17:57] chrisdembia commented on #381
This documentation might help: This page http://docs.gl/ might

[2015-06-30 14:38] ndhir opened #406 "Constructing a slider constraint, which enforces -a < body.x() < a"
Hello!

I am trying to simulate the [inverted pendulum example](https://en.wikipedia.org/wiki/Inverted_pendulum), using a slider constraint. But I cannot seem to be able to figure out (I know very embarrassing) how to constrain the cart such that it is only allowed to move between say +/-1m from the origin ``Vec3(0)`` in the x-direction (as prescribed by the slider joint).

I.e. I want to constrai

[2015-06-30 16:22] sherm1 commented on #406
Hi, Neil. Please use the forum for support -- GitHub issues are for software problems and enhancement requests; they are seen by a very different audience. Regards, Sherm

[2015-06-30 16:22] #406 closed

[2015-06-30 16:25] ndhir commented on #406
Apologies.

[2015-07-01 21:43] chrisdembia commented on #391
Fixed in #407.

[2015-07-01 21:43] #391 closed

[2015-07-06 14:45] Skylion007 opened #409 "Support for Contiuous Collision Detection (CCD)?"
So I am attempting to use simulate laminated robots in the robot simulation software Gazebo. So far, two engines DART and Simbody have produced the most accurate results for my simulation. Unfortunately, both physics engines fail on one key issue, they lack support (default) support for continuous collision detection. I was wondering if this physics currently has support for or plans on adding sup

[2015-07-06 16:27] sherm1 commented on #409
If you can use a half space for ground rather than a mesh, that would avoid any pass-through problem with ground. That only works for a flat ground surface, though. Otherwise use a thick object.

It occurs to me that you might be misdiagnosing this problem in Simbody though if you are using a mesh. In that case you are using Simbody's Elastic Foundation (Winkler) contact model which is *nothing* l

[2015-07-06 16:34] Skylion007 commented on #409
Ah, so you are saying it's because my meshes are too optimized? If that is the case, why does it pass through even when I scale the mesh to more or less match the width of the floor plane/block? Moreover, Gazebo generates the planes and boxes within the software itself, although I could easily import meshes to replace them. Furthermore, if it requires denser meshes why do "thicker" meshes work eve

[2015-07-06 16:52] sherm1 commented on #409
In that case the mesh is probably dense enough. If the thicker surface works is there a reason you can't use it?

[2015-07-06 16:56] Skylion007 commented on #409
I can, but it's much lower fidelity. I am designing an exporter feature for popupCad that allows you to run physics simulations on laminated robot designs. Ideally, it would be nice if we could model the exported models with the appropriate thickness instead of having to hack a solution together that may make the model behave in a way the differs from it's behaves in reality. While it does not mat

[2015-07-06 17:05] Skylion007 commented on #409
Any other ideas what might be causing it? Or a possible workaround besides changing the thickness of a mesh?

[2015-07-06 17:17] sherm1 commented on #409
Oh, I see. Your robot really does have thin parts. If the meshes are already dense enough (I'm not sure how dense Gazebo is making them), then the only other workaround I can think of is to reduce the step size so you don't get pass-through between steps. But that will cost speed.

We are currently reworking Simbody's contact system entirely to add a rigid contact option in addition to its current

[2015-07-06 17:22] Skylion007 commented on #409
I tried reduce the step size, but it makes a simulation that should take seconds, take hours. Is there anyway to change the SI unit of Simbodies and have everything scale properly? That might be a proper work around, but I am worried the difference between the thickness and the width will make the simulation very difficult to visualize and possibly less accurate.

[2015-07-06 17:32] Skylion007 commented on #409
Hmm, hold on I realized that Gazebo was actual defaulting to Dart because of some error I had after scaling the mesh.

 what():  SimTK Exception thrown at MassProperties.h:538:
  Error detected by Simbody method Inertia::operator-=(): Diagonals of an Inertia matrix must be nonnegative; got 6.73672e-08,-3.50725e-08,-3.94697e-08.
  (Required condition 'd >= -SignificantReal' was not met.)

Which is

[2015-07-06 18:03] Skylion007 commented on #409
I solved this issue the same way I solved it on the Dart thread, alas without continuous collision detection, it will be difficult to have a model that will phase through the floor if it falls even one foot. So continuous collision detection would really help in this case.

[2015-07-06 18:26] sherm1 commented on #409
That sounds like a Gazebo bug -- please report it to them; negative inertia diagonals are definitely wrong!

[2015-07-06 18:30] Skylion007 commented on #409
Already done, I would really appreciate if you could try to implement Continuous Collision Detection soon though as it would dramatically increase the speed and stability of my simulation. Thank you for your help though.

[2015-07-06 18:35] sherm1 commented on #409
OK. I'll keep this issue open until it is done.

[2015-07-06 21:58] hsu commented on #409
@Skylion007 Thank you for posting the issue, [here's a link to the Gazebo bug on negative inertia due to scaling](https://bitbucket.org/osrf/gazebo/issue/1650/scaling-a-mesh-in-use-the-parameter-in-sdf), p.s. I formatted the issue slightly more legible.

[2015-07-24 16:59] Skylion007 opened #415 "Add mesh collision support for Gazebo"
I am curious if you have an plans to add mesh support using Gazebo's API? I am in desperate need of a engine that supports closed loops as well as Simbody, but also support mesh collisions. Are there any plans to implement this any time soon? I noticed you added an STL reader last year, but I have not seen any activity on this front since.

[2015-07-24 17:31] sherm1 commented on #415
Simbody does support mesh contact using the Elastic Foundation contact model (essentially a bed of springs), and I know Gazebo uses EF meshes for some contact using Simbody (blocks and cylinders at least). I don't know whether Gazebo also supports more general meshes when running with Simbody. But John @hsu will know.

[2015-07-28 17:48] chrisdembia opened #418 "Replace NOEXCEPT_11 with noexcept when switching to VS2015."
Related: #410.

[2015-07-28 20:32] sherm1 commented on #418
Also fix NullOnCopyUniquePtr and its hash specialization to go back to inheriting constructors in VS2015 (see PR #417).

[2015-07-30 02:44] chrisdembia commented on #359
If we were to dynamically allocate handles, the new `NullOnCopyUniquePtr` class would solve this problem. But I don't think that's the right solution.

[2015-07-30 03:29] sherm1 commented on #359
I agree. Better to have something like `ClearOnCopy<MobilizedBodyIndex>` as above that would derive from `MobilizedBodyIndex` but override its copy & copy assignment methods. We would also have to add move methods to the index classes so that the copy methods won't be used in their place.

[2015-07-30 17:43] Skylion007 opened #420 "Simbody has stability issues in Gazebo"
So I am having an issue where Simbody is crashing on a specific model in Gazebo. I have attached the world file and meshes on [bitbucket](https://bitbucket.org/osrf/gazebo/issues/1689/simbody-crashes-when-attempting-to-use-pid). I am not sure whether the error is part of Gazebo or part of Simbody so I decided to reference in both places.

[2015-07-30 20:36] sherm1 commented on #420
Responded on bitbucket.

[2015-07-30 21:04] sherm1 commented on #359
I see a few quirks with using ClearOnCopy; I'll take a crack at this unless you are already doing it Chris.

[2015-07-30 21:04] sherm1 commented on #343
This should get fixed by #359.

[2015-07-30 21:05] sherm1 commented on #359
Also see #343; that should get fixed by this mechanism.

[2015-07-30 21:07] chrisdembia commented on #359
I am not already doing this.

[2015-07-31 02:38] sherm1 commented on #359
Crap. I wrote a beautiful little mixin class but it wouldn't compile on VS2015 (works on gcc & clang). I filed a [bugreport](https://connect.microsoft.com/VisualStudio/feedback/details/1610850/inherit-constructors-doesnt-work-for-mixin-class-works-in-gcc-and-clang) with Microsoft.

For a good general-purpose `ClearOnCopy<T>` we want the class to behave just like T except when copying. So the basic

[2015-07-31 03:24] klshrinidhi commented on #359
Like you mention in the bug report, I can confirm this is required by standard to work. The only neat solution I can think of is to `default` all the constructors except one that needs different behavior. This is the old-fashioned way.
I would like to try another (not so neat) solution based on the fact that they closed [this other bug](https://connect.microsoft.com/VisualStudio/feedback/details/9

[2015-07-31 03:42] sherm1 commented on #359
Thanks, Shrinidhi. I saw that too and tried that approach. It didn't work either :angry:.

[2015-07-31 03:58] klshrinidhi commented on #359
Thats probably because the struct Identity in my example doesn't inherit *all* the constructors itself so its derivatives can't do much depending on it.
Too bad they don't support the language yet.

[2015-07-31 04:03] klshrinidhi commented on #359
Explicitly defaulting all the constructors will not get everything from the base class either, which is why the feature was probably added in the first place.
Until they completely support it, it is probably better to not have a generalized ClearOnCopy but write it for each case separately.

[2015-07-31 15:23] sherm1 commented on #359
Oops. I wrongly accused VS2015 of feebleness. I have both 2013 and 2015 installed and they have identical GUIs. Turns out I had switched to 2013 and the constructor inheritance problem was there. I switched to 2015 and `using T::T;` works fine :innocent:. So we'll be able to use a good `ClearOnCopy<T>` as soon as we can switch over. Hopefully we can do that next week once AppVeyor is updated. I ap

[2015-07-31 15:35] sherm1 commented on #359
BTW, it occurs to me that we could use this class for built-in types too. I tried specializing it for pointers which works fine so these all behaved correctly:
[code]
I think it could easily be extended to at least integral types like:
[code]
This would let us get rid of more explicit constructors since we wouldn't need them just to initialize and clear built in types. We should also make use of C

[2015-08-03 21:51] sherm1 opened #422 "SimTK::ThreadLocal crashes on thread-destruction cleanup"
The `ThreadLocal<T>` class tries to maintain several file-scope static variables [here](https://github.com/simbody/simbody/blob/master/SimTKcommon/include/SimTKcommon/internal/ThreadLocal.h#L34), and also registers a destructor with pthreads via `pthread_key_create()`. That destructor ([cleanUpThreadLocalStorage()](https://github.com/simbody/simbody/blob/master/SimTKcommon/include/SimTKcommon/inte

[2015-08-03 21:55] sherm1 commented on #422
Thomas and Chris, I can't see any reason for `ThreadLocal<T>` to maintain those static variables at all. It appears to me that it goes to a lot of trouble to create and destruct them, even with explicit locks, but then no method in the class provides access to them. So I think this could be fixed just by deleting all that junk. Can you see why it has to be there? @peastman do you remember why [the

[2015-08-03 22:00] thomasklau commented on #422
Do we even need `cleanUpThreadLocalStorage()`? Even with no call to `delete &system;` on Linux and Mac, `cleanUpThreadLocalStorage()` doesn't get called. When it does on Windows, a segfault occurs.

[2015-08-03 22:07] peastman commented on #422
It's been a long time since I looked at that code, but I believe it's necessary to ensure correct memory handling.  Suppose you create a ThreadLocal.  It then gets accessed from several threads, and each one creates a new value for it on the heap.  Still later, that ThreadLocal object gets deleted.  At that point, you need to make sure every value that was created for it on any thread gets deleted

[2015-08-03 22:19] sherm1 commented on #422
Thanks, Peter. I think that's right. But it may not work because the destruction occurs on the main thread rather than on the thread that allocated the memory. The `pthread_key_delete()` documentation [here](http://pubs.opengroup.org/onlinepubs/009695399/functions/pthread_key_delete.html) says: "In general, there is no safe mechanism whereby an implementation could free thread-specific data at key

[2015-08-03 22:20] sherm1 commented on #422
@thomasklau, how does C++11 thread local support deal with thread local cleanup? Maybe this should be the first thing you replace.

[2015-08-03 22:21] thomasklau commented on #422
http://stackoverflow.com/questions/6021273/how-to-allocate-thread-local-storage

See the second response.

[2015-08-04 16:36] sherm1 commented on #422
So for either pthreads or C++11 thread_local there are two very distinct objects: the `thread_local<T>` object, typically created in the main thread, and a bunch of objects of type `T`, each allocated and used by one thread. Those latter objects have "thread scope", meaning their destructors are called only when the thread terminates (with destructors called in the same thread as allocation occurr

[2015-08-04 17:23] chrisdembia commented on #422
I knew that `std::thread_local` is somewhat intended for global variables, but I wasn't sure if that was the caase for `SimTK::ThreadLocal`.

[2015-08-04 17:51] sherm1 commented on #422
(I learned yesterday that `thread_local` is a C++11 storage-duration specifier keyword analogous to `static` -- it is not an `std::` class.)

`thread_local` is usable for namespace (global) scope or block-scope variables or static data members of classes. That is slightly different from `SimTK::ThreadLocal` which doesn't have to be a static data member. I don't think that will matter in practice b

[2015-08-04 17:55] chrisdembia commented on #422
Oh oops; thanks for informing.

[2015-08-05 17:49] #422 closed

[2015-08-10 22:26] ndhir opened #424 "Trouble building with cmake (native and via IDE) in OS X Yosemite (10.10.4)"
Greetings,

I've been experimenting a bit with the install options now available with simbody. I ended up trying with the install version via `brew install simbody`. Running that alone should, if my understanding is correct, take care of the full installation process.

I tried running the basic pendulum example

[code]

using both CLion and stand-alone CMake 3.3.0 with simbody 3.5.3. I am consiste

[2015-08-10 22:34] chrisdembia commented on #424
@ndhir I'm happy to hear you're using CLion; I like CLion as well.

It seems that CMake is electing to use the FindSimbody.cmake (module file) file instead of SimbodyConfig.cmake (config file); what if in your `find_package(Simbody REQUIRED)` line you force the use of the config file instead of the module file: `find_package(Simbody REQUIRED CONFIG)` (see http://www.cmake.org/cmake/help/v3.0/comma

[2015-08-10 22:39] ndhir commented on #424
Hey @chrisdembia

It is pretty sweet one must admit!

So I tried what you suggested, not much luck I am afraid:

[code]

Can you make simbody examples work on your CLion IDE?

[2015-08-10 22:45] scpeters commented on #424
Is the prefix where you installed simbody (ie `/usr/local`) in your `CMAKE_PREFIX_PATH` for CLion?

[2015-08-10 22:57] chrisdembia commented on #424
I haven't tried, but OpenSim works with Simbody, and OpenSim is just a huge Simbody example.

I'm confused though..is this a CLion issue? Can we first investigate stand-alone CMake?

[2015-08-10 22:58] chrisdembia commented on #424
I'm not convinced that CMake started using the SimbodyConfig.file. Can you start fresh (and as @scpeters said, set `CMAKE_PREFIX_PATH`)?

[2015-08-11 05:41] chrisdembia commented on #424
Neil, I just used homebrew to install simbody 3.5.3 and I used the SampleCMakeLists without changing anything related to the `find_package` line. CMake (3.3.0) automatically found the simbody that homebrew installed, since it's in `/usr/local`.

I think your `list(APPEND CMAKE_MODULE_PATH "${CMAKE_SOURCE_DIR}/cmake")` line might be the culprit. If not, could you try simbody 3.5.3?

Btw, I'm curiou

[2015-08-11 06:07] ndhir commented on #424
I am not sure why it threw up so many errors to start with but I managed to build it with the pure cmake using your approach, i.e. do nothing. Now question is why it refuses to work on CLion (I am getting the same error as before).

Shoot; that was a typo, I never got 3.5.1, I used 3.5.3 as well but I want to get 3.5.1 so I opened a new issue here regarding this: https://github.com/osrf/homebrew-s

[2015-08-11 20:58] chrisdembia commented on #424
Even when you remove the `CMAKE_MODULE_PATH` line? Can you try starting completely fresh?

[2015-08-11 21:49] ndhir commented on #424
Yeah even when I removed that; it will not budge, still the same issue.

[code]

[2015-08-11 23:45] chrisdembia commented on #424
I really think that error message means you're using the module file.

Are the other variables set? In your project, after the `find_package` line, try `message("HELLO ${Simbody_LIB_DIR}") etc.

[2015-08-11 23:46] chrisdembia commented on #424
These are the variables that should be defined: https://github.com/simbody/simbody/blob/master/cmake/SimbodyConfig.cmake.in#L4

[2015-08-12 05:12] ndhir commented on #424
I'm just confused now. I wrote this now as a new test:

[code]

with `CMakeLists.txt` as

[code]
and it returns

[code]
but I cannot for my life understand why that did not work before. Nothing changed except for the required cmake version.

[2015-08-12 06:54] chrisdembia commented on #424
Well I'm happy something is working. I think it's unlikely to be the version number. Perhaps corrupted cache files?

[2015-08-12 18:58] #424 closed

[2015-08-12 19:07] chrisdembia commented on #424
@ndhir let me know if you have suggestions for how we could improve documentation, etc.

[2015-08-12 19:10] ndhir commented on #424
Certainly! Though it would seem to me this must just have been some quirk of CLion that sorted itself out.

I am happy to contribute some stuff, once I've got my current project up and running.

[2015-08-12 19:18] chrisdembia commented on #424
I've had some trouble with using cmake in CLion. I don't like how they try to manage cmake for you...I especially don't like that they don't really let you choose the build directory.

[2015-08-12 19:21] ndhir commented on #424
Aha, but if you go to: `CLion>Preferences>Build, Execution, Deployment>CMake`I believe you can edit that.

[2015-08-18 22:53] sherm1 commented on #359
Chris, `ResetOnCopy<MobilizedBodyIndex>>` from PR #426 should solve this problem. Please close this issue if you agree.

[2015-08-18 22:54] sherm1 commented on #343
@chrisdembia, this issue should also have been fixed by PR #426. Please close if you agree.

[2015-08-18 23:00] sherm1 commented on #331
I don't have a way to reproduce this on our supported platforms. If you have a fix that could be incorporated into the main repo, please provide a PR. I'm going to close this issue.

[2015-08-18 23:00] #331 closed

[2015-08-18 23:01] sherm1 commented on #328
Fixed in PR #410.

[2015-08-18 23:01] #328 closed

[2015-08-20 20:24] chrisdembia commented on #359
@sherm1 before I start updating OpenSim by making changes like `MobilizedBodyIndex` -> `ResetOnCopy<MobilizedBodyIndex>`: are there cases in which you *don't* want to reset the index upon copy? Should we have a variant of the macro that creates these index classes that employs the new mixin class?

[2015-08-20 20:25] chrisdembia commented on #343
I'll close the issue once I make use of the new mixin class for indices.

[2015-08-21 00:04] sherm1 commented on #359
Yes, at least in Simbody. These classes are supposed to behave exactly like ints except that (a) they prevent type mixing, and (b) they have a recognizable illegal value (like a NaN), to which they initialize themselves. I would rather leave them that way and only reset them if there is an explicit ResetOnCopy on the data member.

[2015-08-21 00:09] chrisdembia commented on #359
Okay yeah I just realized also that in OpenSim, we make copies of indices *everywhere*. Lots of methods take indices by value or return them by value.

I'm actually kinda scared of using ResetOnCopy now; we have to be pretty careful.

[2015-08-21 00:41] sherm1 commented on #359
That shouldn't be any problem, Chris. It is only `ResetOnCopy<T>` that has the bizarre copy constructor. When you pass one to a `T` you are using the native behavior of class `T`.

[2015-08-21 00:45] chrisdembia commented on #359
Oh... k. You mean the following is fine (doens't reset inside foo)?

[code]

[2015-08-21 03:00] sherm1 commented on #359
Right! In order to get it to reset you would have to write:
[code]

[2015-08-25 00:31] #185 closed

[2015-08-25 00:31] #188 closed

[2015-09-03 02:59] #359 closed

[2015-09-03 02:59] #343 closed

[2015-09-09 18:24] sherm1 opened #436 "Prescribed accelerations should be known by Velocity stage"
Currently they are deferred until Dynamics stage since they are not needed until calculating accelerations. However, some (not-commonly-used) operators allow to compute accelerations from forces given as arguments. Those operators currently require realization through `Stage::Dynamics` meaning that built-in force elements get evaluated even if they aren't going to be used.

It would be better just

[2015-09-22 17:10] sherm1 opened #439 "Simbody and CMake changes needed to build using MinGW on Windows"
@gjacquenot reported success in building Simbody with MinGW and sent an email summarizing his changes; see comment below.

It would be great to get a pull request for the necessary changes.

[2015-09-22 17:13] sherm1 commented on #439
From: Guillaume Jacquenot

I succeed in compiling Simbody with MinGW 4.9 64 bits with posix threads and seh exceptions handling. The main things I have done
- Replaced the dll in the platform dependent directory with mines (those found in MinGW/bin directory). I did so since they are many versions of MinGW with different threads mechanism and exceptions handling. This step can be automated in CMak

[2015-09-22 17:16] sherm1 commented on #439
@gjacquenot, a PR would be most welcome when you have a chance. The benefit to you would be that future versions of Simbody would then contain your changes so you wouldn't have to do them again if you want to upgrade. And of course the community would benefit since there are likely to be other Simbody users who would like to use MinGW.

[2015-09-28 07:52] Gjacquenot commented on #439
I have created a fork of simbody where I added compilation support for MinGW
https://github.com/Gjacquenot/simbody

The main modifications are the updates of the EXPORT macros to disable __declspec(dllexport) and __declspec(dllimport)

Compilation works fine, however I encounter crash when running tests.

These crashes occur when using the DLL provided in the platform specific directory (At least

[2015-09-28 16:16] sherm1 commented on #439
Have you tried `BULD_USING_OTHER_LAPACK `? The purpose of that is to allow use of a non-default lapack and blas. I am not sure it allows a full pathname though; it may have to be combined with the Windows `PATH` variable to find libraries with given names.

It is surprising to me though that the Simbody-supplied lapack and blas don't work. Those were created with MinGW.

[2015-09-28 18:00] Gjacquenot commented on #439
Well, I made a test with MinGW 32 bits GCC/G++ 5.2.0 and test `MatVecTest` succeeds, however it fails on MinGW 64 bits GCC/G++ 4.9.2.
I have to check the output of the command `g++ --version` on all platforms...

On the 32 bit platform, I have the following output:

`g++.exe (i686-posix-sjlj-rev0, Built by MinGW-W64 project) 5.2.0`

[2015-09-28 18:15] sherm1 commented on #439
I wonder if this could be a problem of mixing 64- and 32-bit libraries. Simbody provides lapack/blas DLLs in both sizes (see Platforms/Windows/lib_x64 and /lib_x86). These were produced using MinGW 64 and MinGW 32 respectively.

[2015-09-28 18:27] Gjacquenot commented on #439
I will investigate tomorrow and look at the link command to see which one is used... I will also look at differences between the x64 lapack libraries (the one I have generated and the one provided).
I am happy to see that the fork still compiles with MSVC(hopefully ;-))

[2015-09-28 19:00] chrisdembia commented on #439
@Gjacquenot If you want to save yourself some effort, you can use Simbody's automated testing of Simbody on MSVC through Appveyor when/if you open a pull request.

[2015-09-29 11:03] Gjacquenot commented on #439
@chrisdembia : Thanks for the tip: I have tried it and my modifications do not work for MSVC! This is in fact not so trivial!

Apparently one of my commit creates linkage error on MSVC
I guess this is the following commit
https://github.com/Gjacquenot/simbody/commit/af390df2a3271d1cc40a6ceefe4f65dd48f25a7d
This commit should enable MSVC and MinGW compilation and linkage. I thought it was working o

[2015-09-29 20:37] Gjacquenot commented on #439
I have fixed the EXPORT macros problem. So the modifications brought to the code allows to compile with MSVC and MinGW.

https://github.com/Gjacquenot/simbody/commit/49525a942a23d8150c0ee669a1032db681d52018

Tests run fine with MSVC and MinGW 32 bits with the DLL provided by the project.
I still have to investigate why tests crash with MinGW 64 bits with the DLL provided here.
With user specified

[2015-09-29 21:12] chrisdembia commented on #439
With MinGW it might make sense to use the MinGW lapack/blas instead of the ones provided with Simbody. What do you think @sherm1 ?

[2015-09-29 23:43] sherm1 commented on #439
Is there an "official" lapack/blas for MinGW? If so we should probably use it! Or did you have to make one @Gjacquenot?

[2015-09-30 11:46] Gjacquenot commented on #439
I found out the problem.

The problem with the 64 bit of MinGW come from the exception mechanism.
When downloading MinGW, one has the choice between SEH, SLJL.

I use the SEH version.
However, the Lapack and Blas libraries shipped with Simbody have been linked against a SLJL version of MinGW (One can see it from the libgcc_s_sjlj-1.dll file shipped with it).

Thus the program I have compiled depen

[2015-09-30 16:19] sherm1 commented on #439
Thanks, Guillaume -- great detective work. I understand now that Simbody's supplied 32 bit lapack uses Dwarf and 64 bit lapack uses SJLJ. The libraries were built using gfortran not g++. I wonder if SEH is available for Fortran also?

I like your idea for checking compatibility. It would also be reasonable though to handle that in the MinGW build instructions in Simbody's `README.md`. We could sim

[2015-10-01 09:40] Gjacquenot commented on #439
Yes I agree on the conditions. We could use CMake to check that these conditions are met.

I was thinking parsing the `g++ --version` command with the following code

    CMAKE_MINIMUM_REQUIRED(VERSION 2.8.8)
    PROJECT(MINGW_CONFIGURATION C)

    IF(CMAKE_SIZEOF_VOID_P EQUAL 8)
       SET(ARCH64_BITS TRUE)
    ELSE()
       SET(ARCH64_BITS FALSE)
    ENDIF()
    IF(MINGW AND ARCH64_BITS)

[2015-10-01 16:49] sherm1 commented on #439
I like the more-robust solution but I'm still not clear on what happens afterwards. Is this just to warn people that they can't use the provided lapack?

Minor comments:
- is `allddls` a typo? I expected `alldlls`.
- the if-elseif block should have a case for when nothing matches (issue a fatal message?) That way if more changes occur in the future at least the CMake script will protect itself.

[2015-10-01 17:21] Gjacquenot commented on #439
Well it is up to us to decide what happen...
I would propose:

    IF user does not provide a Lapack and Blas implementation
        Check MinGW installation
        IF (Installation OK)
            Continue
        ELSE
            Error
        ENDIF
    ELSE
            Copy MinGW DLL in the bin directory
            Copy Lapack and Blas DLL in the bin directory
    ENDIF

Ok on the comments re

[2015-10-02 04:01] sherm1 commented on #439
I'm not sure I follow this exactly but it looks reasonable. It will be useful to see the user instructions in the README.md file in the PR I think. Any thoughts @chrisdembia?

[2015-10-02 17:48] chrisdembia commented on #439
I think these changes are worth including in Simbody regardless if we add a section to the README about it, though if we don't add a section to the README, the changes are very likely to get stale. @Gjacquenot would you be willing to add a section to the readme that mimics the current build instructions? I'd say the MinGW instructions go at the bottom, as it's probably not as common as the others.

[2015-10-16 00:34] sherm1 opened #443 "SimTK Exception utilities should be usable in OpenSim too"
The `SimTK::Exception` classes and macros provide good printf-like message formatting with file and line number inserted. Currently the formatting includes Simbody-specific verbiage, preventing its use from higher-level applications like OpenSim. This should be fixed so that the tools are available but the app-specific part of the formatting is adjustable. Would be nice to add in `__func__` too.

[2015-10-16 00:37] sherm1 commented on #443
From @chrisdembia:
Just a small point…The SimTK utilities are already used in some places in OpenSim, at least by Matt Millard.

[2015-10-16 22:24] klshrinidhi commented on #443
For reference:
http://www.boost.org/community/error_handling.html

[2015-10-16 23:04] sherm1 commented on #443
Those guidelines are great for boost-like libraries, but definitely *not* for OpenSim. For example, they are mostly opposed to formatting any messages at all, which I agree is appropriate for boost. But that is not our model -- be sure you don't apply the wrong model when thinking about OpenSim! OpenSim has very different goals and targets a very different set of users than boost does.

[2015-10-30 17:57] Gjacquenot opened #448 "Rotation and Transform initialization issue with empty Vec3"
I have just met a weird behaviour with `Vec3`, `Rotation` and `Transform`. The default constructor does not behave like other mathematical object like `Rotation`: it initializes to NaN. This is weird with the following code.

    #include "SimTKsimbody.h"
    using namespace SimTK;
    using namespace std;
    int main()
    {
        cout<<Transform()<<endl;
        cout<<Transform(Rotation(),Vec

[2015-11-03 22:15] chrisdembia opened #450 "Using statick lapack/blas causes "multiple definition" errors"
@Gjacquenot mentioned in #449 the following bug:

I have tried to compile simbody with static version of Lapack and Blas with something like that -DBUILD_USING_OTHER_LAPACK:PATH=C:\liblapack.a;C:\libblas.a;

I'm not sure I understand. Also I'm not sure the PRIVATE keyword is the right solution (Don't want want Simbody libraries to bring along their dependencies?)
@Gjacquenot mentioned in #449 the

[2015-11-05 20:46] chrisdembia opened #453 "MinGW on Appveyor"
@Gjacquenot said in #452 :

I'm starting to try this out in https://github.com/simbody/simbody/tree/appveyor-mingw. I'm not sure though if @sherm1 would want appveyor to build mingw.

I think requiring MSVC 2015 on Windows is as bad now as it used to be, since MSVC Community is free.

[2015-11-05 20:47] chrisdembia opened #454 "With MSVC and user-supplied lapack/blas, Simbody should package up the user-supplied libs"
I agree this would be good, but I think it's low priority since most of our MSVC users would not go through the hassle of getting their own lapack/blas.

[2015-11-05 23:30] chrisdembia commented on #453
@Gjacquenot the MinGW used by appveyor has the wrong threading: https://ci.appveyor.com/project/opensim-org/simbody/build/712/job/uyi1l9k2uh8yut9k.

We could download a different version of MinGW in the appveyor script, as you suggested, or we could try using msys?

[2015-11-05 23:35] chrisdembia commented on #453
Actually I think the issue is that the MinGW on AppVeyor is 32bit and I was trying to build as 64bit.

[2015-11-06 07:25] Gjacquenot commented on #453
@chrisdembia : You shloud have a look at https://github.com/gtk-rs/examples/blob/master/appveyor.yml. This appveyor script downloads a MinGW archive, unzip it and use it. I think it is a good start. You may use the URL I have referenced in [Readme.md](https://github.com/simbody/simbody/blob/master/README.md)

[2015-11-06 08:01] chrisdembia commented on #453
Good find! Thanks.

[2015-11-06 18:09] sherm1 commented on #453
I'm not sure whether it would be helpful to build MinGW on AppVeyor. The main issues seem to be with the variety of MinGW installations that a user might have (for example, mine didn't work until I replaced it with one that Guillaume recommended). Compilation issues should be caught on Travis since we use gcc there also. So I would think the best we can do on AppVeyor is manage to get one version

[2015-11-08 18:41] Gjacquenot commented on #453
I agree with @sherm1 : compilation errors with GCC should be caught on Travis. Setting up a MinGW appveyor job will require to download each time MinGW will be costly.

For myself, I have setup a CI job with Jenkins and MinGW.

@sherm1 and @chrisdembia : Have you thought about creating package for Simbody to have an installer artefact?

[2015-11-08 23:33] chrisdembia commented on #453
Yes; we've thought about it. For CI purposes, we have simbody binary artifacts for linux, osx, and windows online. However, we're not sure we want to post binaries for distribution. On OSX, people can get simbody through homebrew. On Ubuntu, people should be able to get simbody through apt-get. The binaries would be most useful on Windows.

Sherm said this:

How easy is Jenkins to use? Do you pay?

[2015-11-09 06:47] Gjacquenot commented on #453
@chrisdembia and @sherm1 : For Windows installer, I use CPack and NSIS with CMake. With the install targets already present, it should be really easy to do. I can start it if you want.

@chrisdembia: Jenkins is a CI server, it can be run on any OS and execute any task on a Jenkins slave machine. It is free and open source. It is a little more complicated to use, since one has to install all requir

[2015-11-09 07:02] chrisdembia commented on #453
Thanks. Do you need your own server for Jenkins? If not, how fast are the machines?

[2015-11-09 13:25] Gjacquenot commented on #453
You need to access a server. If you can not have access to a distant server, you can set one really easily on your machine, either on Linux or on Windows. You basically need 500Mo of RAM on your machine. Once set up , you need to create a job with the bat or sh commands to configure and compile Simbody.

[2015-11-09 17:49] sherm1 commented on #453
That is the method we used to use to make Simbody binary installations for Windows a few years ago. They are very nice to have when they work, but we have had more success with people building from source which ensures that their own code does not have compiler conflicts with Simbody. For example, people would run the installer then try to use Visual Studio Express and fail, or they would try to m

[2015-11-09 18:49] chrisdembia commented on #453
Maybe some of the issues could be addressed with documentation that doesn't promise much for the binary distribution.

[2015-11-09 18:50] chrisdembia commented on #453
We could also distribute the binaries through the Windows chocolately package manager to match the fact that Simbody is distributed through package managers on other platforms.

[2015-11-10 14:21] Gjacquenot commented on #453
In the past, I have created installers for applications, that were standalone. I used to embed all required DLL. I did not try to create libraries and distribute them.

I understand that it may lead to DLL conflicts for people who do not have the same dev environnment.
I do not have enough experience with MSVC compilation, so I do not know what to recommend.

[2015-11-20 19:56] sherm1 opened #456 "Should add @Gjacquenot's elastic foundation theory test case"
@Gjacquenot wrote a test comparing a Hertz sphere with an equivalent Elastic Foundation sphere and measuring the dependency of force with depth. I'm filing this issue with the discussion to date copied in so we have a place to track it.

[2015-11-20 19:59] sherm1 commented on #456
From Guillaume Jacquenot 11/20/2015:
I have made some convergence check on the problem of a sphere in contact with an infinite plane with ElasticFoundation.
The result was quite surprising to me, since I was expecting a convergence like for a Hertz problem (Each time we double the penetration depth, the force is multiplied by 2**1.5=2.82
But theoretical background is different...
But after checkin

[2015-11-20 20:00] sherm1 commented on #456
Sherm said:
That’s a great test and a very interesting result. I knew that Elastic Foundation theory is different from the linear elasticity theory represented by Hertz (basically, no coupling between adjacent elements). But I would have guessed that an EF sphere would be *softer* than a Hertz sphere. I’m glad to hear it is behaving correctly – much better than my intuition, I see!

It would be gr

[2015-11-26 13:15] Gjacquenot commented on #456
This topic can be closed and the associtaed PR containing two new test cases can be merged in `master`.

[2015-11-27 19:55] #456 closed

[2015-12-23 21:15] sherm1 commented on #370
Fixed by PR #435 a few months ago.

[2015-12-23 21:15] #370 closed

[2015-12-23 21:55] sherm1 commented on #305
I looked at boost serialization (old school) and the very nice modernized [cereal](http://uscilab.github.io/cereal) package. Cereal looks great for an application where you have control over the whole file format, but not so good for serializing just a single element in someone else's larger file. It is not well designed for incorporating into a library without interfering with the library user's

[2015-12-23 22:40] chrisdembia commented on #305
I don't know how hard that is to implement; sounds like OpenSim's Object all over again. Sounds fine to me though.

[2015-12-31 23:10] chrisdembia commented on #439
@sherm1 @Gjacquenot can this be closed?

[2015-12-31 23:21] chrisdembia commented on #305
I like the idea of using in-memory Xml elements. I think a convenience constructor is still warranted, since if I want to create a State from an Xml element, I *must* use two statements:

[code]

[2015-12-31 23:52] sherm1 commented on #305
Currently I'm thinking it may be impossible to deserialize into a completely-empty State, due to the need to have cache entries properly set up. It might have to be something like:
[code]
Might be some way to record the cache setup in the serialized state, but I'm not sure if that's a good idea.

[2016-01-01 01:39] sherm1 commented on #439
I think PR #441 addressed this issue.

[2016-01-04 23:32] chrisdembia commented on #305
Thanks for clarifying that.

Another possibility for dealing with discrete state variables is to specify a format for them that they must follow; e.g., a DiscreteStateVariable class that would be flexible and serializable. The downside is that discrete state variables would be far less flexible, but the upside is users could avoid the error-prone task of defining the serialization (ensuring they p

[2016-01-05 00:10] sherm1 commented on #305
Most DiscreteStateVariables use basic types like bools or ints. Those will serialize with no trouble. It will be easier to write the (de)serialization methods for new classes than you might think. They tend to be boilerplate and easy to create starting from examples. And there are no C++ I/O methods involved. Here is an example I have now; not in final form but this is probably the general flavor:

[2016-01-13 01:42] sherm1 commented on #305
My first complete serialized State object! This one is from a low-level test and barely has anything in it. (Not likely to be the final format.)
[code]

[2016-01-13 03:19] chrisdembia commented on #305
Cool! States can have names??

[2016-01-13 03:21] chrisdembia commented on #305
Does it make sense for the Subsystem name to appear as `DefaultSystemSubsystem::Guts` or `DefaultSystemSubsystem`?

[2016-01-13 04:05] sherm1 commented on #305
Well, I don't know if that's a good thing. That's just a side effect of the general serialize-to-Xml-Element method that takes an optional name. That's useful for error checking on deserialization.

[2016-01-13 05:04] sherm1 commented on #305
I'm not sure how it got *any* name -- there are definitely some quirks lurking in the bowels of the State.

[2016-01-30 01:00] scpeters opened #468 "Run-time errors when compiled on gcc with -fno-elide-constructors"
I was exploring some [test failures in gazebo](https://bitbucket.org/osrf/gazebo/issues/1849/lcov-coverage-build-with-simbody-causes) when attempting to measure test coverage and found that all the tests  using simbody were failing. I managed to track it down to the `-fno-elide-constructors` gcc compiler flag (set [here](https://bitbucket.org/osrf/gazebo/src/7c23991510420e25940bee2c5566b083dc715ed

[2016-02-15 21:20] worm2fed opened #471 "SimTK Exception thrown at TestGeo.cpp:99"
Hello. I can't pass TestGeo, there is output. Can u help me to fix this issue?

[code]

[2016-02-15 21:27] chrisdembia commented on #471
What operating system (and version) are you using? Which compiler (and version)? Are you using the latest commit on the master branch?

[2016-02-15 21:36] worm2fed commented on #471
Oh, I'm sorry
I'm using Arch linux

I have installed gcc 5.3.0

I'm trying to install simbody via yaourt.
https://aur.archlinux.org/packages/simbody/
The last update was 2015-12-10 21:03

[2016-02-15 21:49] chrisdembia commented on #471
We have seen test failures using the lapack/blas that comes on RedHat Linux. So maybe it's the lapack/blas on Arch Linux? Can you try using a different lapack/blas? Perhaps ATLAS, OpenBLAS, etc.?

[2016-02-15 21:51] worm2fed commented on #471
It's strange that there is only one test failure. Okay, I'll try it.

[2016-02-15 21:52] chrisdembia commented on #471
Also, thank you for reporting this.

[2016-02-15 21:54] chrisdembia commented on #471
I found information about the lapack/blas issue that I've seen before: https://simtk.org/forums/viewtopic.php?f=47&t=4773&hilit=lapack&start=0.

Looks like it might be a different issue from yours, but perhaps trying a different lapack/blas is still a good idea.

[2016-02-15 22:28] worm2fed commented on #471
I tried to use openblas but it's still bad. Tomorrow I'll read the article and try to use ATLAS. Thank u

[2016-03-10 22:23] aymanhab opened #474 "Implement MeshFile primitive in SimTK::Visualizer"
Early in OpenSim 4.0 the types of primitives supported as DecorativeGeometry were expanded to include MeshFile, Torus, Arrow and Cone but the concrete class implementing the interface (DecorativeGeometryImplementation) for the API visualizer left the methods empty. OpenSim 4.0 will need the methods implemented so that the API visualizer and GUI behave the same.

[2016-03-10 22:25] sherm1 commented on #474
:+1: Any volunteers?

[2016-03-10 22:28] aymanhab commented on #474
@sherm1 Awesome, that was quick. I already did a fix for MeshFile on a branch, will go through it a couple times then do a PR, just wanted to give you a heads up. Thanks much for the quick response :+1:

[2016-03-16 15:40] Kerl1310 commented on #13
Looking to get involved in some OS projects and I'm interested in helping out with this. Got several years C++ experience in academia and just started a C++ Development job.

[2016-03-16 16:06] sherm1 commented on #13
Awesome -- welcome, Kyle. @chrisdembia may have other ideas for where you can contribute.

[2016-03-16 16:29] chrisdembia commented on #13
Hey Kyle. Simbody is a great project to get involved in! This issue is definitely of the right size to start. If you're interested in C++11, you could add initializer list constructors to Simbody's math types (Vector_, Matrix_, etc.). An idea that is not very glamorous but that could familiarize you with the codebase would be to try to get rid of warnings. We'd like to get rid of as many as possib

[2016-03-16 16:49] sherm1 commented on #13
Here is a related Differentiator issue: #8 ("optimizer limits should restrict differentiator perturbations") that could be a good project. It is more complicated because it requires some API changes and modifications to Differentiator use by optimizers; some careful test cases would be needed.

[2016-03-17 17:19] chrisdembia opened #476 "Creating RowVector_<Vec3> from Vector_<Vec3> throws exception upon access"
The following code compiles:

[code]

But throws the exception:

[code]

This was originally reported over at https://github.com/opensim-org/opensim-core/issues/849, where @sherm1 said:

So this issue is about creating the necessary methods to `RowVector_` (probably `RowVectorBase_`)?

[2016-03-17 17:43] sherm1 commented on #476
That would be why `RowVector_<Vec3> rv(~v);` didn't work. I think the bad call to `getElt_()` is at a lower level where the 1D `getElt_()` virtual wasn't overridden when it should have been.

[2016-03-31 15:30] mitkof6 opened #477 "Conflict when used with Qt"
When Simbody is included with Qt, there is a conflict with the definitions. Apparently the problem is the definition of qInfo:

Qt:
`#define qInfo QMessageLogger(QT_MESSAGELOG_FILE, QT_MESSAGELOG_LINE, QT_MESSAGELOG_FUNC).info`

Simbody::StateImpl.h
`Array_<ContinuousVarInfo>      qInfo, uInfo, zInfo;`

`2>d:\lib\simbody\install\master_3.6_x64_vs2015\include\SimTKcommon/internal/StateImpl.h(797):

[2016-03-31 16:22] sherm1 commented on #477
OMG -- how could they define a macro that looks like a variable?? That's really impolite! Is there any way to get Qt to stop doing that? I would suggest that you first discuss this with Qt folks to see if others have hit this problem and if so what they did about it. One possibility would be `#undef qInfo` but I think it is worth investigating the correct solution since there are no doubt other ba

[2016-03-31 19:13] scpeters commented on #477
qt has a bunch of macros, both in 4.8 and 5:

* http://doc.qt.io/qt-4.8/qtglobal.html
* http://doc.qt.io/qt-5/qtglobal.html

It's possible we never noticed this before because `qInfo` was added in qt5, and gazebo uses qt4.

I agree that it's a poor macro, but even if they listened to you and changed this, it's already in the qt4 and qt5 API, so it's not going to go away.

You could rename simbody'

[2016-03-31 19:56] sherm1 commented on #477
Thanks, Steve. Wow, that is shockingly bad behavior on the part of Qt. From the links you sent they clearly know how macros are supposed to be named so they won't conflict with other code!

@mitkof6, can you file a bugreport with Qt? After that if you want to submit a PR to change that variable name to avoid trouble I'm OK with that but we have to make them stop adding unfriendly macros to Qt! You

[2016-03-31 19:59] xanderdunn commented on #415
I'm running into the same difficulty.  Using the simbody built into Gazebo 6.5, the models I've defined using a mesh for their collision structure don't actually produce any collisions.  They immediately fall through the ground plane.

The [Gazebo API](https://osrf-distributions.s3.amazonaws.com/gazebo/api/dev/group__gazebo__physics__simbody.html) does have types `gazebo::physics::SimbodyMesh` des

[2016-03-31 20:21] sherm1 commented on #415
@xanderdunn, I think this would be easy to add to Gazebo for closed meshes, since those can be used directly in Simbody's Elastic Foundation contact element. General meshes with holes aren't supported in Simbody. That said, I don't think anyone has yet modified Gazebo to ask Simbody to make EF contact surfaces. I'm sure they would appreciate a PR to do so, but short of that perhaps some pressure c

[2016-03-31 22:01] xanderdunn commented on #415
It [turns out](https://twitter.com/scpeters/status/715648372359565313) that the Atlas model I referenced above used boxes for its feet and everything else was a joint, so this is inline with the lack of Gazebo+Simbody collision for meshes.

@sherm1 thanks a lot for your feedback.  I won't have the time to work on modifying Gazebo, but I'll mention it on their issue tracker.

[2016-04-01 06:35] mitkof6 commented on #477
Hi,

If I change order and include OpenSim-Simbody stuff always on top, there is no problem. Also, if I undef qInfo, I get an error in SimTKlapack.h (SimTK_S_INOUT_ Macro):

`1>d:\lib\simbody\install\master_3.6_x64_vs2015\include\SimTKlapack.h(1282): error C2144: syntax error: 'char' should be preceded by ')'
1>d:\lib\simbody\install\master_3.6_x64_vs2015\include\SimTKlapack.h(1282): error C2144:

[2016-04-01 06:57] scpeters commented on #477
Does it work if you add the following cmake code to your project?

[code]

This disables many of the macros in qt5.

[2016-04-01 07:49] mitkof6 commented on #477
No it doesn't work.

[2016-04-07 12:40] #477 closed

[2016-04-13 13:13] elen4 opened #482 "Compiler version check for gcc incorrecly fails"
I tried to compile Simbody on an Ubuntu 14.04 LTS machine, with gcc 4.8.4 installed, as checked with ``gcc --version``. Although the ``SIMBODY_REQUIRED_GCC_VERSION`` is 4.8.1, the check fails and issues a fatal error, because the version retrieved with the ``gcc -dumpversion`` command is in major.minor fomat, i.e., 4.8 ( https://bugs.launchpad.net/ubuntu/+source/gcc-4.8/+bug/1360404).
Setting ``SI

[2016-04-13 17:25] chrisdembia commented on #482
Thank you for reporting this.

Maybe we should try using the variable `CMAKE_CXX_COMPILER_VERSION` instead of using `gcc -dumpversion`

http://stackoverflow.com/questions/14933172/how-can-i-add-a-minimum-compiler-version-requisite

Could you quickly test if this also fixes the problem for you?

[2016-04-13 23:57] elen4 commented on #482
Hi Chris, yes, this works for me as I get the full major.minor.patch version. I am using CMake 2.8.12.2, but I think that this variable was introduced in CMake 2.8.9, so I guess you would need to bump up the minimum required version, since it currently is 2.8.8 for non-MSVC compilers

[2016-04-14 00:00] chrisdembia commented on #482
Ah okay good point.

[2016-04-14 00:01] chrisdembia commented on #482
Thanks for checking.

[2016-04-18 05:00] chrisdembia opened #483 "AppVeyor failure in 32-bit on the master branch"
PR #481 succeeded, but appveyor build on the master branch after the merge had one failure (https://ci.appveyor.com/project/opensim-org/simbody/build/822/job/4drq682gmlrgh0cy); TestMassProperties:

![image](https://cloud.githubusercontent.com/assets/846001/14594116/b51c6356-04e7-11e6-97c5-d35d6eebbcf4.png)

[code]

This means that the 32-bit binaries from this build were *not* uploaded to appveyor

[2016-04-18 05:11] chrisdembia commented on #483
Oy...the same test failed again.

[2016-04-18 05:11] chrisdembia commented on #483
https://ci.appveyor.com/project/opensim-org/simbody/build/job/kqfhckmxid5cmcyt

[2016-04-18 05:36] tkuchida commented on #483
The last AppVeyor build on #481 ran 9 days ago and [all tests passed](https://ci.appveyor.com/project/opensim-org/simbody/build/821). There must have been commits to master in those 9 days that weren't pulled into the feature branch.

[2016-04-18 05:46] chrisdembia commented on #483
My examination of the git history indicates that there are no such commits:

![image](https://cloud.githubusercontent.com/assets/846001/14594735/14a249c0-04ee-11e6-98c1-80760d841057.png)
(https://github.com/simbody/simbody/network)

I really don't know what happened.

[2016-04-18 06:14] tkuchida commented on #483
The test passes in my local (32-bit Windows) environment. The failure occurs [at TestMassProperties.cpp:342](https://github.com/simbody/simbody/blob/master/SimTKcommon/tests/TestMassProperties.cpp#L342), which is testing a _random_ articulated body inertia---though nothing looks :fish:y. I'll push a branch to investigate on AppVeyor… :mag:

[2016-04-18 06:26] chrisdembia commented on #483
good luck 🍀

[2016-04-18 06:29] tkuchida commented on #483
I think the problem might be an uninitialized value ([there's a `-nan` in one of the matrices being tested](https://ci.appveyor.com/project/opensim-org/simbody/build/824/job/pijlqhtcypxe90qj#L61)).

[2016-04-18 07:12] tkuchida commented on #483
The line `const SpatialMat mabi = abi.toSpatialMat();` [at testMassProperties.cpp:339](https://github.com/simbody/simbody/blob/master/SimTKcommon/tests/TestMassProperties.cpp#L339) triggers a small amount of calculation, but `mabi(1,0)` should simply be `~mabi(0,1)` (see [MassProperties.h:1522](https://github.com/simbody/simbody/blob/master/SimTKcommon/Mechanics/include/SimTKcommon/internal/MassPr

[2016-04-18 16:45] chrisdembia commented on #483
Does `mabi(0, 1)` look uninitialized? Or did your expectation for `mabi(1, 0)` come from `~mabi(0, 1)`?

[2016-04-18 16:58] sherm1 commented on #483
That looks as though the conversion from symmetric matrix (just 6 elements stored) to full matrix (all 9) somehow failed. But that conversion isn't at MassProperties.h:1522, it is at [MassProperties.h:1315](https://github.com/simbody/simbody/blob/master/SimTKcommon/Mechanics/include/SimTKcommon/internal/MassProperties.h#L1315) because that is an `ArticulatedBodyInertia` rather than a `MassProperti

[2016-04-18 18:18] tkuchida commented on #483
The rest of `mabi` matches the values I get locally (also, the test failed at [TestMassProperties.cpp:342](https://github.com/simbody/simbody/blob/master/SimTKcommon/tests/TestMassProperties.cpp#L342) so `mabi(0,0)` and `mabi(0,1)` are correct). Lines 341 and 342 are
[code]
so `mabi(1,0)` should equal `~mabi(0,1)`.

[2016-04-18 18:23] tkuchida commented on #483
Thanks, @sherm1. Sorry, I pointed to the wrong line. Any idea why the conversion would fail on only 32-bit Windows?

[2016-04-18 19:08] sherm1 commented on #483
No. And when I tried making a 32 bit Windows build just now I saw the same thing as you -- all tests passed. Very strange. Does it fail *every time* on appveyor and *never* locally?

Hypotheses:
- something about generating random values makes the test unreliable (and these are not truly random so they might always generate the same bad value on appveyor)
- there is a compiler bug in the 32-bit co

[2016-04-18 19:18] tkuchida commented on #483
Actually, it appears to be even more convoluted than that: it passes reliably on my local 32-bit build and it was passing on 32-bit AppVeyor on #481 but not after the merge to master.

I thought about that, but the numbers for `mass`, `massMoment`, `inertia`, and 33 of the 36 entries in `mabi` match the numbers I get locally.

Possibly… there have been a few [AppVeyor platform updates](https://www

[2016-04-18 19:21] tkuchida commented on #483
I'll try `os: Previous Visual Studio 2015`…

[2016-04-18 19:42] tkuchida commented on #483
[`os: Previous Visual Studio 2015` works](https://ci.appveyor.com/project/opensim-org/simbody/build/826/job/2hbjo40p4pa9m2if) so I guess there's a problem with [the AppVeyor update on April 16](https://www.appveyor.com/updates/2016/04/16).

[2016-04-18 19:57] chrisdembia commented on #483
Oh jeez.

[2016-04-18 20:02] sherm1 commented on #483
I'm installing update 2 now and will report back.

[2016-04-18 20:05] Gjacquenot commented on #482
I have created a pull request to fix this.
I have not updated the CMake version. Maybe @chrisdembia , you want it to be updated?
We would move from 2.8.8 -> 2.8.10 for CMake

[2016-04-18 20:12] chrisdembia commented on #482
Ubuntu 14.04 provides cmake 2.8.12.2, and we already require gcc 4.9.1, which Ubuntu 14.04 does not require. So I suppose it would be okay to change the required CMake version.

[2016-04-18 20:13] chrisdembia commented on #482
I know this isn't directly related to this issue, but it would be good for us to clearly state the version(s) of Ubuntu that we support in the README.

[2016-04-18 20:41] elen4 commented on #482
Isn't the required gcc version 4.8.1? This is stated both in the README and in the main CMakeLists, and Ubuntu 14.04 complies with this

[2016-04-18 20:54] chrisdembia commented on #482
Oh wow, good catch. Sorry about that. Yes, then the required version of Ubuntu is 14.04. Thanks, @elen4.

[2016-04-18 21:26] sherm1 commented on #483
Uh oh! It failed on my local machine with Update 2 :scream:

[2016-04-18 21:31] sherm1 commented on #482
Didn't we decide we have to require gcc 4.9 though, for regular expression support?

[2016-04-18 21:34] chrisdembia commented on #482
Yes, you're right (sorry!); still, Ubuntu 14.04 provides 4.9.3.

[2016-04-18 21:41] sherm1 commented on #483
And I verified that testMassProperties succeeds in Debug build. It seems likely that they introduced an optimization bug in the 32 bit Update 2 compiler.

[2016-04-18 22:05] tkuchida commented on #483
:scream_cat: Sounds like Einstein's razor was violated (typically misquoted as "Everything should be made as simple as possible, but no simpler."). Should a bug be filed somewhere? I don't see anything relevant in the list of [Visual Studio 2015 Update 2 Known Issues](https://msdn.microsoft.com/en-us/library/mt668659.aspx).

The only other thought I had was that an optimization in Simbody could be

[2016-04-18 22:30] sherm1 commented on #483
Nope.

Yes. With Microsoft [here](https://connect.microsoft.com/VisualStudio/Feedback/LoadSubmitFeedbackForm?FormID=6406).

I will submit a PR with a workaround in it in a few minutes. Who wants to file the bug report? :smile: Ideally we would find a smaller piece of code that can reproduce the problem but at least they should know it is there.

[2016-04-18 22:39] sherm1 commented on #483
See PR #486 for workaround. Please review.

[2016-04-18 23:31] sherm1 commented on #483
Can this be closed now?

[2016-04-18 23:33] #483 closed

[2016-04-19 01:22] tkuchida commented on #483
Thanks for investigating, @sherm1 :gift:

[2016-04-19 03:14] sherm1 commented on #483
Thanks for discovering the problem, @tkuchida!

[2016-04-28 14:38] Gjacquenot commented on #482
@chrisdembia, @sherm1 , I think this issue can be closed!

[2016-04-28 15:23] sherm1 commented on #482
Can you verify and close please @elen4?

[2016-04-28 17:07] elen4 commented on #482
Well, the original issue was causing problems with gcc < 4.9, therefore increasing the minimum gcc version fixed it automatically :smile:, although it required a manual gcc update on my side.
Anyway, I like this version of the compiler version check better, and it's working for me. I would add information on how to update gcc for ubuntu 14.04 in the README, right now I only see it in the changelog

[2016-04-28 17:07] #482 closed

[2016-04-28 19:03] chrisdembia opened #487 "Describe how to get GCC 4.9 in Ubuntu 14.04 in the README"
@elen4 suggested this in #482. The CHANGELOG gives instructions; we should copy them over to the README.

[2016-04-28 19:04] sherm1 commented on #482
Thanks, @elen4!

[2016-04-29 06:54] Gjacquenot commented on #487
I think one can find good instructions [here](http://askubuntu.com/questions/466651/how-do-i-use-the-latest-gcc-on-ubuntu-14-04)

[2016-04-29 16:09] chrisdembia commented on #487
Thanks Guillaume.

[2016-05-03 14:11] jozuenoon commented on #13
Hi,
I'm making myself familiar with code base as was proposed by @chrisdembia.
My changes are in forked here https://github.com/jozuenoon/simbody. If this changes are in agreement with your standards let me know. I did just small changes in Vector_ and VectorBase to enable braced-init-list to initialize Vector_ values - hopefully this was intended by @chrisdembia in comment above.

[2016-05-04 00:04] chrisdembia commented on #13
I quickly looked at your branch, @jozuenoon. Looks pretty cool to me; that *is* what I was thinking. Perhaps we should wait for @sherm1 to chime in, though.

[2016-05-04 00:28] sherm1 commented on #13
I would prefer to look at this in a pull request. @jozuenoon, please submit a PR. We can discuss it there and it is easy for you to make subsequent changes if needed by pushing them to your `add_initialize_list_constructors` branch. Thanks!

[2016-05-07 16:07] Gjacquenot commented on #439
@sherm1 : This discussion can be closed!

[2016-05-07 19:15] #439 closed

[2016-05-08 20:26] Gjacquenot commented on #487
@elen4 : I have created a [fork](https://github.com/Gjacquenot/simbody) that contain documentation on how to install GCC 4.9 on Ubuntu.
Can you read and check the paragraph "Check the compiler version" in this [commit](https://github.com/Gjacquenot/simbody/commit/c11863e744dd1cf4f9464acec86ac39376120b44)?

[2016-05-09 12:32] elen4 commented on #487
Hi @Gjacquenot , I used a slighty different syntax for some commands (I "configured" separately gcc and g++), but I think these work the same. I also called ```sudo update-alternatives --remove-all gcc``` and ```sudo update-alternatives --remove-all g++``` before the ```sudo update-alternatives --install``` command, but I do not think this is necessary.
So it looks good, **but** you need to add th

[2016-05-09 14:22] Gjacquenot commented on #487
Hi @chrisdembia , I have created a PR to describe how to get GCC 4.9 in Ubuntu 14.04 in the README.
Could you have a look?

[2016-05-09 17:20] chrisdembia commented on #487
Thanks for submitting that PR. I have made comments there.

[2016-05-09 17:20] chrisdembia commented on #487
Thank you @elen4 for taking a look also.

[2016-05-15 16:11] chrisdembia opened #494 "Using "<NONAME>" for sub/system names may not be great for XML format."
A few classes have the (default?) name `"<NONAME>"`, such as Guts, GutsRep (see [here](https://github.com/simbody/simbody/search?utf8=%E2%9C%93&q=%3CNONAME%3E)).

This causes elements to appear like so:
[code]

Also, newlines appear as `&#x0A;` when in the value of an element.

These might not be actual issues; just wanted to raise it though.

[2016-05-15 17:26] sherm1 commented on #494
Those subsystem names don't mean anything -- at best they are useful for being able to tell which subsystem you're looking at. So we should change the names to something without problematic angle brackets and with a more useful name than "NONAME"!

I think the newline representation, though ugly, is OK. XML doesn't have anything nicer. What elements have newlines in their values?

[2016-05-15 21:09] chrisdembia commented on #494
Sounds good.

Here are some examples (from my first shot at serializing SBIntanceVars):

[code]

[code]

[2016-05-15 21:09] chrisdembia commented on #494
Sidenote: tildes (`~`) show up fine in Xml.

[2016-05-15 21:35] sherm1 commented on #494
Oh, that's bad. Those are formatted outputs but we want unformatted. We will need to write to/fromXmlElement for these types.

[2016-05-15 21:36] chrisdembia commented on #494
Or, write `writeUnformatted()` methods for those types?

[2016-05-15 22:03] sherm1 commented on #494
Yes, but then also `readUnformatted()` (not sure how well developed that is).

[2016-05-20 21:27] jlong29 opened #495 "Windows Install Instruction are incorrect"
The recommended version for installing Simbody using Visual Studio 2015 should be 3.5.3 and not 3.5.1. 3.5.1 does not compile under Visual Studio 2015, though it does under Visual Studio 2013.

[2016-05-20 21:55] chrisdembia commented on #495
Thanks for reporting. Are you talking about this specific part:

![image](https://cloud.githubusercontent.com/assets/846001/15443145/cdfec23e-1e9a-11e6-8ee6-6565b7faaac8.png)

?

[2016-05-20 21:59] jlong29 commented on #495
My pleasure. That's the line. The second one should be "$git checkout
SImbody-3.5.3"

On Fri, May 20, 2016 at 5:55 PM, Christopher Dembia <
notifications@github.com> wrote:

--

John D. Long II, PhD
Post-doctoral fellow
Neuroscience Institute
New York University, Langone Medical Center
Tel: 212-263-9119; Fax: 212-263-9170
http://www.med.nyu.edu/buzsakilab/

[2016-05-20 22:22] chrisdembia commented on #495
Would you be interested in submitting a PR to update the README? You can either just change `3.5.1` to `3.5.3` (there are multiple occurrences), or remove that line and the explanation of it, or give an explanation in the code block

[code]

[2016-05-22 19:33] Gjacquenot commented on #487
Hi @chrisdembia , this issue can now be closed!

[2016-05-22 19:40] chrisdembia commented on #487
Great. Thank you

[2016-05-22 19:40] #487 closed

[2016-05-22 19:48] Gjacquenot commented on #495
Hi @jlong29 , @chrisdembia , I have created a PR #496, that updates this version number.

[2016-05-22 22:36] sherm1 commented on #495
Resolved by #496.

[2016-05-22 22:36] #495 closed

[2016-06-06 05:17] chrisdembia opened #505 "Equality operator for which NaN == NaN"
@sherm said in #504:

[2016-06-07 04:00] chrisdembia opened #507 "Serialization of Ground body has NaNs in inertia instead of Infinity"
[I think that the Ground body is created with an Infinity inertia](https://github.com/simbody/simbody/blob/d75d24cbe3f8a74bf7c3a0a7255eacd5a798777e/Simbody/src/BodyRep.h#L135). However, when serializing the MassProperties for ground, I get:

[code]

Is there some normalization or symmetrification procedure that is causing this? Is this OK? A potential problem is that constructing an Inertia matrix

[2016-06-07 04:31] sherm1 commented on #507
Yep, there's a bug [right here](https://github.com/simbody/simbody/blob/master/SimTKcommon/Mechanics/include/SimTKcommon/internal/MassProperties.h#L1389): Inf/Inf = NaN. When given an Inertia, MassProperties tries to divide it by the mass because internally it stores a UnitInertia. An easy fix would be to define Ground using an infinite UnitInertia rather than an Inertia (as you figured out); in t

[2016-06-07 06:13] chrisdembia commented on #507
I agree they are ugly. This is an issue for all matrix-like types. They still deserialize correctly with the ugly newlines, so this is a lower priority for me. Also, changing the format for `writeUnformatted()` would be backwards-incompatible. We could instead implement `toXmlElement()` methods for all the matrix types, but then we are no longer leveraging the `writeUnformatted()` infrastructure.

[2016-06-07 14:52] sherm1 commented on #507
Yeah I guess a few ugly newlines isn't the end of the world.

[2016-06-07 14:54] #507 closed

[2016-06-08 07:42] chrisdembia commented on #505
By the way, `isNumericallyEqual()` does treat `NaN == NaN`: https://github.com/simbody/simbody/blob/master/SimTKcommon/Scalar/include/SimTKcommon/internal/NTraits.h#L301

A related issue: how to treat Infinity for "numerically equal"? This comes up with deserializing a `SymMat<3,Real>` (for the inertia tensor). The Ground's inertia tensor is `[[Inf, 0, 0], [0, Inf, 0], [0, 0, Inf]]`, which gets de

[2016-07-05 17:54] danhambleton opened #509 "Multithreaded Dynamic Triangle meshes?"
Hi there,

I'm not sure this is the right spot for this, but I'm reviewing Simbody for use in a commerical app. There are a couple key things that we need:

- Dynamic triangle mesh support (rigid bodies with arbitrary collision geometry)
- Multithreaded contact/timestep calculation

I've been playing around with the examples a bit, and it looks like triangle meshes are supported. However, despite

[2016-07-09 10:37] traversaro opened #510 "simbody includes and links statically a forked IpOpt library, whose symbols conflicts with system IpOpt"
- Debian bug report : https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=830506
- Gazebo bug report : https://bitbucket.org/osrf/gazebo/issues/2005/segfault-when-calling-ipopt-virtual-method

Quoting @drdanz from the Debian bug report :

As I am able to understand from https://github.com/simbody/simbody/issues/348 , the simbody internal IpOpt is a fork of an old version of IpOpt, so using directly

[2016-07-09 16:56] chrisdembia commented on #510
Ah! I've had this issue too!

Seems we could add the following to [this cmake file](https://github.com/simbody/simbody/blob/master/SimTKmath/Optimizers/src/IpOpt/CMakeLists.txt):

[code]

[2016-07-11 03:55] sherm1 commented on #510
Would that prevent the internal IpOpt from working properly? And is this also a problem on Windows?

[2016-07-11 04:00] chrisdembia commented on #510
My understanding is no; `-fvisibility=hidden` only affects linking against other shared libraries; not visibility within the same shared library. Users of the `SimTKmath` library couldn't try to link against Simbody's IpOpt anyway; as @traversaro mentioned, the IpOpt headers aren't installed. I haven't tried this yet though.

I don't think so; from what I saw, there is no `__declspec(dllexport)` i

[2016-07-11 04:24] chrisdembia commented on #510
My scheme may not be the best idea...it could cause issues with exceptions arising from IpOpt:

https://gcc.gnu.org/wiki/Visibility

[2016-07-11 16:50] sherm1 commented on #510
@chrisdembia, would it make sense to pull IpOpt out of Simbody and make it an external instead?

[2016-07-11 17:08] chrisdembia commented on #510
I think it is a great convenience to not have to build IpOpt on your own when using Simbody. On non-windows platforms, users can get IpOpt through package managers. Not so on Windows. Ideally, the chocolatey package manager would have an IpOpt package. Right now, it does not (I just checked). If @klshrinidhi created a "superbuild" procedure for Simbody, that could also allow us to remove IpOpt fro

[2016-07-15 00:48] j-rivero commented on #510
Thanks @traversaro for handling the problem and @chrisdembia and @sherm1 for answering fast.

I agree with the diagnostic and the proposed solutions. Removing the symbols will break the ABI so we will need a bump in the SONAME and the package name in debian. The best way of doing this would be to release a new version 3.6.x if possible. If this is not possible I will need to make some tricks with

[2016-07-18 20:18] moorepants commented on #400
I'm getting the same test failure when building with openblas on linux:

https://circleci.com/gh/conda-forge/staged-recipes/6288

Not sure what the fix is.

[2016-07-18 20:32] sherm1 commented on #400
Hmmm. I see random numbers being used in that test :-(. That is a recipe for flakiness, so it is very possible this is just a flake.

[2016-07-18 20:33] chrisdembia commented on #400
The test could be modified to use the same seed to make it more reproducible.

[2016-07-19 18:04] moorepants opened #511 "Simbody 3.5.3 does not include the GLUT headers if stored somewhere other than `/usr/`."
Note from @chrisdembia:

i think we have gotten away without that b/c usually GLUT headers are in `/usr/local`

You can see the failure in action here:

https://circleci.com/gh/conda-forge/staged-recipes/6341

[2016-07-19 18:15] chrisdembia commented on #511
Thanks for reporting.

[2016-07-19 23:01] chrisdembia opened #512 "Hard-code relative path from SimTKsimbody library to simbody-visualizer"
Right now, we hard-code a full path to the installed location of the simbody-visualizer; see https://github.com/simbody/simbody/pull/64. It might be better to hard-code a relative path from the SimTKsimbody library file to the simbody-visualizer executable. This would allow us to relocate the installation and still find the visualizer without setting environment variables.

[2016-07-19 23:43] moorepants commented on #512
Here is a use case: https://github.com/conda-forge/staged-recipes/pull/1076#issuecomment-233785977

With conda we have to overwrite the hardcoded path to make things relocatable.

[2016-07-25 10:50] wagglefoot opened #513 "Errors while installing v. 3.5.3."
Hello!

Just wanted to share some errors encountered whilst trying to install v. 3.5.3 on an Ubuntu 14.04 machine.

Setting the install directory to `~/simbody` and then getting as far as `ctest -j8` yields the following error:

[code]
Ignoring the above and moving onto `sudo make -j8 install` yields:

[code]
The structure of `~/simbody` upon receiving the above error is `~/simbody/share/doc/simbo

[2016-07-25 14:07] moorepants commented on #513
Note that the first error your report is already reported in issue #400. Maybe you can comment there on your gcc version and blas/lapack version.

[2016-07-25 14:31] wagglefoot commented on #513
Oooops, yes that was a year ago. I'll post here and there.

[2016-07-25 14:32] wagglefoot commented on #400
Compiler version:

`g++ (Ubuntu 4.9.3-8ubuntu2~14.04) 4.9.3
`

[2016-07-25 14:32] wagglefoot commented on #513
Compiler version:

`g++ (Ubuntu 4.9.3-8ubuntu2~14.04) 4.9.3`

[2016-07-25 14:44] chrisdembia commented on #513
But is `api` a file or a folder?

[2016-07-25 15:03] wagglefoot commented on #513
It's supposed to be a folder. It is a folder when the install dir is `/usr/local/`

[2016-07-25 15:05] chrisdembia commented on #513
Yes but the error message indicates that it's a file instead of a folder; is that the case?

[2016-07-25 15:13] wagglefoot commented on #513
It is a folder, not a file since I managed to `cd` into it.

[2016-07-26 05:49] chrisdembia opened #514 "Public interface for calcConstraintAccelerationErrors()"
Right now, there is an internal method `SimbodyMatterSubsystemRep::calcConstraintAccelerationErrors()`; this method is not available to Simbody users. I'd like to add a method `SimbodyMatterSubsystem::calcConstraintAccelerationErrors()`. This would be very similar to the presence of `SimbodyMatterSubsystemRep::calcBodyAccelerationFromUDot()` and `SimbodyMatterSubsystem::calcBodyAccelerationFromUDo

[2016-07-26 06:24] chrisdembia commented on #514
Right now, the internal `calcConstraintAccelerationErrors()` takes `A_GB`, `udot`, and `qdotdot` as arguments. What do you think about having the public variant just take `udot` and use it to compute `A_GB` from the public `calcBodyAccelerationFromUDot()`, and compute `qdotdot` from the public `calcQDotDot()`?

[2016-07-26 17:17] sherm1 commented on #514
I see there is already a method `Constraint::calcAccelerationErrorFromUDot(state,udot)`. But I went to look at the implementation and saw this:
[code]
So I guess that's not very helpful!

[2016-07-26 17:40] sherm1 commented on #514
Yes, that's definitely the way to do it. The A_GB, qdotdot, and udot must all be consistent so you don't want to trust users to supply those.

A few testing ideas:
- use forward dynamics on a constrained system to calculate udots; save those; then using a different State object that has been realized only to Velocity stage, call your new method with (a) zero udots and verify you get non-zero error

[2016-07-26 18:45] chrisdembia commented on #514
❗  ->  😞

Thank you for those testing ideas.

I'll proceed on this now.

[2016-07-27 20:15] jstaf opened #516 "Add version dependency for LAPACK in readme"
I've compiled OpenSim 3.3 with Simbody 3.5.3 on CentOS 6. Anyhow number of `analyze` (OpenSim) runs were crashing with this extremely cryptic error (some, but not all runs would crash):

[code]

It turns out that this was caused by the CentOS 6 LAPACK libraries (3.2.1) being too old. Can you add a note in your Linux compilation instructions to indicate that a specific version of LAPACK is required

[2016-07-27 20:23] chrisdembia commented on #516
Ideally we would require the oldest version that works. Do you know which version of LAPACK fixes this bug?

[2016-07-27 20:24] chrisdembia commented on #516
Also, thank you for reporting this! And for testing a different version of LAPACK.

[2016-07-27 20:53] jstaf commented on #516
It looks like OpenSim supports Ubuntu versions 13.10 and newer, so I would assume that the version of LAPACK used by Ubuntu 13.10 and newer would work. Canonical doesn't have the package list for 13.10 up anymore, but it looks like [Ubuntu 14.04 uses LAPACK 3.5.0](http://packages.ubuntu.com/trusty/liblapack-dev).

LAPACK 3.5.0 seems like a safe bet as to the minimum required version.

[2016-07-27 20:59] chrisdembia commented on #516
Okay that sounds good to me. Thank you for looking into that. It's unclear to me if `find_package(LAPACK)` supports a version number, given that this will probably use [`FindLAPACK.cmake`](https://github.com/Kitware/CMake/blob/master/Modules/FindLAPACK.cmake) and this file does not mention `version` anywhere.

https://cmake.org/cmake/help/v3.0/command/find_package.html

[2016-07-27 21:19] jstaf commented on #516
Honestly, just having a note about it in the Simbody compilation instructions would probably be enough. I'm not too well-versed with cmake so I'm not sure I can be that helpful in regards to having it search for a required version automatically.

[2016-07-27 21:27] chrisdembia commented on #516
Good point. Would you be interested in making a PR for that? If not, I'll try to do it later today.

[2016-07-27 22:10] jstaf commented on #516
Sounds good, I'll add a PR for things tomorrow morning.

[2016-07-28 01:45] chrisdembia commented on #516
Woohoo! Thank you.

[2016-07-28 14:48] #514 closed

[2016-07-29 19:00] jstaf commented on #516
Pull request sent. After doing some testing, it appears that only LAPACK 3.6.0 fix the issues on Linux.

[2016-08-02 10:03] mitkof6 opened #519 "convertRotationToQuaternion flips the sign of the quaternion elements"
It seems that in some cases almost identical Euler angles are reproduced by quaternion with flip signs.

For example:

 [0.003 -0.803  0.588 -0.099] ->  [173.508  9.350  72.959]
 [0.003  0.803  -0.588  0.099] -> [ 172.953  8.941  72.979]

In case that someone is calculating numerical derivatives, will get large values because of the sign change. I find that when I use the following implementation

[2016-08-02 17:56] sherm1 commented on #519
Hi, Dimitar. Can you be more specific about what derivative you are attempting to calculate? The main utility of quaternions is that they are smooth under differentiation, while Euler angle are discontinuous. I'm not sure how a Rotation-to-Quaternion conversion method relates to differentiation in this case. Regards, Sherm

[2016-08-03 07:37] mitkof6 commented on #519
Hi Sherm,

I have a quaternion set where I perform interpolation and then I compute first and second order derivatives with finite difference. The problem is that these quaternions originate from a rotation matrix, which I compute and then I use `convertRotationToQuaternion `. Unfortunately, for some unknown reason the current implementation of `convertRotationToQuaternion ` flips the sign of adju

[2016-08-03 12:58] chrisdembia commented on #519
I think @sherm1 understood the problem but wanted to know what you are using the derivatives for. For optimization? For a PD control term?

[2016-08-03 15:20] sherm1 commented on #519
There is no unique mapping from Rotation to Quaternion, because a quaternion and its negative represent the same orientation. To avoid arbitrariness, the Simbody `convertRotationToQuaternion()` uses that scale line to generate the ["canonical"](https://simtk.org/api_docs/simbody/latest/singletonSimTK_1_1Quaternion__.html#details) quaternion, that is, the one that has its first element positive. Th

[2016-08-03 20:02] mitkof6 commented on #519
Thanks for the comments. I care for the derivative of the quaternion wrt to time, which I need in order to compute the angular velocity and acceleration. I ensure that I can evaluate an orientation (use smooth quaternion splines, which I populate) on the unit length quaternion so that it always represents a rotation.

For now it seems that the aforementioned implementation does the trick. Do you k

[2016-08-03 21:27] sherm1 commented on #519
I think I'm still unclear on what you're doing, Dimitar. Simbody calculates all those derivatives analytically but I think you already know that so you must be doing something else.

[2016-08-03 21:38] mitkof6 commented on #519
Sorry. I estimate these quantities from measurements, and I don't extract them from simulation. I reconstruct the spatial properties of a body from the measured marker trajectory (>=3). For a given set of marker positions at n and n + 1 I compute the transition transformation. Thus if I multiply all transformation (with known initial condition) I know the desired orientation that I want to achieve

[2016-08-03 22:48] sherm1 commented on #519
I think I get it now. You know Rotation matrices R_GB[n] and R_GB[n+1] where R_GB is the orientation of a body B's frame in the ground frame. You would like to smoothly interpolate between those two orientations. So you convert the Rotations to Quaternions Q_GB[n] and Q_GB[n+1] to facilitate interpolation. But there is some arbitrariness to conversion from R to Q, because +/-Q represent the same o

[2016-08-04 06:36] mitkof6 commented on #519
Thank you Sherm, for the the detailed explanation.

I compute the optimal transformation that maps two point set from n to n+1, that is T_GB = {R, t} as you correctly pointed out. Can you be more specific how I can work in local frame instead (procedure)? Should I express the marker positions in body frame and then compute the relative transition? Please note that I also have a translation compone

[2016-08-04 06:50] mitkof6 opened #520 "CMAES Optimizer get stuck for high dimension problem"
I am trying to perform Anderson F.C., el al., A Dynamic Optimization Solution for Vertical Jumping, and to find a solution through optimization. There is something that me and some students want to test. I took a code written from Carmichael and adapted it so I can have the same criterion as in the original paper. I choose CMAES, because the other optimization algorithms does not find a good solut

[2016-08-04 13:23] mitkof6 commented on #519
I know T_GB(n) = T_GB(n, n-1) * ... * T(1, 0) * T(0), where T(0) is the initial pose of the body wrt to the ground frame and T(n, n-1) is the transition from n to n-1. Do you actually, mean that I should compute my derivatives ignoring T(0) and then at the end I multiply by T(0) my orientations and as for the angular velocity and acceleration they are zero?

[2016-08-04 16:39] sherm1 commented on #519
Let Bn be the body frame at step n, Bn+1 that same frame but at the next sample point. We would like to get the transform T_BnBn+1, that is, the *relative* pose of Bn+1 as seen from Bn. That is presumably a small rotation (and small translation) so should be easy to work with.

From mocap you could get the transforms `T_GBn` and `T_GBn+1`. Then `T_BnBn+1=T_BnG*T_GBn+1` where `T_BnG=~T_GBn` (~ mean

[2016-08-04 16:41] sherm1 commented on #519
Yes. It is to turn a non-deterministic result into a deterministic one. In most cases it ensures that a pair of quaternions that are nearby have similar representations, but as you've seen it can fail for large rotations when they wrap around at 180 degrees. But that non-determinism doesn't go away if you ignore it!

[2016-08-04 18:05] chrisdembia commented on #520
Cool project; thank you for sharing.

Dimitar, could you make the title of this issue more specific? Is this a Simbody issue, or a CMAES issue? That is, if you use other CMAES implementations, do they have the same problem? What is p?

[2016-08-04 20:43] mitkof6 commented on #520
I can't figure out where it gets stuck, but I will have a look again. I have used Simobody's CMAES.

p is the number of control nodes per muscle, so when I increase p the algorithm gets stuck in the initialization.

[2016-08-04 20:46] mitkof6 commented on #519
Thank you Sherm, it seems that the discontinuity reemerged, I will let you know when I fix it.

Best

[2016-08-30 19:39] wagglefoot opened #522 "Some simbody 3.5.3 tests fail on Ubuntu 14.04 LTS"
Following

`ctest -j8`

we get

[code]

This is on a Ubuntu machine running 14.04 with `cmake version 3.2.2`.

[2016-08-30 20:13] chrisdembia commented on #522
Thank you for sharing. What compiler (and version) did you use? It is suspicious that the static version of some tests fail, but the shared version passes. Is this from a fresh build directory? Did you perhaps update any software on your computer between when you created the build directory and now? What do the tests output? `ctest -j8 --output-on-failure`

[2016-08-30 20:17] sherm1 commented on #522
I notice these are the "static" versions of the tests (i.e. linked with static libraries). I don't think we have tried those for a long time. Do you get the same failures with the dynamic tests? I believe the static tests require some `#define` magic -- maybe those particular tests don't have it.

[2016-08-30 20:19] wagglefoot commented on #522
@chrisdembia this all happened within the space of a few hours and I have the most recent versions of cmake and swig (not that it is used). And they were updated today before I downloaded the source (today).

Alas;

[code]

[code]

[2016-09-20 21:10] scpeters opened #523 "Compilation failure with macOS 10.12 SDK"
A build failure of simbody 3.5.3 was reported in https://github.com/osrf/homebrew-simulation/issues/135 ([full details here](https://gist.github.com/bwithbroe/9247eaf889cdaf3e0a97f9df27682af6)) that can be summarized with the following error message:

[code]

They were using macOS 10.11 but with the macOS 10.12 SDK, which appears to define the `clockid_t` type. This will probably cause the same bu

[2016-09-20 21:17] chrisdembia commented on #523
Thank you for reporting this.

10.12 was released today!

@sherm1 I can try to fix this. Let me know if you have any suggestions on the fix.

[2016-09-21 01:03] chrisdembia commented on #523
Related:
- https://github.com/Homebrew/homebrew-core/issues/2674
- https://github.com/Homebrew/homebrew-core/issues/1957
- https://github.com/civetweb/civetweb/pull/356/files

[2016-09-21 02:50] sherm1 commented on #523
Hi, @chrisdembia. Thanks for volunteering to fix this! Looks like I had to fake `clockid_t` and `clock_gettime()` for earlier OSX versions (in Timing.h). If you can figure out what magic `#ifdef` determines whether OS 10.12's SDK is in use, those definitions could be skipped.

[2016-09-22 22:51] #523 closed

[2016-09-22 23:03] chrisdembia commented on #523
Thank you for merging #524. Do you think we should make a new release (3.5.4), so that a released version of Simbody supports macOS 10.12?

[2016-09-23 03:41] sherm1 commented on #523
To do that would require a backport to the simbody-3.5 branch since #524 went into the master (3.6) version. That would allow C++03 compilations on 10.12 -- is that still useful? Otherwise we could consider just including that in a 3.6 release with the other new goodies there.

[2016-09-23 05:09] chrisdembia commented on #523
I am fine with having this bug fix in a 3.6 release. My reason for suggesting 3.5.4 instead was that I thought a 3.6 release was not ready yet, and it would be nice to have the bug fix release somewhat soon. But if you think the 3.6 release could be soon, then we do not need to backport.

[2016-09-26 19:54] bwithbroe commented on #523
Do you have a rough release schedule for 3.6?

[2016-09-26 20:08] sherm1 commented on #523
Not yet. @chrisdembia and I need to discuss to decide whether 3.6 is really ready to go now. Otherwise the 3.5.4 options sounds good - how fast do you need it?

[2016-09-26 20:39] scpeters commented on #523
Also related: https://github.com/Homebrew/brew/pull/1078

[2016-09-26 20:44] chrisdembia commented on #523
Thank you for sharing, @scpeters. Is the idea that Simbody could use a CMake variable `HAVE_CLOCK_GETTIME` to decide if we should define `clock_gettime()`? To make good use of this variable, wouldn't Simbody's CMake scripts have to detect if they were being run as part of Homebrew?

[2016-09-26 21:45] scpeters commented on #523
I was just posting that for reference; I think it won't solve the issue for people building simbody from source without homebrew, but it may resolve the issue of people building simbody 3.5.3 with homebrew with xcode 8 on macOS 10.11. Maybe not actually, since it says it addresses lazy linking but it probably won't fix the compilation errors?

[2016-09-26 21:48] chrisdembia commented on #523
Ah good point...

[2016-09-29 20:22] bwithbroe commented on #523
@chrisdembia - I'm working on a project that requires simbody as a dependency for something else. For now I can use a lab machine (and the other members of the team can run it fine, since they already compiled simbody). Sooner rather than later would be nice but I don't have any hard deadlines.

[2016-09-29 23:12] klshrinidhi opened #525 "Compiler warning in SimTKCommon/internal/NTraits.h"
Following line is causing `reference to a dereferenced null pointer is undefined behavior` warning:
[code]

[2016-10-01 22:08] chrisdembia commented on #523
@scpeters and @bwithbroe: Simbody 3.5.4 has been released. This version of Simbody incorporates the fix for Xcode 8 and MacOS10.12.sdk.

[2016-10-02 01:13] daveminh commented on #523
I just compiled SimBody using cmake for the first time.

It was on Mac OS X with Xcode Version 8.0 (8A218a) and CMAKE_OSX_SYSROOT set as /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.12.sdk.

I got this issue:

Minh-IIT-MBP:simbody-build dminh$ ./ExamplePendulum
dyld: lazy symbol binding failed: Symbol not found: _clock_gettime
  Referenced from: /Use

[2016-10-02 02:52] chrisdembia commented on #523
Thanks for trying this out @daveminh.

What was your `CMAKE_OSX_DEPLOYMENT_TARGET`? Make sure it was `10.11`. Since the error message says `...built for Mac OS X 10.12`, it seems like your `CMAKE_OSX_DEPLOYMENT_TARGET` was `10.12`.

[2016-10-02 03:59] daveminh commented on #523
Okay thanks. I just updated to Mac OS X 10.12 and it worked. I didn't set CMAKE_OSX_DEPLOYMENT_TARGET to any value. so I guess it was 10.12.

[2016-10-08 00:40] kidzik opened #531 "README typo [hyperminor issue]"
In the ubuntu installation part there is

    sudo apt-get install libsimbody-dev libsimbody-doc

should be

    sudo apt-get install libsimbody-dev simbody-doc

[2016-10-08 00:49] scpeters commented on #531
We host Ubuntu trusty packages at [packages.osrfoundation.org](http://packages.osrfoundation.org/gazebo/ubuntu-stable/pool/main/s/simbody/), and at the time they were built it was called `libsimbody-doc`. Now simbody is in the [official Ubuntu repositories](http://packages.ubuntu.com/source/xenial/simbody) and it is called `simbody-doc`, as you say.

[2016-10-08 00:51] kidzik commented on #531
Sure, I didn't want to complain, I am just in the process of getting into OpenSim and trying tutorials so when I found a minor confusing type I decided to report/note here.

[2016-10-08 01:01] chrisdembia commented on #531
Nice catch @kidzik. Thanks for the background, @scpeters. I've submitted a PR to fix this.

[2016-10-08 01:04] scpeters commented on #531
Yes, thanks for posting @kidzik !

[2016-10-08 18:23] #531 closed

[2016-10-14 15:38] clnsmith commented on #522
Hi all,

I'm building on Scientific Linux 6 using GCC 4.8.2 and Lapack 3.6.1 and I am getting the same failed tests:

The following tests FAILED:
	164 - GazeboReactionForceWithAppliedForceRigidStatic (Failed)
	172 - TestReverseMobilizersStatic (Failed)
	182 - GazeboReactionForceWithAppliedForceCompliantStatic (Failed)
Errors while running CTest

The shared library versions of the same tests all pa

[2016-10-14 17:47] sherm1 commented on #522
It's disturbing to me that there would be *any* difference between the static and shared-library builds.

[2016-10-14 19:27] chrisdembia commented on #522
@clnsmith are you trying to build Simbody's master branch? Or 3.5.x? Just curious; this doesn't affect my understanding of what's wrong (I have no clue what's wrong).

[2016-10-14 20:12] clnsmith commented on #522
3.5.3

The code is from "Download Package" from "OpenSim Source Code" https://simtk.org/frs/index.php?group_id=91

[2016-10-14 21:56] chrisdembia commented on #522
Thanks.

Two static tests fail for me on macOS 10.12, Apple Clang 8.0.0, latest master branch.

[code]

[2016-10-18 11:12] mitkof6 commented on #520
It seems that a bad initialization of the parameter space, and the default standard deviation of CMAES can cause this problem. A proper initialization of the CMAES will not cause problems, even if there are many parameters.

[2016-10-18 17:10] chrisdembia commented on #520
Alternatively, it may help to scale the problem better? Perhaps the best fix is to add more documentation about choosing the parameters of the CMAES algorithm.

[2016-10-25 05:12] moorepants opened #535 "Add conda as an install option"
I've built Simbody for [conda](http://conda.pydata.org), a cross platform package manager, through the [conda-forge](https://conda-forge.github.io/) build system. Now, anyone one using Windows, Mac, or Linux can easily install binaries of Simbody if they have conda installed, using identical  commands. This shows how to install and run one of the examples:

[code]

Compiling custom code that links

[2016-10-25 05:24] sherm1 commented on #535
That's awesome, @moorepants! Thanks!

[2016-10-25 05:25] sherm1 commented on #535
Please consider submitting a PR to add this.

[2016-10-25 05:32] chrisdembia commented on #535
@moorepants thank you. I agree; we should add mention of conda to the README.

The CMakeLists should be simpler. Specifically, `CONDA_PREFIX` should not appear. The CMakeLists should look as follows:

[code]

Then, CMake should be invoked like this:

[code]

The `find_package()` command will search in the `CMAKE_PREFIX_PATH` for files like `SimbodyConfig.cmake` (located in lib/cmake).

[2016-10-25 05:48] moorepants commented on #535
Thanks. I don't know how to use cmake properly. The above was just the first thing I got to work :)

I'll try yours.

[2016-10-25 05:49] moorepants commented on #535
I get this error:

[code]

[2016-10-25 05:50] moorepants commented on #535
Note that my simbody build is 3.5.3.

[2016-10-25 16:37] moorepants commented on #535
When I submit a PR should I branch off of 3.5.4 or the HEAD of master?

[2016-10-25 16:44] chrisdembia commented on #535
think the change should be present in both the master and simbody-3.5 branches. If you make a PR into master; I will backport your change to the simbody-3.5 branch.

[2016-10-25 16:54] moorepants commented on #535
Ok

[2016-10-25 18:19] chrisdembia commented on #535
Hmm...Is there a SimbodyConfig.cmake inside $CONDA_PREFIX/lib/cmake? Possibly in lib/cmake/simbody or lib/simbody/cmake.

Cool stuff by the way; thanks for all that work! I think language agnostic package managers are better than packages managers for each language. So I like conda more than some of the attempts to make c++-specific package managers.

[2016-11-01 18:59] carmichaelong commented on #520
Was it the case that your initial guess had many parameters that were near their bounds and/or your standard deviation was large compared to the range of the bounds of your parameters? Since CMAES has to sample a distribution to generate a population, sometimes it can sample outside of the bounds. In this case, it must *resample* the distribution (or else you'd get some bias in your sampling if yo

[2016-11-03 16:34] ece7048 commented on #520
I am using an optimization in the same problem with a 36 points in each muscle and runs well. For each of the initial values of parameters, you have to set a good set up of the "init_stepsize" for the convolution matrix with the: opt.setAdvancedRealOption("init_stepsize", X);. The X value is depending  the initial values of the parameters and the limit boundaries. For example if you used 0.5 for o

[2016-11-03 16:38] ece7048 commented on #520
The stucks happend because it tries to found a correct sample and  this it may will  take a lot of time with respect the case.

[2016-11-03 16:38] chrisdembia commented on #520
Thank you @ece7048 . This all sounds correct. It might be good to add this to the documentation. Perhaps here: https://github.com/simbody/simbody/blob/master/SimTKmath/include/simmath/Optimizer.h#L319

[2016-11-14 19:11] aseth1 opened #537 "MultibodyGraphMaker incorrectly handles an intermediate massless body"
This issue was first raised in OpenSim [here](https://github.com/opensim-org/opensim-core/issues/1388)

The translation of a body (pelvis) is defined by two sliders. The first slider mobilizes a massless body and the second slider mobilizes the full mass of the pelvis. Two massive bodies (right and left thighs) mobilized by pins are connected to the pelvis.

The MultigraphMaker introduces two Free

[2016-11-21 22:51] sherm1 opened #538 "const Matrix methods should return const views"
The return type from the const overloads of methods like `Matrix::row()` should return `const` view objects. For example, `Matrix::row() const` should have return type `const RowVectorView`.

The reason is that if the compiler-generated temporary return object is used to invoke another method, for example:
[code]

Thanks to @klshrinidhi for pointing this out in opensim-org/opensim-core#1410.

[2016-11-21 22:57] sherm1 commented on #538
Relevant [stackoverflow entry](http://stackoverflow.com/questions/12051012/should-i-return-const-objects).

A caution: a const return temporary can't be an rvalue reference so might not play nicely with C++11 move semantics. Please consider that when fixing.

[2016-11-22 16:01] skalaouzis commented on #371
Hi, I have solve  Sequential quadratic programming (SQP) problems with genetic algorithms and i have the .cpp files... but i need some informations about the objective functions and the constraints or the datasets of the problems

[2016-11-22 17:09] chrisdembia commented on #371
Hey @skalaouzis. I'm not sure what your question is.

[2016-12-06 10:09] mitkof6 commented on #520
@chrisdembia Correct me if I am wrong but it seems that the init_stepsize is the same for all variables. Since this parameter is essential, this may be problematic in case that the parameters under optimization have different bounds (lower and upper). A solution would be to transform the variables in the region [0, 1] and use the same std or enable the user to specify an array of std for each para

[2016-12-06 19:12] chrisdembia commented on #520
You are correct; the code is [here](https://github.com/simbody/simbody/blob/master/SimTKmath/Optimizers/src/CMAESOptimizer.cpp#L160).

The way that we have used CMA is to scale the parameters to achieve the desired effective standard deviation for each parameter. You are right though that this is not the ideal interface. You could also imagine the optimizer interface handling the scaling of parame

[2016-12-06 19:29] mitkof6 commented on #520
@chrisdembia I have implemented a Vector set, get advanced option and fixed this issue. I will see if any other optimization parameter should be exposed and will post a pull request.

[2016-12-06 23:02] ece7048 commented on #520
I am not sure but a solution It may be to normalized all the parameters to be  in space of [0,1] and then do the fix std deviation.

[2016-12-06 23:25] carmichaelong commented on #520
This is a very good way to deal with this (both specifically for CMA and for other optimizers).

I have found this also can work pretty well. Looking at the code snippet that @chrisdembia mentioned, it looks like you just have to be careful about dealing with the `init_stepsizeArray` and `stddev`. Remember that in CMA, there is a constant in front of the covariance matrix that also scales the prob

[2016-12-13 05:43] sherm1 commented on #537
Thanks @aseth1 -- definitely looks wrong. I will investigate (soon, hopefully!).

[2016-12-13 06:02] aseth1 commented on #537
That would be great! Thank you @sherm1

[2016-12-23 14:31] david-haber opened #543 "Segmentation fault when creating Inertia object"
We ran into a segmentation fault when executing the following code on Debian 8.5 and Simbody 3.4 (installed from apt-get).

rigid_test.cc:
[code]

We used the following compiler command:

`g++ -std=c++11 -std=gnu++11 -isystem /usr/include/simbody -Wall -g -Wfatal-errors -c -o rigid_test.o rigid_test.cc
g++ -L/usr/lib/ -lSimTKsimbody -lSimTKmath -lSimTKcommon  rigid_test.o lib.a -o rigid_test`

and

[2016-12-23 14:43] david-haber opened #544 "Segmentation fault in realizeTopology"
We get a segmentation fault in realizeTopology() when executing the following code on Debian 8.5 and with Simbody 3.5.3 built from source.

minimum_example0_test.cc:

[code]

dcmotor_simplified.hh:

[code]

dcmotor_simplified.cc:

[code]

We used the following commands for compilation:

`g++ -std=c++11 -std=gnu++11 -isystem /usr/local/include/simbody -I/home/xxx/repos/exp-simmc -Wall -g  -Wfatal-e

[2016-12-23 15:12] traversaro commented on #544
I may be wrong, but this seems to be related to a mismatch between the Simbody ABI of the compiled version of Simbody and the ABI as seen by your code.

I don't know if Simbody 3.5.3 can be compiled with C++98, but just to be sure, with which option did you compiled Simbody 3.5.3 from source? If for some reason Simbody 3.5.3 is compiled using C++98, this could cause problems due to the mismatch of

[2016-12-23 20:10] sherm1 commented on #543
The apt-gettable binary for Simbody 3.4 was built using C++03. The gcc ABIs for C++03 and C++11 are not compatible, so it is *possible* that specifying c++11 here is the problem -- try it without that. If you want to use Simbody with C++11 you'll need to build Simbody from source with -std=c++11 using the most recent release, 3.5.4 which you can get [here](https://github.com/simbody/simbody/releas

[2016-12-23 20:43] sherm1 opened #545 "Debian installation of Simbody 3.5.3 doesn't include visualizer or examples"
On Ubuntu 16.04 I installed Simbody with
[code]
The installation worked fine when I used the libraries (see issue #543). However, I couldn't find the `simbody-visualizer` executable or the example programs so I couldn't do anything with it other than link.

Also the documents installed in /usr/share/doc/simbody were still gzipped after installation.

@j-rivero and @chrisdembia, is this expected be

[2016-12-23 21:20] sherm1 commented on #544
The method `registerWithPrerequisites()` does not exist in Simbody 3.5.3, and line State.cpp:1009 doesn't exist either since that file has 883 lines in that release. It looks to me that you are actually linked with the Simbody master branch code, which has version number 3.6. That suggests some confusion about what is being built, or possibly that the linker is finding libraries other than the one

[2016-12-24 20:12] chrisdembia commented on #545
What about `sudo apt-get install libsimbody`? Or maybe `sudo apt-get install libsimbody3.5v5`? See [here](https://packages.debian.org/search?keywords=simbody&searchon=names&suite=all&section=all). I suspect this would not fix the gzipped documents though.

[2016-12-24 20:15] chrisdembia commented on #543
What if you use a later version of Simbody from debian (seems like 3.5 is in the testing and unstable distributions (https://packages.debian.org/search?keywords=simbody&searchon=names&suite=all&section=all).

[2016-12-24 22:21] sherm1 commented on #545
Thanks, Chris. I tried those. Apparently `libsimbody` doesn't exist, and when I asked for `libsimbody3.5v5` it said "already installed" so I think it must have come along with `libsimbody-dev`.

[2016-12-25 20:26] sherm1 commented on #545
Thanks, Steve. I did install that along with libsimbody-dev. It provided the gzipped documenation I mentioned but apparently not the examples.

[2016-12-26 06:39] scpeters commented on #545
Sorry, I didn't read carefully enough!

[2016-12-26 06:42] scpeters commented on #545
I think this is the debian metadata for what gets installed by the `simbody-doc` package:

* https://anonscm.debian.org/cgit/debian-science/packages/simbody.git/tree/debian/simbody-doc.install

[2017-01-30 02:32] #535 closed

[2017-02-05 09:16] YuriOsokin opened #547 "Const in HandleEvent definition"
I try to use another library for the control of the dynamical system, which I simulate in SimBody. I created the PeriodicEventHandler, which applies controlled force to the joints. The problem is that the HandleEvent callback has const in its declaration. The library I use does not have const method in it. So, I have a variety of problems with it.
For example:
HandleEvent (..) const {
  Joint.SetF

[2017-02-05 17:40] chrisdembia commented on #547
This question is more appropriate for the Simbody forum. Therefore, I am closing this issue; if we determine that there is indeed some bug somewhere (doesn't seem like it yet), we can reopen the issue.

From the [documentation of `handleEvent()`](https://github.com/simbody/simbody/blob/master/SimTKcommon/Simulation/include/SimTKcommon/internal/EventHandler.h#L55):

    describes the system at the

[2017-02-05 17:40] #547 closed

[2017-02-20 07:22] chrisdembia opened #549 "Return from waitFromKeyHit() if simbody-visualizer is closed."
I am writing an interactive MATLAB script using OpenSim and the simbody-visualizer. I am using `InputSilo::waitForKeyHit()` to start the simulation when the user hits any key in the simbody-visualizer, and to shut down the simbody-visualizer if the user hits the Escape key. This works great.

However, if the user closes the simbody-visualizer executable without any key presses, then the MATLAB scr

[2017-02-20 07:43] #549 closed

[2017-02-20 07:43] chrisdembia commented on #549
Nevermind, I can use `isAnyUserInput()` and `takeKeyHit()`.

[2017-02-20 19:35] spMohanty opened #550 "Issue running simbody on a headless server"
Hi,

So I have been trying to run simbody (via OpenSim) on a headless server, and I keep getting this error :
[code]

I tried using both xvfb and xpra, the issue still remains.

The goal is to use a slightly modified version of simbody-visualiser to automatically save the movie at a particular location (which it obtains from an env variable)

Any help or pointers will be really appreciated.

[2017-02-20 20:25] chrisdembia commented on #550
Seems like the same issue that #548 tries to address: destructing the visualizer causes that exception to be thrown if the simbody-visualizer has already been closed. Consider trying the change in #548.

As for modifying simbody-visualizer to save the movie, I cannot help. You can alternatively save the states to a file (using OpenSim's `Manager::getStatesStorage()`) and then write a new program t

[2017-02-21 03:11] spMohanty commented on #550
Hi @chrisdembia,
Thanks for the quick reply.

As it turns out, simply by starting xvpr using :
[code]

and then passing the new DISPLAY variable worked for me.
Although it does occassionally crash now and then.

And as for the saving of the movie, I directly edited simbody-visualizer.cpp to save the movie everytime to a filename that it can obtain from an env variable. And then I replace the bundl

[2017-02-21 05:39] chrisdembia commented on #550
Great. I am closing this issue then. Please re-open if necessary.

[2017-02-21 05:39] #550 closed

[2017-02-21 15:27] spMohanty commented on #550
Btw, I am still getting stray broken pipe errors now and then :( !!
I pulled the referenced commit, and recompiled the binary, still the same. About 1 in 10 runs crash.

[2017-02-21 17:02] sherm1 commented on #550
@spMohanty, the visualizer has been plagued by pipe problems on Ubuntu for ages. If you can figure out why that would be great!

[2017-03-28 09:05] jiangfeiyi opened #556 "simbody 3.5.3 compiling error in "usr/local/include/.." when building example on ubuntu 14.04"
I just installed simbody 3.5.3 on ubuntu 14.04, and tried to build example:
~/simbody/examples/ExampleGears.cpp
using g++:
`$ g++ ExampleGears.cpp`

Then I got the error as below:

                         ? this->getSubsystem().allocateCacheEntry
                         ^
/usr/local/include/SimTKcommon/internal/MeasureImplementation.h:577:25: note: candidates are:
In file included from /usr/loca

[2017-03-28 15:57] chrisdembia commented on #556
Could you provide the complete command you used? Did you use the `-std=c++11` flag?

[2017-03-29 07:01] jiangfeiyi commented on #556
thanks very much.
I solved this by using cmake.

[2017-03-29 07:02] #556 closed

[2017-03-29 07:23] chrisdembia commented on #556
+1 for CMake!

[2017-03-31 06:21] chrisdembia opened #558 "Add relative location from libSimTKsimbody.(so|dylib) to simbody-visualizer to the visualizer search path"
PR #64 cleverly inserted the build-time install location of the `simbody-visualizer` to the visualizer search path. However, for OpenSim users who get a binary distribution of OpenSim, this build-time absolute path will be incorrect. This is mostly a problem on macOS (on Windows, `simbody-visualizer` will be on the PATH for OpenSim users; on Linux, hopefully OpenSim will be installed into common s

[2017-04-03 05:37] chrisdembia commented on #558
@sherm1 if you would prefer that I do not make this change in Simbody, I can put it in OpenSim instead.

[2017-04-03 15:54] sherm1 commented on #558
(Sorry for the reply delay, Chris.) This sounds like a generally useful capability. Would it make sense to add a method to Simbody's `Pathname` class that would take a function address and return the pathname of the library it was loaded from? It could return some indication of whether the operation is supported and if so we could call it and add the result to the default visualizer search path.

[2017-04-03 16:32] chrisdembia commented on #558
Ah good idea. I will do that. Thank you.

[2017-04-04 15:23] #558 closed

[2017-04-10 17:33] chrisdembia commented on #512
This has been addressed for most UNIX systems; #559

[2017-04-10 17:33] #512 closed

[2017-04-11 15:06] shahidul56 opened #561 "Getting more done in GitHub with ZenHub"
Hola! @shahidul56 has created a [ZenHub](http://www.zenhub.com) account for the **simbody** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnbo

[2017-04-15 08:11] nikhil-bidgely opened #562 "Visualizer crashes on some sample examples"
Observed this bug this bug while using "ExampleContactPlayground" on 16.04 installed in virtual box. Simbody was installed using conda.

Other related issues:
[https://github.com/simbody/simbody/issues/155](url)
[https://github.com/conda-forge/simbody-feedstock/issues/15](url)

[2017-04-15 16:32] moorepants commented on #562
Duplicate of https://github.com/conda-forge/simbody-feedstock/issues/15

[2017-04-17 07:31] #562 closed

[2017-05-22 16:02] spMohanty opened #563 "Simbody crashing during visualization when running with a fake display server"
Hi,

I keep getting this error multiple times when running in visualization mode.
[code]

Anyone familiar with possible reasons why ?
I am using a slightly modified version of simbody (https://github.com/spMohanty/simbody) to be able to force generation of frames on every render.

I run it with a `xpra` fake display server for programmatic generation of the frames on the server. It seems to work c

[2017-05-22 16:11] chrisdembia commented on #563
Thank you for reporting @spMohanty . Does this occur in the middle of a simulation, or at the end? Are you sure this error occurs without your modified version of Simbody?

[2017-05-22 16:52] spMohanty commented on #563
Hi @chrisdembia,
Thanks for the really quick response.

And I was stuck with this problem for quite sometime, so I forgot to add some important context, that I have been trying to get it to run with a `xpra` fake display server. I have updated the main question to include this now.

And I don't think it has anything to do with my modifications, as my fork of the repository runs perfectly fine when

[2017-05-22 16:54] chrisdembia commented on #563
Could you provide more details about the exact scenario where the issue occurs? You are trying to render the frames on a machine other than the one performing the simulation?

[2017-05-22 18:33] spMohanty commented on #563
@chrisdembia : No, the simulations run a headless server which doesnot have a physical display attached.
The goal is to be able to generate an animation (GIF) for every simulation. So I started by forcing the saving of all the frames in every simulation. But that did not work out of the box, as glut could not find a display.

So, I setup a fake display using xpra (https://wiki.archlinux.org/index.

[2017-05-22 19:52] sherm1 commented on #563
Is this different than what you were seeing in #550 ?

[2017-05-23 09:29] spMohanty commented on #563
@sherm1 : Looking at my own description of the problem from a few months ago, it seems this issue is tied up with both xvfb and xpra. I was frustrated in getting it to run with xpra using a particular xpra config, but it has been really unstable even with that.
And thanks, I will try to investigate more on the cause of the broken pipe issues, and will report back on this thread if I find anything

[2017-06-04 12:55] YuriOsokin commented on #545
Hello, will this problem be fixed in the near future?

[2017-06-04 18:35] sherm1 commented on #545
Likely not unless @j-rivero is working on it. Building from source is the best option at the moment.

[2017-06-04 19:30] moorepants commented on #545
It is also possible to install using conda on a Debian system. The conda packages include the visualizer.

[2017-06-04 21:13] chrisdembia commented on #545
Thanks @moorepants. @YuriOsokin, see https://github.com/simbody/simbody#windows-mac-and-linux-using-conda

[2017-06-05 12:27] YuriOsokin opened #564 "Tests and examples do not run"
Hello,

I have downloaded the source code, build it with standard options with "make". It went well. Then I ran the "./SimbodyInstallTest". It opened the visualizer, draw the pendulum and stopped. Closing the visualizer window lead to following error in terminal "freeglut  ERROR:  Function <glutPostRedisplay> called without first calling 'glutInit'".
In example Pendulum in the SimBody build folder

[2017-06-05 14:58] sherm1 commented on #564
Strange. `glutInit()` is called first in `main()` of simbody-visualizer -- you can see it [here](https://github.com/simbody/simbody/blob/master/Simbody/Visualizer/simbody-visualizer/simbody-visualizer.cpp#L2731).

The only unusual thing I see here is the 32-bit Ubuntu. I suspect it has been a while since any of us ran anything but 64 bit. Has anyone built 32 bit successfully recently?

[2017-06-05 16:04] chrisdembia commented on #564
I have never tried Simbody on 32-bit Ubuntu.

[2017-06-19 01:15] chrisdembia opened #566 "RowVector cannot be created with 0 elements"
Constructing a RowVector as `RowVector rv(0)` results in a vector with `rv.size() == 1`. See #565 for a test case that shows this behavior.

[2017-06-19 01:27] chrisdembia commented on #566
I think the bug is [here](https://github.com/simbody/simbody/blob/master/SimTKcommon/BigMatrix/include/SimTKcommon/internal/MatrixCharacteristics.h#L906):

[code]

[2017-06-19 02:30] sherm1 commented on #566
Whoops! Great find, Chris.

[2017-06-21 18:20] chrisdembia opened #567 "States cannot be used with different Systems"
When we added support for parallel calculation of forces, we coupled State objects to the System they came from, by caching `Force*`s from the System in the State (see [here](https://github.com/simbody/simbody/blob/master/Simbody/src/GeneralForceSubsystem.cpp#L643) and [here](https://github.com/simbody/simbody/blob/master/Simbody/src/GeneralForceSubsystem.cpp#L713)).  This prevents users from easi

[2017-06-22 17:15] sherm1 commented on #567
Great find -- that's so wrong! Probably those pointers should have been ForceIndex values instead?

[2017-06-22 17:35] chrisdembia commented on #567
It'd be great if that will work.

[2017-08-15 15:02] #567 closed

[2017-08-24 02:28] chrisdembia opened #572 "Update README for Visual Studio 2017."

[2017-08-30 05:53] antoinefalisse opened #574 "std::memcpy does not work with ADOL-C type adouble"
We are trying to bring automatic differentiation to Simbody using ADOL-C. We have observed that std::memcpy does not work with adoubles, since this will copy the location in the tape and results in a shallow copy rather than a deep copy. Instead of using std::memcpy, we have seen that we could use std::copy which works with adoubles. We read that std::copy would delegate to std::memcpy when it is

[2017-08-30 15:25] sherm1 commented on #574
:+1: Good idea!

[2017-09-01 15:40] #574 closed

[2017-09-01 16:39] antoinefalisse opened #577 "Bringing automatic differentiation to Simbody through ADOL-C"
We have transformed part of Simbody to enable the use of automatic differentiation using ADOL-C which is an operator overloading tool. The key concept is the introduction of an active scalar type called _adouble_ whose real part is of the standard type _double_. All variables that may be considered as differentiable quantities should be declared as active and have _adouble_ as data type.

We are w